<template>
  <div class="banner">
    <div class="banner__image" :style="image"></div>
  </div>
</template>

<script>
import image from '../../../../img/nossoSamba/nossoSamba.png'
export default {
  setup() {
    const urlImg  = image
    return {
      image: { backgroundImage: `url(${urlImg})` }
    }
  },
}
</script>

<style lang="postcss" scoped>
.banner {
  @apply relative flex content-center items-center justify-center;

}

.banner__image{
        top: 0px;
    height: 229px;
    width: 428px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}
</style>
