<template>
  <section class="information">
    <h2 class="information__title">
      {{ event.name ?? 'Event Name' }}
    </h2>

    <section class="information__icons">
      <div class="information__wrapper">
        <calendar-icon class="information__wrapper--icon" />
        <div class="information__wrapper--text">{{ formatDate(event.date, "YYYY-MM-DD", "DD MMM").toUpperCase() }}</div>
      </div>
      <div class="information__wrapper">
        <clock-icon class="information__wrapper--icon" />
        <div class="information__wrapper--text">{{ formatDate(event.date, "YYYY-MM-DD HH", "HH \\H").toUpperCase() }}</div>
      </div>
      <div class="information__wrapper">
        <pinpoint-icon class="information__wrapper--icon" />
        <div class="information__wrapper--text">{{event.address?.city}}</div>
      </div>
    </section>

  </section>
</template>

<script>
import { formatDate } from "@/Common/Helpers";
import CalendarIcon from "@/Components/Icons/Calendar.vue";
import ClockIcon from "@/Components/Icons/Clock.vue";
import PinpointIcon from "@/Components/Icons/Pinpoint.vue";

export default {
  setup(props) {
    return {
      formatDate,
    }
  },
  methods: {
    icon(iconName) {
      return require(`@/../img/${iconName}.svg`).default
    }
  },
  components: {
    CalendarIcon,
    ClockIcon,
    PinpointIcon
  },
  props: {
    event: {
      type: Object,
      default: {}
    }
  }
};
</script>

<style lang="postcss" scoped>
.information {
  @apply bg-white py-3 px-8 mb-4 mx-0 shadow-lg rounded-md;

  &__title {
    @apply text-[color:var(--primary-color)] text-[length:var(--title-size)] font-bold mb-2 text-center;
  }

  &__icons {
    @apply grid grid-cols-3 gap-1 mb-4;
  }

  &__wrapper {
    @apply border border-solid border-[#D5D5D5] rounded p-3 flex flex-col items-center font-bold;

    &--icon {
      @apply flex items-center m-1 fill-current text-[color:var(--tertiary-color)] w-6 h-6;
    }

    &--text {
      @apply flex items-center h-1/2 text-center text-[color:var(--primary-color)] text-[80%];
    }
  }
}
</style>
