<template>
  <div class="ticket" v-for="ticket in listTickets">
    <div class="ticket__item">
      <div class="ticket__info">
        <p class="ticket__info--description">
          {{ ticket.description }}
        </p>
        <p class="ticket__info--price">
          R$ {{ formatDecimal(ticket.price) }} (+ taxa R$ {{ formatDecimal(ticket.fee) }})
        </p>
        <p class="ticket__info--expiration">Vendas até {{ formatDate(ticket.end_sales) }}</p>
      </div>
      <div v-if="isShowSalesTicket(ticket)" class="ticket__actions">
        <div class="ticket__actions--icon-wrapper">
          <button>
            <minus-icon :width="20" :height="20" @click="removeTicketCart(ticket.id)" />
          </button>
        </div>
        <div class="ticket__actions--quantity-wrapper">
          <span>{{ getQuantity(ticket.id) }}</span>
        </div>
        <div class="ticket__actions--icon-wrapper">
          <button>
            <plus-icon :width="20" :height="20" @click="addTicketCart(ticket.id)" />
          </button>
        </div>
      </div>
      <div v-else class="text-center">
        <span>{{ticketSituation(ticket)}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import eventException from "@/Common/EventException";
import minusIcon from "@/Components/Icons/Minus.vue";
import plusIcon from "@/Components/Icons/Plus.vue";
import { formatDecimal, formatDate } from "@/Common/Helpers";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'

export default {
  setup(props) {
    const ticketOffice = useTicketOfficeStore();

    function addTicketCart(ticketId) {
      const ticket = this.findTicket(ticketId);
      if (! ticket) {
        throw new eventException('ticket not found', 'cartInitializeException');
      }

      this.ticketOffice.cartActions().addItem(ticket.id, ticket.price, ticket.fee, ticket);
    }

    function removeTicketCart(ticketId) {
      this.ticketOffice.cartActions().removeItem(ticketId);
    }

    function findTicket(ticketId) {
      return props.listTickets.find((ticket) => {
        return ticket.id == ticketId;
      });
    }

    function isShowSalesTicket(ticket) {
      return !ticket.sold_out && ticket.status && !ticket.isExpired;
    }

    function ticketSituation(ticket) {
      if (ticket.isExpired) {
        return 'Encerrado';
      }

      if (ticket.sold_out) {
        return 'Esgotado';
      }
    }

    return {
      ticketOffice,
      getQuantity: ticketOffice.cart.getQuantity(),

      //methods
      formatDate,
      addTicketCart,
      removeTicketCart,
      findTicket,
      formatDecimal: formatDecimal,
      isShowSalesTicket,
      ticketSituation
    }
  },
  props: {
    listTickets: {
      type: Array,
      default: null
    }
  },
  components: {
    minusIcon,
    plusIcon,
  }
};
</script>

<style lang="postcss" scoped>
  .ticket {
    @apply py-3 border-b border-[color:var(--gray-color)];

    &__item {
      @apply flex items-center;
    }

    &__info {
      @apply w-full text-sm;

      &--description {
        @apply leading-relaxed text-black font-bold p-0;
      }

      &--price {
        @apply leading-relaxed text-black p-0;
      }

      &--expiration {
        @apply leading-relaxed text-slate-500 p-0;
      }
    }

    &__actions {
      @apply grid grid-cols-3 gap-1 content-center;

      &--icon-wrapper {
        @apply flex justify-center items-center p-1;

        button {
          @apply outline-0;
        }
      }

      &--quantity-wrapper {
        @apply flex justify-center items-center select-none;
      }
    }
  }
</style>
