<template>
  <div class="tickets">
    <div class="tickets__heading">
      <h6 class="tickets__heading--title">Valor dos ingressos</h6>
      <div class="tickets__cart">
        <div class="tickets__cart--icon">
          <cart-icon :width="16" :height="16" />
        </div>
        <span class="tickets__cart--amount">R$ {{ ticketOffice.cart.amountCart() }}</span>
      </div>
    </div>
    <div class="tickets__body">
      <TicketItem :listTickets="tickets" />

      <div class="tickets__wrapper-button">
        <button type="button" :disabled="isDisabled" @click="inscricao()">
          Comprar ingresso
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Inertia } from '@inertiajs/inertia'
import { computed } from 'vue';
import TicketItem from "@/Components/EventDetail/Ticket/TicketItem.vue";
import cartIcon from "@/Components/Icons/Cart.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'

export default {
  setup() {
    const ticketOffice = useTicketOfficeStore();

    const isDisabled = computed({
        get() {
          return ticketOffice.cart.countTotalItems() <= 0;
        }
    });

    function inscricao() {
      if (this.isDisabled) {
        return;
      }
      Inertia.get(route('ticketOffice.registration.create', 'nosso-samba'));
    }

    return {
      ticketOffice,
      isDisabled,

      inscricao
    }
  },
  methods: {
    icon(iconName) {
      return require(`@/../img/${iconName}.svg`).default
    }
  },
  components: {
    TicketItem,
    cartIcon
  },
  props: {
    tickets: {
      type: Object,
      default: {}
    }
  }
};
</script>

<style lang="postcss" scoped>
  .tickets {
    @apply flex flex-col min-w-0 break-words mb-4 shadow-lg rounded-md bg-white border-0;

    &__heading {
      @apply text-center flex justify-between rounded-t bg-[color:var(--primary-color)] mb-0 py-3 px-8;

      &--title {
        @apply text-white text-base font-bold text-[length:var(--title-size)]
      }
    }

    &__cart {
      @apply flex flex-row items-center;

      &--icon {
        @apply fill-current text-[color:var(--tertiary-color)] mr-1;

        svg {
          background-size: 20px 30px;
        }
      }

      &--amount {
        @apply text-white text-base font-bold;
      }
    }

    &__body {
      @apply flex-auto mx-10 my-3;
    }

    &__wrapper-button {
      @apply text-center mt-6;

      button {
        @apply bg-[color:var(--primary-color)] text-white active:bg-[color:var(--primary-color)] disabled:bg-slate-300 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150;
      }
    }
  }
</style>
