:root {
    /* Colors */
    --primary-color: #172CC1;
    --secondary-color: white;
    --tertiary-color: #E81071;
    --text-color: #27303e;
    --text-dark-color: #06070A;
    --gray-color:   #666666;
    --active-button: #3b4dd6;

    /* Font size */
    --title-size: 1.3rem;
    --subtitle-size: .9rem;
    --paragraph-size: .7rem;

    /* Heights */
    --footer-height: 30vh;

    --menu-height: 8vh;
    --navbar-height: 8vh;

    --floating-button-height: 15vh;
}
