<template>
  <section class="owner">
    <h2 class="owner__subtitle">
      Sobre o organizador
    </h2>
    <div class="owner__logo">
      <img
        alt="..."
        src="@/../img/nossoSamba/gemeos.png"
        class="owner__logo--image"
      />
    </div>
    <div class="owner__contact">
      <a class="owner__contact--button" href="https://www.instagram.com/gemeos_producoes_oficial/" target="_blank" >
        <mail-icon class="owner__contact--button-icon" />
        <span>Fala com o organizador</span>
      </a>
    </div>
  </section>
</template>

<script>
import MailIcon from "@/Components/Icons/Mail.vue";

export default {
  setup(props) {
  },
  components: {
    MailIcon
  }
}
</script>


<style lang="postcss" scoped>
  .owner {
    @apply bg-white py-6 px-8 mb-4 mx-0 shadow-lg rounded-md;

    &__subtitle {
      @apply text-[color:var(--text-dark-color)] font-bold text-sm my-4 mx-0;
    }

    &__logo {
      @apply my-12 px-4;

      &--image {
        @apply shadow-lg mx-auto max-w-[120px];
      }
    }

    &__contact {
      @apply flex justify-center;

      &--button {
        @apply outline outline-1 text-xs font-bold py-2 px-4 rounded inline-flex items-center outline-[#D5D5D5] text-[#021D59];
      }

      &--button-icon {
        @apply w-4 h-4 mr-2;
      }
    }
  }

  a{
        display: inline-flex;
    align-items: center;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(2 29 89 / var(--tw-text-opacity));
    outline-style: solid;
    outline-width: 1px;
    outline-color: #D5D5D5;
  }

  .owner__logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

</style>
