<template>
  <section class="relative">
    <div class="container mx-auto px-4 pt-2">
      <div
        class="
          relative
          flex flex-col
          min-w-0
          break-words
          w-full
          mb-6
          shadow-xl
          rounded-lg
          bg-blueGray-100
          border-0
        "
      >

        <div class="flex flex-wrap px-4 lg:px-10 py-10 pt-0">
          <div class="w-full md:w-8/12 sm:p-0 md:pr-4 mr-auto ml-auto order-last md:order-first">
            <form>
              <div class="text-center">
                <h3 class="text-3xl font-semibold leading-normal text-blueGray-700 my-4"> Pagamento </h3>
              </div>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4">
                  <div class="relative w-full mb-3">
                    <EventLabel for="paymentMethod" value="Método de pagamento *" />
                    <EventSelect
                      name="paymentMethod"
                      :options="paymentMethods"
                      placeholder="Selecione um método de pagamento"
                      @update:modelValue="changingPaymentMethod"
                    />
                    <EventHidden
                      name="amountTickets"
                      type="hidden"
                      :value="ticketOffice.cart.amountCart()"
                    />
                  </div>
                </div>
              </div>
              <FormPaymentBook v-if="state.paymentMethodSelected == 'payment_book'" />
              <FormInvoice v-if="state.paymentMethodSelected == 'invoice'" />
              <FormCreditCard v-if="state.paymentMethodSelected == 'credit_card'" />
              <FormPix v-if="state.paymentMethodSelected == 'pix'" />
              <div v-if="state.paymentMethodSelected != ''" class="w-full mt-6 px-4">
                <event-button @click="checkout" type="button">
                  Finalizar pedido
                </event-button>
              </div>
            </form>
          </div>
          <div class="w-full md:w-4/12 sm:p-0 md:pl-4 mr-auto ml-auto order-first md:order-last">
            <tickets-order />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { watch, reactive } from 'vue'
import { formatDate } from "@/Common/Helpers";
import EventLabel from "@/Components/Forms/Label.vue";
import EventSelect from "@/Components/Forms/Select.vue";
import EventButton from "@/Components/Forms/Button.vue";
import EventHidden from "@/Components/Forms/Hidden.vue";
import FormPaymentBook from "./FormPaymentBook.vue"
import FormInvoice from "./FormInvoice.vue"
import FormCreditCard from "./FormCreditCard.vue"
import FormPix from "./FormPix.vue"
import TicketsOrder from "../TicketsOrder.vue"
import { useTicketOfficeStore } from '@/Stores/TicketOffice'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from 'vee-validate';
import rulesValidation from '@/Validations/PaymentValidation'


export default {
  setup(props) {
    const state = reactive({
      paymentMethodSelected: ''
    });

    const paymentMethods = [
      {
        value: 'payment_book',
        text: 'Carnê digital'
      },
      {
        value: 'invoice',
        text: 'Boleto'
      },
      {
        value: 'credit_card',
        text: 'Cartão de crédito'
      },
      {
        value: 'pix',
        text: 'PIX'
      }
    ];

    const ticketOffice = useTicketOfficeStore();
    const event = ticketOffice.event.get();

    const {values: form, validate: formValidate, setErrors} = useForm({
      validationSchema: rulesValidation,
    });

    watch(() => props.errors, (errors, prevErrors) => {
      let formatedErrors = {};
      for (let [key, value] of Object.entries(errors)) {
        formatedErrors[key] = value;
      }
      setErrors(formatedErrors);
    })

    /**
     * Checks if the form is valid
     */
    async function isValid() {
      const { valid } = await formValidate();
      return valid;
    }

    /**
     * Send the form data to the server
     */
    function checkout() {
      isValid().then( (valid) => {
        if(! valid ) {
          return;
        }

        const data = {
          registrations: ticketOffice.holders.get(),
          buyer: ticketOffice.buyer.get(),
          payment: {
            payment_method: form.paymentMethod,
            amount: form.amountTickets
          }
        }

        if (form.installments) {
          data.payment['installments'] = form.installments;
        }

        if (form.paymentMethod == 'credit_card') {
          data.payment['card'] = {
            number: form.number,
            holder_name: form.holder_name,
            expiration_date: form.expiration_date,
            cvv: form.cvv,
          }
        }

        Inertia.post(
          route('ticketOffice.registration.store', event.slug),
          data
        );
      });
    }

    function changingPaymentMethod(value) {
      state.paymentMethodSelected = value;
    }

    return {
      paymentMethods,
      event,
      ticketOffice,
      formatDate,
      checkout,
      changingPaymentMethod,
      state,
    };
  },
  components: {
    EventLabel,
    EventSelect,
    EventHidden,
    EventButton,
    FormPaymentBook,
    FormInvoice,
    FormCreditCard,
    FormPix,
    TicketsOrder,
  },
  props: {
    errors: Object,
  },
};
</script>
