<template>
  <hr class="mt-6 mb-6 border-b-1 border-blueGray-300" />
  <div class="text-center">
    <h3 class="text-3xl font-semibold leading-normal text-blueGray-700 my-4"> Pagamento por cartão de crédito </h3>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4">
      <div class="relative w-full mb-3">
        <div class="w-full lg:w-12/12 px-4 text-center">
          <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-dollar-sign text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 mb-2 font-semibold text-black"> R$ {{ticketOffice.cart.amountCart()}} </h5>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <EventLabel for="installments" value="Parcelas *" />
            <EventSelect
              name="installments"
              :options="installments"
              value="1"
            />
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <EventLabel for="number" value="Número *" />
            <EventInput
              name="number"
              type="text"
              placeholder="Número"
              :mask="['#### #### #### ####', '#### #### #### ####']"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <EventLabel for="holder_card" value="nome *" />
            <EventInput
              name="holder_name"
              type="text"
              placeholder="Nome"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <EventLabel for="cvv" value="Data de expiração *" />
            <EventInput
              name="expiration_date"
              type="text"
              placeholder="Data de expiração"
              :mask="'##/##'"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <EventLabel for="cvv" value="CVV *" />
            <EventInput
              name="cvv"
              type="text"
              placeholder="CVV"
              :mask="['###', '####']"
            />
          </div>
        </div>
        <div class="text-center">
          <p class="mt-2 mb-4 text-blueGray-400"> Será gerado uma compraça em seu cartão de crédito com a quantidade de parcelas que você selecionou. <br />Você terá acesso a seus ingressos após a confirmação do pagamento pela operadora.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EventLabel from "@/Components/Forms/Label.vue";
import EventSelect from "@/Components/Forms/Select.vue";
import EventInput from "@/Components/Forms/Input.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice';

export default {
  setup() {
    const ticketOffice = useTicketOfficeStore();

    const installments = [];

    (function calcInstallments(maxInstallments = 5) {
      const amount = ticketOffice.cart.amountCart();
      for (let i = 1; i <= maxInstallments; i++) {
        installments.push({
          value: i,
          text: `${i}x - R$ ${(amount / i).toFixed(2)}`
        });
      }
    })();

    return {
      installments,
      ticketOffice
    };
  },
  components: {
    EventLabel,
    EventSelect,
    EventInput
  }
};
</script>
