<template>
  <hr class="mt-6 mb-6 border-b-1 border-blueGray-300" />
  <div class="text-center">
    <h3 class="text-3xl font-semibold leading-normal text-blueGray-700 my-4"> Pagamento por boleto </h3>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4">
      <div class="relative w-full mb-3">
        <div class="w-full lg:w-12/12 px-4 text-center">
          <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="fas fa-dollar-sign text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-black"> R$ {{ticketOffice.cart.amountCart()}} </h5>
          <p class="mt-2 mb-4 text-blueGray-400"> Será gerado um boleto com o valor total dos ingressos adquiridos. <br />Você terá acesso a seus ingressos após a confirmação do pagamento do boleto.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTicketOfficeStore } from '@/Stores/TicketOffice'

export default {
  setup() {
     const ticketOffice = useTicketOfficeStore();

    return {
      ticketOffice,
    };
  },
  components: {
  }
};
</script>
