<template>
  <div class="headers">
    <h1>Eventos em destaque</h1>
    <Link class="events" as="div" href="/evento/a-festa-do-ano">
      <img src="../../../img/featuredEvent.png" />
      <div class="event-card">
        <h1>Nosso Samba | Montes Claros</h1>
        <div class="event">
          <div class="events-card">
            <img src="../../../img/Calendar.png" />
            1 OUT
          </div>
          <div class="events-card">
            <img src="../../../img/Alarm.png" />
            17h
          </div>
          <div class="events-card">
            <img src="../../../img/Room.png" />
            Montes Claros MG
          </div>
        </div>
      </div>
    </Link>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';

export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Link
  },
};
</script>
<style scoped>
.headers {
  margin-bottom: 6rem;
}
.events {
  position: relative;
}
.headers > h1 {
  color: #06070a;
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.event {
  display: flex;
}

.event-card {
  display: flex;
  background: #f5f5f5;
  position: absolute;
  bottom: -66px;
  left: 7%;
  flex-direction: column;
  padding: 20px;
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 80%;
  box-shadow: 0px 4px 5px #aeaeae;
}
.event-card > h1 {
  color: #172cc1;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.events-card {
      max-height: 40px;
  border: 1px solid #6666664d;
  font-size: 12px;
  color: #172cc1;
  font-weight: bold;
  width: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
}

.events-card:not(:last-of-type) {
  margin-right: 15px;
}

.events-card:last-of-type {
  font-size: 8px;
}
</style>
