<template>
  <div class="ticket-card">
    <div class="order-status" v-if="!disabledWaitingLabel">Aguardando Pagamento</div>
    <div class="carnes" v-for="(carne, index) in order.transactions" :key="index">
      <div class="order-name">
       Carnê Digital {{ index + 1 }}º Parcela 
        <img
          src="../../../img/arrow.png"
          @click="openCard(index)"
          :class="carne.opened && 'open'"
        />
      </div>
      <div v-if="carne.opened">
        <InstallmentCarne :carne="carne"></InstallmentCarne>
      </div>
    </div>
  </div>
</template>
<script>
import InstallmentCarne from "@/Components/Order/InstallmentCarne.vue";


export default {
   setup(props) {
    return {
      order: props.order,
    };
  },
  data() {
    return {
      cardOpened: false,
    };
  },
  props: {
    order: Object,
    disabledWaitingLabel: Boolean
  },
  methods: {
    openCard(cardIndex) {
      const openedCard = this.order.transactions.filter(carne => carne.opened)[0]
      const atualCard = this.order.transactions[cardIndex]

      this.order.transactions = this.order.transactions.map((item) => {
        return { ...item, opened: false };
      });

      if (
        openedCard !== atualCard
      ) {
        this.order.transactions[cardIndex].opened = true;
      }
    },
  },
  components: {
    InstallmentCarne,
  },
};
</script>
<style scoped>
.open {
  transform: rotate(182deg);
}
.ticket-card {
  border: 1px solid #27303e33;
  padding: 20px;
  border-radius: 10px;
}
.order-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #172cc1;
  border: 1px solid #172cc1;
  padding: 10px;
  border-radius: 5px;
}
.order-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  padding-left: 1rem;
  color: #27303e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carnes:not(:first-of-type){
      margin-top: 2rem;
}

.carnes:not(:last-of-type) {
  border-bottom: 1px solid #27303e4d;
  padding-bottom: 1rem;
}
</style>