<template>
  <div class="ticket-status">
    <div class="values">
      <div class="order-card">
        <div class="title-order">Valor:</div>
        <div>R$ {{ price }}</div>
      </div>
      <div class="order-card">
        <div class="title-order">Vencimento:</div>
        <div>{{ dueDate }}</div>
      </div>
    </div>

    <div class="title-order boleto">Código do Boleto:</div>
    <div class="number-boleto">
      {{ carne.barcode }}
    </div>
    <div class="button-ticket">
      <copy-button :copyText="carne.barcode"></copy-button>
      <pdf-button :urlDownload="carne.pdf"></pdf-button>
    </div>
  </div>
</template>
<script>
import CopyButton from "@/Components/Forms/CopyButton.vue";
import PdfButton from "@/Components/Forms/PdfButton.vue";
import moment from "moment";

export default {
  setup(props) {
    return {
      carne: props.carne,
    };
  },
  data() {
    return {};
  },
  computed: {
    dueDate() {
      return moment(this.carne.due_date, "YYYY-MM-DD").format("DD/MM/YYYY");
    },
    price() {

      return parseFloat(this.carne.value).toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
      });
    },
  },
  props: {
    carne: Object,
  },
  components: {
    CopyButton,
    PdfButton,
  },
};
</script>
<style scoped>
.title-order {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.boleto {
  text-align: center;
  margin: 20px 0;
}

.ticket-status {
  margin-top: 2rem;
  padding-left: 1rem;
}

.button-ticket {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.values {
  display: flex;
  justify-content: space-between;
}

button img {
  margin-left: 10px;
}

button {
  background: #172cc1;
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-boleto {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  word-break: break-all;
}

button.baixarPdf {
  background: none;
  color: #172cc1;
  border: 1px solid #172cc1;
  margin-top: 10px;
}
</style>