<template>
  <Link as="div" :href="'/' + order.route" class="order-card">
    <div class="order-status">
      <img
        src="../../../img/Checkcircle.png"
        v-if="order.status === 'Aprovado'"
      />
      <img
        src="../../../img/Pending.png"
        v-else-if="order.status === 'Aguardando Pagamento'"
      />

      <img
        src="../../../img/Cancel.png"
        v-else-if="order.status === 'Cancelado'"
      />

      {{ order.status }}
    </div>
    <div class="order">
      <div class="orderEvent">Nosso Samba | Montes Claros</div>
      <div class="orderNumber">#03030004040</div>
      <div class="date">01/10/2022 - 17h</div>
    </div>
  </Link>

  
</template>
<script>
import { Link } from '@inertiajs/inertia-vue3';

export default {
  data() {
    return {};
  },
  props: {
    order: Object,
  },
  components: {
    Link
  },
};
</script>
<style scoped>
.order-card {
  border: 1px solid #27303e;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  height: 120px;
}
.order-status {
  font-weight: 700;
  font-size: 14px;
  color: #27303e;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
  border-right: 1px solid #27303e1f;
  margin-right: 10px;
}

.orderEvent {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.orderNumber {
  font-weight: 400;
  font-size: 12px;
  color: #27303e;
  line-height: 20px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
</style>