<template>
  <div class="pt-6 w-full md:w-4/12 px-4 text-center">
    <div class="relative flex flex-col min-w-0 break-words bg-blueGray-200 w-full mb-8 shadow-lg rounded-lg">
      <div class="px-4 py-5 flex-auto">
        <h5 class="text-xl font-bold">{{ event.name }}</h5>
        <div class="pt-6 text-left">
          <h6 class="text-xl font-bold">{{ ticketPass.holder.name }}</h6>
          <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold"> {{ ticketPass.holder.cpf }} </p>
        </div>
        <div class="flex flex-wrap justify-between">
          <div class="w-full lg:w-8/12">
            <ul class="list-none mt-6">
              <li class="py-1">
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white bg-slate-700 mr-2">
                      <i class="far fa-calendar-check"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-xs text-blueGray-500"> {{ formatDate(event.date, 'YYYY-MM-DD HH:mm:ss', 'ddd - DD MMM - YYYY - HH:mm') }}</h4>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-white bg-slate-700 mr-2">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-xs text-blueGray-500"> Parque de exposição - Montes Claros </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12">
            <span class="text-xs">{{ ticketPass.code }}</span>
            <div v-html="ticketPass.qrcode" class="flex justify-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatDate } from "@/Common/Helpers";
export default {
  setup() {
    return {
      formatDate
    }
  },
  props: {
    event: {
      type: Object
    },
    ticketPass: {
      type: Object
    }
  },
}
</script>
