<template>
  <div class="ticket-card">
    <div class="header-ticket">
      <div class="ticket-event">Nosso Samba | Montes Claros</div>
      <div class="ticket-number">#03030004040</div>
      <div class="ticket-date">01/10/2022 - 17h</div>
    </div>
    <hr />
    <div class="name-ticket">
      <h1 class="ticket-name">INGRESSO PISTA - INTEIRA</h1>
      <h6 class="ticket-lote">2 Lote</h6>
    </div>
    <div class="userName-ticket">
      <h1 class="ticket-option">Nome:</h1>
      <h6 class="ticket-username">Nome de quem comprou</h6>
    </div>
    <div class="price-ticket">
      <h1 class="ticket-option">Valor:</h1>
      <h6 class="ticket-price">R$ 50</h6>
    </div>
    <div class="codigo-ticket">
      <img
        src="../../../../public/images/codigo-de-barras.png"
        class="ticket-image"
      />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: {
    order: Object,
  },
};
</script>
<style scoped>
.ticket-card {
  border: 1px solid #27303e;
  border-radius: 5px;
  padding: 1.2rem;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
}

.header-ticket,
.name-ticket {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #27303e;
}

.ticket-event,
.ticket-name {
  font-weight: 700;
}
.ticket-number,
.ticket-date {
  font-size: 12px;
}

h6.ticket-lote {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1.ticket-option {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

h6.ticket-username {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

hr {
  margin: 1rem 0;
}

.codigo-ticket {
  margin-top: 1rem;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

h6.ticket-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
</style>