<template>
  <div class="text-center">
    <h3 class="text-3xl font-semibold leading-normal text-blueGray-700 my-4"> Dados dos participantes </h3>
  </div>
  <div v-for="(item, index) in ticketsForm">
    <h6
      class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"
    >
      Ingresso {{ index + 1 }} - <span class="italic font-normal text-black"> {{ item.ticket.description }}</span>
    </h6>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel :for="`registrations[${index}].name`" value="Nome *" />
          <EventInput
            :name="`registrations[${index}].name`"
            type="text"
            placeholder="Nome completo"
          />
          <EventHidden
            :name="`registrations[${index}].ticket_id`"
            type="hidden"
            :value="`${item.ticket.id}`"
          />
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel :for="`registrations[${index}].email`" value="E-mail *" />
          <EventInput
            :name="`registrations[${index}].email`"
            type="email"
            placeholder="E-mail"
          />
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel :for="`registrations[${index}].phone`" value="Telefone *" />
          <EventInput
            :name="`registrations[${index}].phone`"
            type="text"
            placeholder="Telefone"
            :mask="['(##) ####-####', '(##) #####-####']"
          />
        </div>
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>
</template>

<script>
import { computed } from 'vue';
import EventLabel from "@/Components/Forms/Label.vue";
import EventInput from "@/Components/Forms/Input.vue";
import EventHidden from "@/Components/Forms/Hidden.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'


export default {
  setup() {
    const ticketOffice = useTicketOfficeStore();

    const ticketsForm = computed({
        get() {
          const tf = [];
          ticketOffice.cart.items().forEach(item => {
            for (let i=0; i<item.quantity; i++) {
              tf.push(item);
            }
          });
          return tf;
        }
    });

    return {
      ticketsForm
    };
  },
  components: {
    EventLabel,
    EventInput,
    EventHidden,
  }
};
</script>
