<template>
  <div class="text-center">
    <h3 class="text-3xl font-semibold leading-normal text-blueGray-700 my-4"> Dados do pagamento </h3>
    <div class="text-left px-4 mb-3">
      <span class="text-sm">Atenção: Os ingressos serão enviados para o e-mail e Whatsapp fornecidos abaixo</span>
    </div>
  </div>
  <div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <EventLabel for="buyer.cpf" value="CPF *" />
        <EventInput
          name="buyer.cpf"
          type="text"
          placeholder="CPF"
          :mask="'###.###.###-##'"
          :value="buyer ? buyer.cpf : ''"
        />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel for="buyer.name" value="Nome *" />
          <EventInput
            name="buyer.name"
            type="text"
            placeholder="Nome completo"
            :value="buyer ? buyer.name : ''"
          />
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel for="buyer.email" value="E-mail *" />
          <EventInput
            name="buyer.email"
            type="email"
            placeholder="E-mail"
            :value="buyer ? buyer.email : ''"
          />
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <EventLabel for="buyer.phone" value="Telefone *" />
          <EventInput
            name="buyer.phone"
            type="text"
            placeholder="Telefone"
            :mask="['(##) ####-####', '(##) #####-####']"
            :value="buyer ? buyer.phone : ''"
          />
        </div>
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>
</template>

<script>
import EventLabel from "@/Components/Forms/Label.vue";
import EventInput from "@/Components/Forms/Input.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'

export default {
  setup() {
    const ticketOffice = useTicketOfficeStore();
    const buyer = ticketOffice.buyer.get();

    return {
      buyer
    };
  },
  components: {
    EventLabel,
    EventInput,
  },
};
</script>

