<template>
  <section class="relative bg-blueGray-200 background">
    <div class="container mx-auto px-4">
      <div
        class="
          relative
          flex flex-col
          min-w-0
          break-words
          w-full
          mb-6
          shadow-xl
          rounded-lg
          bg-blueGray-100
          border-0
        "
      >
        <div class="flex flex-wrap px-4 lg:px-10 py-10 pt-0">
          <div class="w-full sm:p-0 md:pr-4 mr-auto ml-auto order-last md:order-first">
            <form>
              <form-tickets-participants />
              <form-payer />
              <div class="w-full mt-6 px-4">
                <event-button @click="checkout" type="button">
                  Ir para o pagamento
                </event-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { watch } from 'vue'
import { formatDate } from "@/Common/Helpers";
import FormTicketsParticipants from "./FormTicketsParticipants.vue"
import FormPayer from "./FormPayer.vue"
import TicketsOrder from "./TicketsOrder.vue"
import EventButton from "@/Components/Forms/Button.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from 'vee-validate';
import rulesValidation from '@/Validations/RegistrationValidation'

export default {
  setup(props) {
    const ticketOffice = useTicketOfficeStore();
    const event = ticketOffice.event.get();

    const {values: form, validate: formValidate, setErrors} = useForm({
      validationSchema: rulesValidation,
    });

    //add consumer logged in store
    function storeBuyer(buyer) {
      ticketOffice.buyerActions().store(buyer);
    };

    function storeHolderTickets(holders) {
      ticketOffice.holdersActions().store(holders);
    };

    if (props.user) {
      let buyer = {
        cpf: props.user.cpf,
        name: props.user.name,
        email: props.user.email,
        phone: props.user.phone
      };

      storeBuyer(buyer);
    }

    watch(() => props.errors, (errors, prevErrors) => {
      let formatedErrors = {};
      for (let [key, value] of Object.entries(errors)) {
        if (key.includes('registrations')) {
          let [root, index, item] = key.split('.');
          formatedErrors[`${root}[${index}].${item}`] = value;
        }else{
          formatedErrors[key] = value;
        }
      }
      setErrors(formatedErrors);
    })

    /**
     * Checks if the form is valid
     */
    async function isValid() {
      const { valid } = await formValidate();
      return valid;
    }

    /**
     * Send the form data to the server
     */
    function checkout() {
      isValid().then( (valid) => {
        if(! valid ) {
          return;
        }

        const data = {
          registrations: form.registrations,
          buyer: form.buyer
        };

        let buyer = {
          cpf: form.buyer.cpf,
          name: form.buyer.name,
          email: form.buyer.email,
          phone: form.buyer.phone
        };

        let holders = [];

        form.registrations.forEach(function (holder) {
          holders.push({
            name: holder.name,
            ticket_id: holder.ticket_id,
            email: holder.email,
            phone: holder.phone,
          })
        });

        storeBuyer(buyer);
        storeHolderTickets(holders);

        Inertia.get(
          route('ticketOffice.registration.checkout', event.slug)
        );
      });
    }

    return {
      event,
      formatDate,
      checkout
    };
  },
  components: {
    FormTicketsParticipants,
    FormPayer,
    TicketsOrder,
    EventButton,
  },
  props: {
    errors: Object,
    user: Object,
  },
};
</script>

<style scoped>

.background{

  background: url('../../../img/fundoNossoSamba.png');
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;

    padding-top: 1rem;
        width: 100%;

}

.background::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    height: 100%;
    width: 100%;
}

</style>

