<template>
  <div
    class="
      flex flex-col
      min-w-0
      break-words
      my-6
      shadow-lg
      rounded-lg
      bg-blueGray-100
      border-0
    "
  >
    <div class="rounded-t bg-gray-800 mb-0 px-6 py-6 blue">
      <div class="text-center flex justify-between">
        <h6 class="text-white text-xl font-bold ">Ingressos</h6>
        <div>
          <i class="fas fa-shopping-cart text-white mr-2" style="color: #E81071;"></i>
          <span class="text-white text-md">R$ {{ ticketOffice.cart.amountCart() }}</span>
        </div>
      </div>
    </div>
    <div class="flex-auto m-3">
      <div v-for="item in cart" class="py-3 border-b border-blueGray-200">
        <div class="flex items-center">
          <div class="w-full text-sm">
            <p class="leading-relaxed text-black font-bold p-0">
              {{ item.ticket.description }}
            </p>
            <p class="leading-relaxed text-black p-0">
              R$ {{ formatDecimal(item.price) }} (+ taxa R$ {{ formatDecimal(item.fee) }})
            </p>
            <p class="leading-relaxed text-slate-500 p-0">Vendas até {{ formatDate(item.ticket.end_sales) }}</p>
          </div>
          <div class="text-center">
            <p>{{ item.quantity }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { formatDecimal, formatDate } from "@/Common/Helpers";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'

export default {
  setup() {
    const ticketOffice = useTicketOfficeStore();
    const cart = ticketOffice.cart.items();
    return {
      cart,
      ticketOffice,
      formatDecimal,
      formatDate
    };
  },
  components: {
  }
};
</script>

<style scoped>
.blue{
  background: #172CC1;
}
</style>
