<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <h1 class="title-rules">
          <div>Se arrependeu de fazer a compra?</div>
          <div class="subtitle">Se liga em nossas regras de Cancelamento</div>
        </h1>
      </template>

      <template v-slot:content>
        <div class="title-text">
          Política de cancelamento de acordo com o Direito de Arrependimento
          pelo Código de Defesa do Consumidor:
        </div>
        <div class="text-container">
          Art. 49. O consumidor pode desistir do contrato, no prazo de 7 dias a
          contar de sua assinatura ou do ato de recebimento do produto ou
          serviço, sempre que a contratação de fornecimento de produtos e
          serviços ocorrer fora do estabelecimento comercial, especialmente por
          telefone ou a domicílio. Também guardamos informações de outras redes
          sociais que você usa para se conectar e compartilhar serviços como
          Facebook, Twitter, entre outros. Essas informações são utilizadas
          somente com este fim, compartilhar suas experiências e preferências
          com seus amigos integrando as redes sociais caso você opte por isso em
          suas configurações de privacidade. Nada é compartilhado ou oferecido
          caso você não queira.
        </div>
      </template>
    </PageDefault>
  </div>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import Footer from "@/Components/Footers/Footer.vue";
import HomeHeader from "@/Components/Headers/homeHeader.vue";
import FeatureEvent from "@/Components/Events/FeaturedEvents.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Link,
    Navbar,
    Footer,
    HomeHeader,
    FeatureEvent,
    PageDefault,
  },
};
</script>
<style scoped>
.title-rules {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
      text-align: center;
  /* or 100% */

  color: #ffffff;
}

.subtitle {
    font-size: 20px;
    margin-top: 2rem;
}

.title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.text-container {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #a4a4a4;
  margin-top: 2rem;
}
</style>