<template>
  <div>
    <page-default :disableTitlePage="true" :disablePadding="true">
      <template v-slot:content>
        <main class="profile-page">
          <FormPayment :errors="errors" />
        </main>
      </template>
    </page-default>
  </div>
</template>
<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import BannerEvent from "@/Components/EventDetail/Banner/BannerEvent.vue";
import FormPayment from "@/Components/TicketsRegistration/Payment/FormPayment.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  data() {
    return {};
  },
  components: {
    Navbar,
    BannerEvent,
    FormPayment,
    FooterComponent,
    PageDefault,
  },
  props: {
    errors: Object,
  },
};
</script>

<style>

</style>
