<template>
  <div>
    <PageDefault :disableTitlePage="true">
      <template v-slot:pageTitle> </template>
      <template v-slot:content>
        <section>
          <div class="headerWaitingPayment">
            <img src="../../img/PendingStatus.png" />
            <div class="title-status">Pedido Efetuado com sucesso!</div>
            <div class="sub-title-status">
              Agora falta apenas finalizar o pagamento e garantir o seu
              ingresso!
            </div>
            <div class="buy-status">
              Foi realizada a criação de uma conta automatica para você ter
              acesso ao status da compra.
            </div>
            <div>
              <div class="descricao">
                <div><span>Login: </span>e-mail utilizado na solicitação</div>
                <div><span>Senha: </span>CPF utilizado na solicitação</div>
              </div>
            </div>
          </div>

          <PaymentStatus :event="event" :order="order"></PaymentStatus>

          <Link as="button" href="/meus-pedidos" class="meus-pedidos"> Acessar Meus Pedidos</Link>
        </section>
      </template>
    </PageDefault>
  </div>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";
import Ticket from "@/Components/Order/Ticket.vue";
import PageDefault from "@/Layouts/PageDefault.vue";
import PaymentStatus from "@/Components/Payments/PaymentStatus.vue";

export default {
  setup(props) {
    return {
      order: props.order,
      event: props.event,
    };
  },
  props: {
    event: {
      type: Object,
    },
    order: {
      type: Object,
    },
  },
  components: {
    Link,
    Ticket,
    PageDefault,
    PaymentStatus,
  },
};
</script>
<style lang="scss" scoped>
.meus-pedidos{
  background: #172CC1;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-top: 1rem;
}
.headerWaitingPayment {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-bottom: 1rem;
  }
  .title-status {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
  .sub-title-status {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .buy-status {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    span {
      font-weight: bold;
    }
  }
}
</style>