<template>
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-slate-400">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg text-blueGray-700">
                Endpoints
              </h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Projects table -->
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-300 text-blueGray-500 border-blueGray-300">
                  Item
                </th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-300 text-blueGray-500 border-blueGray-300">
                  Method
                </th>
                <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-300 text-blueGray-500 border-blueGray-300">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <span class="ml-3 font-bold text-blueGray-600">
                    Comprar ingresso com carnê
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  [POST]
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button @click="buyTicketPaymentBook" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button"> Trigger </button>
                </td>
              </tr>
              <tr>
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <span class="ml-3 font-bold text-blueGray-600">
                    Comprar ingresso com cartão de crédito
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  [POST]
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button @click="buyTicketCreditCard" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button"> Trigger </button>
                </td>
              </tr>
              <tr>
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <span class="ml-3 font-bold text-blueGray-600">
                    Comprar ingresso com PIX
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  [POST]
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button @click="buyTicketPix" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button"> Trigger </button>
                </td>
              </tr>
              <tr>
                <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <span class="ml-3 font-bold text-blueGray-600">
                    Simular pagamento
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  [POST]
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <input class="border-0 px-3 py-3 mr-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-xs shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" style="width:70px" type="text" v-model="document" name="document" />
                  <button @click="paytransaction" class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button"> Trigger </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Inertia } from '@inertiajs/inertia'
export default {
  setup() {
    function request(route, method, data) {
      Inertia.visit(
          route,
          {
            method: method,
            data: data
          }
        );
    }

    function buyTicketPaymentBook() {
      const data = {
              registrations: [
                {
                  ticket_id: 4,
                  cpf: '546.144.150-59',
                  name: 'Carol Aparecida',
                  email: 'Carol@email.com',
                  phone: '(99) 9 9999-9999',
                },
                {
                  ticket_id: 3,
                  cpf: '235.716.120-51',
                  name: 'Julia Silva',
                  email: 'julia@email.com',
                  phone: '(88) 9 8888-9999',
                }
              ],
              buyer: {
                cpf: '546.144.150-59',
                name: 'Carol Aparecida',
                email: 'Carol@email.com',
                phone: '(99) 9 9999-9999',
                zip_code: '39400-001',
                street: 'Rua Dr Santos',
                number: '123',
                complement: '',
                district: 'Centro',
                city: 'Montes Claros',
                state: 'Minas Gerais',
                uf: 'MG',
              },
              payment: {
                payment_method: 'payment_book',
                payment_book: {
                  installments: 4,
                  invoices: [
                    {
                      due_date: '2022-08-05',
                      value: 22,
                    },
                    {
                      due_date: '2022-08-10',
                      value: 22,
                    },
                    {
                      due_date: '2022-08-15',
                      value: 22,
                    },
                    {
                      due_date: '2022-08-20',
                      value: 22,
                    },
                  ]
                }
              }
            };

      const slugEvent = 'a-festa-do-ano';
      request(route('ticketOffice.registration.store', slugEvent), 'post', data);
    }

    function buyTicketCreditCard() {
      const data = {
              registrations: [
                {
                  ticket_id: 4,
                  cpf: '546.144.150-59',
                  name: 'Carol Aparecida',
                  email: 'Carol@email.com',
                  phone: '(99) 9 9999-9999',
                },
                {
                  ticket_id: 3,
                  cpf: '235.716.120-51',
                  name: 'Julia Silva',
                  email: 'julia@email.com',
                  phone: '(88) 9 8888-9999',
                }
              ],
              buyer: {
                cpf: '546.144.150-59',
                name: 'Carol Aparecida',
                email: 'Carol@email.com',
                phone: '(99) 9 9999-9999',
                zip_code: '39400-001',
                street: 'Rua Dr Santos',
                number: '123',
                complement: '',
                district: 'Centro',
                city: 'Montes Claros',
                state: 'Minas Gerais',
                uf: 'MG',
              },
              payment: {
                payment_method: 'credit_card',
                credit_card: {
                  installments: 2,
                  number: '1234567891234567',
                  holder_name: 'Carol Aparecida',
                  holder_document: '546.144.150-59',
                  exp_month: 10,
                  exp_year: 2030,
                  cvv: 123,
                  invoices: [
                    {
                      due_date: '2022-08-05',
                      value: 44,
                    },
                    {
                      due_date: '2022-09-05',
                      value: 44,
                    }
                  ]
                }
              }
            };

      const slugEvent = 'a-festa-do-ano';
      request(route('ticketOffice.registration.store', slugEvent), 'post', data);
    }

    function buyTicketPix() {
      const data = {
              registrations: [
                {
                  ticket_id: 4,
                  cpf: '546.144.150-59',
                  name: 'Carol Aparecida',
                  email: 'Carol@email.com',
                  phone: '(99) 9 9999-9999',
                },
                {
                  ticket_id: 3,
                  cpf: '235.716.120-51',
                  name: 'Julia Silva',
                  email: 'julia@email.com',
                  phone: '(88) 9 8888-9999',
                }
              ],
              buyer: {
                cpf: '546.144.150-59',
                name: 'Carol Aparecida',
                email: 'Carol@email.com',
                phone: '(99) 9 9999-9999',
                zip_code: '39400-001',
                street: 'Rua Dr Santos',
                number: '123',
                complement: '',
                district: 'Centro',
                city: 'Montes Claros',
                state: 'Minas Gerais',
                uf: 'MG',
              },
              payment: {
                payment_method: 'pix',
                pix: {
                  due_date: '2022-08-05',
                  value: 88,
                }
              }
            };

      const slugEvent = 'a-festa-do-ano';
      request(route('ticketOffice.registration.store.pix', slugEvent), 'post', data);
    }

    let document = '';
    function paytransaction(){
      const data = {
        document_number: this.document
      };

      request(route('test.pay.document'), 'get', data);
    }

    return {
      document,

      buyTicketPaymentBook,
      buyTicketCreditCard,
      buyTicketPix,
      paytransaction
    };
  },
}
</script>
