<template>
  <div>
    <page-default :disableTitlePage="true" :disablePadding="true">
    <template v-slot:content>

    <main>
      <banner-event />
      <div class="background" :style="img">
        <div class="relative flex flex-wrap">
          <div class="w-full w-12/12 lg:w-8/12 lg:pr-2">
            <information-event :event="event" />
          </div>
          <div class="w-full w-12/12 lg:w-4/12 lg:pl-2 sm:relative lg:absolute top-0 right-0">
            <ticket-card :tickets="event.tickets" />
          </div>
          <div class="w-full w-12/12 lg:w-8/12 lg:pr-2">
            <description-detail :event="event" />
          </div>
          <div class="w-full w-12/12 lg:w-8/12 lg:pr-2">
            <place-detail />
          </div>
          <div class="w-full w-12/12 lg:w-8/12 lg:pr-2">
            <owner-detail />
          </div>
        </div>
      </div>
    </main>
    </template>
    </page-default>
 </div>
</template>


<script>
import { onMounted } from 'vue'
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import BannerEvent from "@/Components/EventDetail/Banner/BannerEvent.vue";
import InformationEvent from "@/Components/EventDetail/Information/InformationEvent.vue";
import DescriptionDetail from "@/Components/EventDetail/Description/DescriptionDetail.vue";
import PlaceDetail from "@/Components/EventDetail/Place/PlaceDetail.vue";
import OwnerDetail from "@/Components/EventDetail/Owner/OwnerDetail.vue";
import TicketCard from "@/Components/EventDetail/Ticket/TicketCard.vue";
import { useTicketOfficeStore } from '@/Stores/TicketOffice'
import PageDefault from "@/Layouts/PageDefault.vue";
import backgroundSamba from '../../img/fundoNossoSamba.png'


export default {

  setup(props) {
    const urlImg = backgroundSamba;
    const ticketOffice = useTicketOfficeStore();

    onMounted(() => {
      ticketOffice.eventActions().store(props.event);
    })

    return {
      img: { backgroundImage: `url(${urlImg})` }
    }
  },
  components: {
    Navbar,
    FooterComponent,
    BannerEvent,
    InformationEvent,
    DescriptionDetail,
    PlaceDetail,
    OwnerDetail,
    //MapExample
    TicketCard,
    PageDefault
  },
  props: {
    event: {
      type: Object,
      default: {}
    }
  }
};
</script>

<style lang="postcss" scoped>
  .background {
    @apply container relative mx-auto px-8 py-4 md:px-12 md:py-8 z-0;

    &::before {
          content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    inset: 0;
    background-color: rgb(0 0 0 / 73%);
    /* filter: blur(10px); */
    height: 100%;
    width: 100%;
    background-position: revert;

    }
  }
</style>

