<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <h1 class="title-conosco">Fale Conosco</h1>
      </template>
      <template v-slot:content>
        <div>
          <h1 class="enviar-mensagem">ENVIE - NOS UMA MENSAGEM</h1>

          <form class="form-conosco">
            <div>
              <label>Nome Completo</label>
              <EventInput
                name="nomeCompleto"
                type="text"
                placeholder="Nome e Sobrenome"
              />
            </div>
            <div>
              <label>Telefone</label>
              <EventInput
                name="telefone"
                type="text"
                placeholder="(38) 0000-0000"
                :mask="'(##) #####-####'"
              />
            </div>
            <div>
              <label>E-mail</label>
              <EventInput
                name="email"
                type="text"
                placeholder="testeemail@gmail.com"
              />
            </div>
            <div>
              <label>E-mail</label>
              <textarea name="Mensagem" placeholder="Mensagem"></textarea>
            </div>

            <div class="enviar-btn">
              <button>Enviar Mensagem</button>
            </div>
          </form>
        </div>
      </template>
    </PageDefault>
  </div>
</template>
<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import BannerEvent from "@/Components/EventDetail/Banner/BannerEvent.vue";
import FormPayment from "@/Components/TicketsRegistration/Payment/FormPayment.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import EventInput from "@/Components/Forms/Input.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  data() {
    return {};
  },
  components: {
    Navbar,
    BannerEvent,
    FormPayment,
    FooterComponent,
    EventInput,
    PageDefault,
  },
  props: {
    errors: Object,
  },
};
</script>
<style scoped>
.title-conosco {
  background: #172cc1;
  color: #fff;

    padding: 40px 0px;

  /* text-align: center; */
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
      text-align: center;
}

.enviar-mensagem {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 40px 0;
}

.form-conosco > div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-conosco button {
  background: #172CC1;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.form-conosco label {
  color: #27303e;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
}

.form-conosco input,
.form-conosco textarea {
  border: 1px solid #666666 !important;
  border-radius: 10px !important;
}

.enviar-btn {
  display: flex;
  align-items: flex-end;
}
</style>
