<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <HomeHeader ></HomeHeader>

      </template>

      <template v-slot:content>
      <FeatureEvent></FeatureEvent>

      </template>

    </PageDefault>
  
  </div>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import Footer from "@/Components/Footers/Footer.vue";
import HomeHeader from "@/Components/Headers/homeHeader.vue";
import FeatureEvent from "@/Components/Events/FeaturedEvents.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Link,
    Navbar,
    Footer,
    HomeHeader,
    FeatureEvent,
    PageDefault
  },
};
</script>
