<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <UserInfo :title="'Meus Dados'"></UserInfo>
      </template>
      <template v-slot:content>
        <div>
          <form class="form-conosco">
            <div>
              <label>Nome Completo</label>
              <EventInput
                name="nomeCompleto"
                type="text"
                placeholder="Nome e Sobrenome"
              />
            </div>
            <div>
              <label>CPF</label>
              <EventInput
                name="telefone"
                type="text"
                placeholder="000.000.000-00"
                :mask="'###.####.####-##'"
              />
            </div>
            <div>
              <label>Telefone</label>
              <EventInput
                name="telefone"
                type="text"
                placeholder="(38) 0000-0000"
                :mask="'(##) #####-####'"
              />
            </div>
            <div>
              <label>E-mail</label>
              <EventInput
                name="email"
                type="text"
                placeholder="testeemail@gmail.com"
              />
            </div>

            <div class="secao">
              <h1>Dados de acesso</h1>
            </div>

            <div>
              <label>Alterar senha</label>
              <EventInput
                name="password"
                type="password"
                placeholder="***********"
              />
            </div>

            <div class="enviar-btn">
              <button>Confirmar</button>
            </div>
          </form>
        </div>
      </template>
    </PageDefault>
  </div>
</template>
<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import BannerEvent from "@/Components/EventDetail/Banner/BannerEvent.vue";
import FormPayment from "@/Components/TicketsRegistration/Payment/FormPayment.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import EventInput from "@/Components/Forms/Input.vue";
import PageDefault from "@/Layouts/PageDefault.vue";
import UserInfo from "@/Components/Headers/UserInfo.vue";


export default {
  data() {
    return {};
  },
  components: {
    Navbar,
    BannerEvent,
    FormPayment,
    FooterComponent,
    EventInput,
    PageDefault,
    UserInfo
  },
  props: {
    errors: Object,
  },
};
</script>
<style scoped>
.header-items {
  display: flex;
  justify-content: space-around;
}

.header-button img {
  margin-right: 10px;
}
.header-button {
  border: 1px solid #ffffff29;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-radius: 10px;
}
.title-conosco {
  background: #172cc1;
  color: #fff;

  padding: 40px 0px;

  /* text-align: center; */
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.enviar-mensagem {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 40px 0;
}

.form-conosco > div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-conosco button {
  background: #172CC1;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.form-conosco label {
  color: #27303e;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
}

.form-conosco input,
.form-conosco textarea {
  border: 1px solid #666666 !important;
  border-radius: 10px !important;
}

.enviar-btn {
  display: flex;
  align-items: flex-end;
}

.secao {
  font-weight: 800;
  font-size: 24px;
  line-height: 16px;
  color: #27303e;
  margin: 20px 0;
}
</style>
