<template>
  <div>
    <navbar />
    <main>
      <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">Parabéns, </h2>
              <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                Sua compra foi concluída, logo abaixo é possível visualizar seu(s) ingresso(s)  .
              </p>
              <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                Divirta-se!
              </p>
            </div>
          </div>
          <div class="flex flex-wrap justify-center">
            <Ticket v-for="(ticketPass, index) in ticketPasses" :event="event" :ticketPass="ticketPass" />
          </div>
        </div>
      </section>
    </main>
    <footer-component />
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import Ticket from "@/Components/Order/Ticket.vue";
export default {
  setup() {

  },
  props: {
    event: {
      type: Object
    },
    ticketPasses: {
      type: Object
    }
  },
  components: {
    Link,
    Navbar,
    FooterComponent,
    Ticket,
  }
}
</script>
