<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <h1 class="title-rules">Conheça nossa Política de Privacidade</h1>
      </template>

      <template v-slot:content>
        <div class="text-container">
          Para que possamos oferecer um site melhor e mais direcionado às suas
          preferências, processar eventuais pedidos e reclamações, informá-lo
          sobre alterações relevantes em nossos serviços ou relacionadas às suas
          buscas, compreender suas preferências nas escolhas efetuadas por meio
          do site, sugerir promoções de acordo com seus critérios, de forma a
          tornar sua busca mais próxima aos seus interesses, é importante
          contarmos com suas informações, por isso, leia atentamente esta
          política e nossos Termos de Uso.
        </div>
      </template>
    </PageDefault>
  </div>
</template>

<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import Footer from "@/Components/Footers/Footer.vue";
import HomeHeader from "@/Components/Headers/homeHeader.vue";
import FeatureEvent from "@/Components/Events/FeaturedEvents.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {

    Navbar,
    Footer,
    HomeHeader,
    FeatureEvent,
    PageDefault,
  },
};
</script>
<style scoped>
.title-rules {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.text-container {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #a4a4a4;
  margin-top: 2rem;
}
</style>