<template>
    <Layout>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        You're logged in!
                    </div>
                    <test-form />
                    <div>Errors: {{errors}}</div>
                    <div>auth: {{auth}}</div>
                    <button @click="send">Enviar</button>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
import { watch } from 'vue';
import Layout from '@/Layouts/Include.vue';
// import { useForm } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import TestForm from "@/Components/TestForm.vue";
import { useForm } from 'vee-validate';

import * as yup from 'yup';
import { pt_br } from '@/Common/yup/locale'

export default {
  layout: (h, page) => h(Layout, () => child),

  // Using the shorthand
  layout: Layout,
  setup(props) {

    yup.setLocale(pt_br);
    const rulesValidation = yup.object().shape({
      name: yup.string().required(),
    });

    const {values: form, validate: formValidate, setErrors} = useForm({
      validationSchema: rulesValidation,
    });

    watch(() => props.errors, (NewErrors, prevErrors) => {
      console.log(NewErrors);
      setErrors(NewErrors);
    })

    function send() {
      const data = {
        name: form.name,
        lastname: '',
      };
      Inertia.post('/test', data);
    }


    return {
      send
    }
  },
  props: {
    errors: Object,
    auth: Object
  },
  components: {
    TestForm
  }
}
</script>
