<template>
  <div>
    <page-default :disableTitlePage="true" :disablePadding="true">
      <template v-slot:content>
        <main class="profile-page">
          <FormTicketRegistration
            :errors="errors"
            :user="user"
          />
        </main>
      </template>
    </page-default>
  </div>
</template>


<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import BannerEvent from "@/Components/EventDetail/Banner/BannerEvent.vue";
import FormTicketRegistration from "@/Components/TicketsRegistration/FormRegistration.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import PageDefault from "@/Layouts/PageDefault.vue";


export default {
  data() {
    return {

    };
  },
  components: {
    Navbar,
    BannerEvent,
    FormTicketRegistration,
    FooterComponent,
    PageDefault
  },
  props: {
    errors:{
      type: Object,
      default: null
    },
    user: {
      type: Object,
      default: null
    }
  }
};
</script>

<style scoped>

</style>
