<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <h1 class="title-rules">
          O lugar do seu evento é aqui no Passaporte Digital
        </h1>
      </template>

      <template v-slot:content>
        <div class="text-container">
          Contratar o serviço do Passaporte Digital é Fácil! Basta preencher e
          nos enviar o pequeno formulário abaixo que um de nossos executivos
          rapidamente entrará em contato com você. O Passaporte Digital atende a
          diversas demandas para o mercado de eventos, desde o acesso, catracas,
          coletores de dados, credenciais, credenciamento à soluções avançadas
          de venda de ingressos para todos os tipos de eventos, congressos,
          feiras, exposições, formaturas, festas, festivais, shows e o que mais
          você pensar, nós fazemos para você.
        </div>
      </template>
    </PageDefault>
  </div>
</template>

<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import Footer from "@/Components/Footers/Footer.vue";
import HomeHeader from "@/Components/Headers/homeHeader.vue";
import FeatureEvent from "@/Components/Events/FeaturedEvents.vue";
import PageDefault from "@/Layouts/PageDefault.vue";

export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Navbar,
    Footer,
    HomeHeader,
    FeatureEvent,
    PageDefault,
  },
};
</script>
<style scoped>
.title-rules {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.title-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.text-container {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #a4a4a4;
  margin-top: 2rem;
}
</style>