<template>
  <div class="headers">
    <div class="infos">
      <h1>Pra facilitar o rolê!</h1>
      <h2>Encontre e compre ingressos das melhores festas da região</h2>
    </div>
    <div class="input-info">
      <div>
        <EventInputSearch type="text" placeholder="Pesquise por eventos..." />
      </div>
      <div>
        <EventSelect
          name="paymentMethod"
          :options="[]"
          placeholder="Selecione um lugar"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import Footer from "@/Components/Footers/Footer.vue";
import EventInputSearch from "@/Components/Forms/inputSearch.vue";
import EventSelect from "@/Components/Forms/SelectLocation.vue";


export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Link,
    Navbar,
    Footer,
    EventInputSearch,
    EventSelect
  },
};
</script>
<style scoped>
.headers {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.infos {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.infos h1 {
  font-size: 36px;
  font-weight: bold;
}

.input-info{
        width: 100%;
}

.input-info > div{
    margin-bottom: 10px;
}
</style>
