<template>
  <div class="infoEvent">
    <div class="image-event">
      <img src="../../../img/nossoSamba/infoEvent.png" />
    </div>
    <div>
      <div class="event-tile">
        {{ event.name }} | {{ event.city || "Montes Claros" }}
      </div>
      <div class="event-date">
        <img src="../../../img/blue-calendar.png" /> {{ dayMonth }}
      </div>

      <div class="event-hour">
        <img src="../../../img/blue-alarm.png" /> {{ hourEvent }}h
      </div>

      <div class="event-location">
        <img src="../../../img/locationfull.png" />
        {{ event.city || "Montes Claros" }} - {{ event.state || "MG" }}
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  setup() {},
  props: {
    event: {
      type: Object,
    },
  },
  computed: {
    dayMonth() {
      return moment(this.event.date, "YYYY-MM-DD").format("DD MMM");
    },
    hourEvent() {
      return moment(this.event.date, "YYYY-MM-DD HH:mm").format("HH");
    },
  },
  components: {},
};
</script>
<style lang="scss" scoped>
.infoEvent {
  display: flex;
  > div {
    flex-basis: 50%;
  }
  .image-event {
    margin-right: 1rem;
  }
  .event-tile {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1rem;
  }

  .event-date {
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  .event-date,
  .event-hour,
  .event-location {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    > img {
      width: 15px;
      margin-right: 5px;
    }
  }

  .event-hour,
  .event-location {
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
  }
}
</style>
