<template>
  <div class="event">
    <div class="events-card">
      <img src="../../../img/Calendar.png" />
      1 OUT
    </div>
    <div class="events-card">
      <img src="../../../img/Alarm.png" />
      17h
    </div>
    <div class="events-card">
      <img src="../../../img/Room.png" />
      Montes Claros MG
    </div>
  </div>
</template>

<script>
export default {
  setup() {},
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {},
};
</script>
<style scoped>
.event {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.event-card {
  display: flex;
  background: #f5f5f5;
  flex-direction: column;
  padding: 20px;
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  box-shadow: 0px 4px 5px #aeaeae;
}
.event-card > h1 {
  color: #172cc1;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.events-card {
  border: 1px solid #ffffff59;
  font-size: 12px;
  color: #ffff;
  font-weight: bold;
  width: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 10px;
}

.events-card:not(:last-of-type) {
  margin-right: 15px;
}

.events-card:last-of-type {
  font-size: 8px;
}
</style>
