<template>
  <div style="width: 100%">
    <div class="header-items">
      <Link as="button" href="/meus-dados" class="header-button">
        <img src="../../../img/profile-icon.png" /> Meus Dados
      </Link>
      <Link as="button" href="/meus-pedidos" class="header-button">
        <img src="../../../img/boleto-icon.png" /> Meus Pedidos
      </Link>
    </div>
    <div class="user-info">{{ title }}</div>
    <slot/>
  </div>
</template>
<script>
import { Link } from '@inertiajs/inertia-vue3';

export default {
  data() {
    return {};
  },
  props: {
    title: String,
  },
  components:{
    Link
  }
};
</script>
<style scoped>
.header-items {
  display: flex;
  justify-content: space-around;
}

.header-button img {
  margin-right: 10px;
}
.header-button {
  border: 1px solid #ffffff29;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-radius: 10px;
}
.user-info {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: #fff;
  margin-top: 2rem;
}
</style>