<template>
  <svg width="23" height="18" viewBox="0 0 23 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 12.8571H23V10.2857H0V12.8571ZM0 18H23V15.4286H0V18ZM0 7.71429H23V5.14286H0V7.71429ZM0 0V2.57143H23V0H0Z"/>
  </svg>
</template>
