<template>
  <svg width="13" height="15" viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.5 1.875H10.875V0.625H9.625V1.875H3.375V0.625H2.125V1.875H1.5C0.8125 1.875 0.25 2.4375 0.25 3.125V13.125C0.25 13.8125 0.8125 14.375 1.5 14.375H11.5C12.1875 14.375 12.75 13.8125 12.75 13.125V3.125C12.75 2.4375 12.1875 1.875 11.5 1.875ZM11.5 13.125H1.5V5H11.5V13.125Z"/>
  </svg>
</template>
