<template>
  <svg :width="width" :height="height" viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.04175 23.2499C7.62091 23.2499 6.47133 24.4124 6.47133 25.8333C6.47133 27.2541 7.62091 28.4166 9.04175 28.4166C10.4626 28.4166 11.6251 27.2541 11.6251 25.8333C11.6251 24.4124 10.4626 23.2499 9.04175 23.2499ZM1.29175 2.58325V5.16659H3.87508L8.52508 14.9703L6.78133 18.1349C6.57467 18.4966 6.45842 18.9228 6.45842 19.3749C6.45842 20.7958 7.62091 21.9583 9.04175 21.9583H24.5417V19.3749H9.58425C9.40342 19.3749 9.26133 19.2328 9.26133 19.052L9.30008 18.897L10.4626 16.7916H20.0855C21.0542 16.7916 21.9067 16.262 22.3459 15.4612L26.9701 7.07825C27.0734 6.89742 27.1251 6.67784 27.1251 6.45825C27.1251 5.74784 26.5438 5.16659 25.8334 5.16659H6.72967L5.5155 2.58325H1.29175ZM21.9584 23.2499C20.5376 23.2499 19.388 24.4124 19.388 25.8333C19.388 27.2541 20.5376 28.4166 21.9584 28.4166C23.3792 28.4166 24.5417 27.2541 24.5417 25.8333C24.5417 24.4124 23.3792 23.2499 21.9584 23.2499Z"/>
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 31
    },
    height: {
      type: Number,
      default: 31
    }
  }
};
</script>
