<template>
  <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.5833 3.05167L11.325 0.317505L10.4112 1.40125L13.6695 4.13542L14.5833 3.05167ZM4.58163 1.40125L3.67496 0.317505L0.416626 3.04459L1.33038 4.12834L4.58163 1.40125ZM7.85413 4.66667H6.79163V8.91667L10.1562 10.9354L10.6875 10.0642L7.85413 8.38542V4.66667ZM7.49996 1.83334C3.97954 1.83334 1.12496 4.68792 1.12496 8.20834C1.12496 11.7288 3.97246 14.5833 7.49996 14.5833C11.0204 14.5833 13.875 11.7288 13.875 8.20834C13.875 4.68792 11.0204 1.83334 7.49996 1.83334ZM7.49996 13.1667C4.75871 13.1667 2.54163 10.9496 2.54163 8.20834C2.54163 5.46709 4.75871 3.25 7.49996 3.25C10.2412 3.25 12.4583 5.46709 12.4583 8.20834C12.4583 10.9496 10.2412 13.1667 7.49996 13.1667Z"/>
  </svg>
</template>
