<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1945px" height="504px" viewBox="0 0 1945 504" enable-background="new 0 0 1945 504" xml:space="preserve">
    <g id="__x0023_Layer_x0020_1">
      <path fill="#0079BE" d="M372.69,504c137.75,0.659,263.48-112.341,263.48-249.81c0-150.33-125.73-254.24-263.48-254.19h-118.55
        c-139.4-0.05-254.14,103.891-254.14,254.19c0,137.499,114.74,250.47,254.14,249.81H372.69z"/>
      <path fill="#FFFFFF" d="M254.701,20.83c-127.38,0.04-230.6,103.29-230.63,230.721C24.101,378.96,127.32,482.2,254.701,482.24
        C382.111,482.2,485.352,378.96,485.37,251.551C485.351,124.12,382.111,20.87,254.701,20.83z M108.511,251.551L108.511,251.551
        c0.12-62.27,39.01-115.37,93.85-136.471v272.91C147.521,366.901,108.63,313.83,108.511,251.551z M307.021,388.05L307.021,388.05
        V115.071c54.86,21.05,93.81,74.18,93.91,136.48C400.831,313.87,361.881,366.96,307.021,388.05z"/>
      <path fill="#211E1F" d="M716.953,108.431c0-23.841-12.431-22.271-24.351-22.53v-6.89c10.33,0.51,20.92,0.51,31.271,0.51
        c11.13,0,26.24-0.51,45.859-0.51c68.62,0,105.99,45.84,105.99,92.779c0,26.25-15.359,92.24-109.18,92.24
        c-13.51,0-25.98-0.521-38.43-0.521c-11.92,0-23.59,0.261-35.511,0.521v-6.88c15.891-1.601,23.591-2.13,24.351-20.16V108.431
        L716.953,108.431z M742.933,232.76L742.933,232.76c0,20.41,14.59,22.79,27.57,22.79c57.26,0,76.06-43.21,76.06-82.71
        c0-49.55-31.81-85.33-82.949-85.33c-10.88,0-15.88,0.78-20.68,1.061L742.933,232.76L742.933,232.76z"/>
      <path fill="#211E1F" d="M885.022,257.151h5.02c7.41,0,12.721,0,12.721-8.771v-71.819c0-11.649-3.971-13.27-13.78-18.54v-4.25
        c12.45-3.74,27.311-8.74,28.35-9.54c1.87-1.06,3.45-1.34,4.78-1.34c1.311,0,1.86,1.6,1.86,3.73V248.38
        c0,8.771,5.83,8.771,13.25,8.771h4.5v6.89c-9.021,0-18.3-0.529-27.82-0.529c-9.54,0-19.09,0.26-28.88,0.529V257.151
        L885.022,257.151z M913.372,102.08L913.372,102.08c-6.899,0-12.979-6.359-12.979-13.25c0-6.64,6.36-12.75,12.979-12.75
        c6.87,0,12.99,5.591,12.99,12.75C926.362,95.99,920.513,102.08,913.372,102.08z"/>
      <path fill="#211E1F" d="M966.901,178.141c0-9.8-2.931-12.44-15.36-17.48v-5.029c11.39-3.71,22.241-7.16,34.969-12.74
        c0.791,0,1.57,0.54,1.57,2.65v17.239c15.131-10.859,28.121-19.89,45.9-19.89c22.5,0,30.449,16.439,30.449,37.109v68.381
        c0,8.77,5.83,8.77,13.26,8.77h4.771v6.89c-9.301,0-18.57-0.529-28.09-0.529c-9.551,0-19.102,0.26-28.631,0.529v-6.89h4.76
        c7.439,0,12.711,0,12.711-8.77V179.75c0-15.13-9.23-22.54-24.361-22.54c-8.469,0-21.99,6.891-30.77,12.73v78.439
        c0,8.771,5.859,8.771,13.291,8.771h4.76v6.89c-9.271,0-18.561-0.53-28.1-0.53c-9.531,0-19.09,0.261-28.621,0.53v-6.89h4.78
        c7.42,0,12.71,0,12.71-8.771V178.141L966.901,178.141z"/>
      <path fill="#211E1F" d="M1102.61,190.88c-0.551,2.391-0.551,6.36,0,15.38c1.561,25.17,17.77,45.841,38.939,45.841
        c14.59,0,26.01-7.95,35.801-17.75l3.699,3.72c-12.199,16.16-27.301,29.939-49.02,29.939c-42.15,0-50.631-40.83-50.631-57.779
        c0-51.961,34.98-67.341,53.52-67.341c21.48,0,44.551,13.511,44.801,41.61c0,1.61,0,3.18-0.25,4.79l-2.4,1.59H1102.61
        L1102.61,190.88z M1149.53,182.391L1149.53,182.391c6.609,0,7.391-3.45,7.391-6.62c0-13.521-8.211-24.391-23.061-24.391
        c-16.15,0-27.281,11.91-30.461,31.011H1149.53L1149.53,182.391z"/>
      <path fill="#211E1F" d="M1185.821,257.151h7.16c7.398,0,12.699,0,12.699-8.771v-74.47c0-8.21-9.789-9.81-13.779-11.93v-3.96
        c19.35-8.23,29.959-15.13,32.369-15.13c1.57,0,2.35,0.8,2.35,3.46v23.85h0.561c6.609-10.33,17.76-27.31,33.91-27.31
        c6.629,0,15.1,4.5,15.1,14.05c0,7.16-5.02,13.54-12.439,13.54c-8.25,0-8.25-6.38-17.51-6.38c-4.51,0-19.34,6.1-19.34,22.01v62.27
        c0,8.77,5.289,8.77,12.719,8.77h14.83v6.891c-14.58-0.271-25.67-0.53-37.09-0.53c-10.859,0-22,0.26-31.539,0.53V257.151
        L1185.821,257.151z"/>
      <path fill="#211E1F" d="M1287.86,227.18c3.451,17.5,14.041,32.351,33.4,32.351c15.6,0,21.439-9.54,21.439-18.82
        c0-31.28-57.76-21.21-57.76-63.88c0-14.85,11.939-33.94,41.08-33.94c8.471,0,19.859,2.4,30.189,7.71l1.881,27.011h-6.109
        c-2.641-16.681-11.91-26.23-28.891-26.23c-10.6,0-20.66,6.101-20.66,17.49c0,31.04,61.48,21.47,61.48,63.08
        c0,17.49-14.051,36.06-45.59,36.06c-10.6,0-23.051-3.71-32.32-9l-2.92-30.489L1287.86,227.18L1287.86,227.18z"/>
      <path fill="#211E1F" d="M1603.221,126.99h-6.611c-5.039-31-27.039-43.47-56.709-43.47c-30.5,0-74.76,20.399-74.76,84.01
        c0,53.58,38.189,91.999,78.99,91.999c26.229,0,47.979-18.02,53.279-45.859l6.08,1.58l-6.08,38.699
        c-11.131,6.91-41.08,14.061-58.59,14.061c-62,0-101.211-40.029-101.211-99.67c0-54.34,48.49-93.32,100.43-93.32
        c21.461,0,42.131,6.92,62.541,14.08L1603.221,126.99L1603.221,126.99z"/>
      <path fill="#211E1F" d="M1612.782,257.151h5.02c7.43,0,12.75,0,12.75-8.771V100.761c0-17.24-3.98-17.771-14.061-20.681v-4.24
        c10.6-3.439,21.73-8.22,27.301-11.409c2.889-1.58,5.029-2.921,5.809-2.921c1.621,0,2.15,1.601,2.15,3.73v183.14
        c0,8.771,5.82,8.771,13.25,8.771h4.471v6.89c-8.971,0-18.25-0.53-27.801-0.53c-9.529,0-19.07,0.261-28.891,0.53v-6.89H1612.782z"/>
      <path fill="#211E1F" d="M1782.948,249.441c0,4.79,2.9,5.05,7.4,5.05c3.189,0,7.15-0.26,10.609-0.26v5.58
        c-11.408,1.05-33.139,6.62-38.18,8.2l-1.33-0.801v-21.449c-15.879,12.979-28.09,22.25-46.92,22.25
        c-14.309,0-29.148-9.271-29.148-31.521v-67.88c0-6.89-1.051-13.521-15.871-14.84v-5.04c9.551-0.26,30.711-1.851,34.17-1.851
        c2.941,0,2.941,1.851,2.941,7.681v68.369c0,7.971,0,30.76,23.039,30.76c9.01,0,20.93-6.89,32.051-16.14v-71.34
        c0-5.28-12.711-8.19-22.23-10.851v-4.77c23.82-1.6,38.689-3.71,41.32-3.71c2.148,0,2.148,1.85,2.148,4.78V249.441L1782.948,249.441
        z"/>
      <path fill="#211E1F" d="M1835.682,161.981c10.59-9.011,24.898-19.09,39.488-19.09c30.75,0,49.281,26.8,49.281,55.669
        c0,34.721-25.43,69.45-63.352,69.45c-19.6,0-29.93-6.37-36.83-9.271l-7.939,6.08l-5.549-2.899c2.35-15.64,3.699-31.02,3.699-47.18
        V100.76c0-17.239-4-17.77-14.061-20.68v-4.24c10.631-3.439,21.73-8.22,27.301-11.41c2.92-1.58,5.029-2.92,5.85-2.92
        c1.58,0,2.109,1.601,2.109,3.73v96.74H1835.682z M1835.682,234.071L1835.682,234.071c0,10.08,9.529,27.06,27.289,27.06
        c28.359,0,40.279-27.85,40.279-51.449c0-28.62-21.709-52.47-42.389-52.47c-9.83,0-18.031,6.37-25.18,12.479V234.071
        L1835.682,234.071z"/>
      <path fill="#211E1F" d="M692.299,418.15h2.03c5.18,0,10.66-0.699,10.66-8.21v-75.56c0-7.521-5.48-8.23-10.66-8.23h-2.03v-4.33
        c5.63,0,14.28,0.57,21.37,0.57c7.2,0,15.84-0.57,22.62-0.57v4.33h-2.03c-5.17,0-10.659,0.71-10.659,8.23v75.56
        c0,7.511,5.489,8.21,10.659,8.21h2.03v4.351c-6.92,0-15.59-0.57-22.78-0.57c-7.069,0-15.58,0.57-21.21,0.57V418.15L692.299,418.15z
        "/>
      <path fill="#211E1F" d="M736.293,423.111c-6.97,0-15.609-0.58-22.79-0.58c-7.05,0-15.529,0.58-21.2,0.58h-0.619v-0.62v-4.33v-0.63
        h0.619h2.021c5.229-0.12,9.99-0.54,10.04-7.59V334.38c-0.05-7.05-4.81-7.521-10.04-7.62h-2.64v-0.609v-4.971h0.619
        c5.671,0,14.311,0.57,21.36,0.57c7.18,0,15.811-0.57,22.63-0.57h0.641v0.66v4.92h-0.641h-2.02c-5.23,0.1-10.021,0.57-10.05,7.62
        v75.561c0.029,7.05,4.819,7.47,10.05,7.59h2.66v0.63v4.95H736.293L736.293,423.111z M735.673,421.88L735.673,421.88v-3.08h-1.399
        c-5.15,0-11.28-0.89-11.311-8.859V334.38c0.03-7.97,6.16-8.87,11.311-8.87h1.399v-3.06c-6.66,0-15.01,0.56-22.01,0.56
        c-6.85,0-15.14-0.52-20.72-0.56v3.06h1.38c5.14,0,11.29,0.9,11.29,8.87v75.561c0,7.97-6.15,8.859-11.29,8.859h-1.38v3.08
        c5.58-0.06,13.729-0.58,20.56-0.58C720.523,421.3,728.873,421.84,735.673,421.88L735.673,421.88z"/>
      <path fill="#211E1F" d="M835.363,394.07l0.289-0.28V339.71c0-11.84-8.229-13.56-12.549-13.56h-3.181v-4.331
        c6.79,0,13.42,0.57,20.19,0.57c5.909,0,11.85-0.57,17.75-0.57v4.331h-2.16c-6.07,0-12.85,1.149-12.85,18.31v65.64
        c0,5.041,0.149,10.08,0.859,14.551h-5.489l-74.25-82.79v59.43c0,12.55,2.43,16.86,13.55,16.86h2.439v4.35
        c-6.189,0-12.38-0.57-18.59-0.57c-6.47,0-13.109,0.57-19.609,0.57v-4.35h2.02c9.95,0,12.971-6.761,12.971-18.29v-60.75
        c0-8.07-6.65-12.96-13.11-12.96h-1.88v-4.33c5.479,0,11.1,0.569,16.57,0.569c4.329,0,8.52-0.569,12.839-0.569L835.363,394.07
        L835.363,394.07z"/>
      <path fill="#211E1F" d="M843.708,425.281l-5.949-0.221l-73.181-81.569v57.8c0.17,12.54,2.08,16.101,12.94,16.24h3.09v0.62v4.96
        h-0.64c-6.24,0-12.45-0.58-18.601-0.58c-6.46,0-13.08,0.58-19.62,0.58h-0.63v-0.62v-4.96h0.63h2.03
        c9.53-0.05,12.25-6.17,12.36-17.67v-60.74c-0.021-7.68-6.32-12.34-12.5-12.36h-2.521v-0.64v-4.92h0.63
        c5.511,0,11.16,0.55,16.57,0.55c4.29,0,8.471-0.55,13.33-0.34l63.38,71.351v-53.04c-0.08-11.48-7.729-12.86-11.93-12.961h-3.82
        v-0.64v-4.92h0.64c6.811,0,13.45,0.55,20.19,0.55c5.87,0,11.78-0.55,17.74-0.55h0.63v0.62v4.939h-0.63h-2.15
        c-5.95,0.171-12.06,0.69-12.229,17.7v65.63c0,5.04,0.149,10.08,0.85,14.45l0.14,0.74H843.708L843.708,425.281z M838.229,424.01
        L838.229,424.01h4.77c-0.649-4.33-0.76-9.13-0.76-13.92v-65.63c0-17.31,7.25-18.949,13.46-18.949h1.52v-3.061
        c-5.68,0.04-11.38,0.56-17.109,0.56c-6.6,0-13.02-0.52-19.55-0.56l-0.01,3.061h2.55c4.43,0,13.18,1.979,13.18,14.21l-0.2,54.499
        l-0.29,0.301l-0.489,0.45l-64.131-72.521c-4.279,0-8.46,0.56-12.85,0.56c-5.29,0-10.7-0.52-15.93-0.56l-0.03,3.06h1.28
        c6.77,0,13.72,5.17,13.72,13.61v60.74c0,11.529-3.21,18.909-13.58,18.949l-1.39-0.04v3.11c6.25-0.06,12.67-0.58,18.979-0.58
        c6.021,0,12.011,0.521,17.97,0.58v-3.07h-1.819c-11.351-0.04-14.17-4.979-14.181-17.52v-61.05L838.229,424.01L838.229,424.01z
        M835.358,394.06L835.358,394.06l0.46-0.42L835.358,394.06z M835.028,393.781L835.028,393.781v-0.05l-0.12-0.101L835.028,393.781z"
        />
      <path fill="#211E1F" d="M879.449,329.02c-10.83,0-11.24,2.601-13.4,13.12h-4.33c0.57-4.03,1.29-8.06,1.73-12.26
        c0.579-4.04,0.859-8.061,0.859-12.24h3.47c1.16,4.33,4.761,4.18,8.671,4.18h74.39c3.899,0,7.5-0.14,7.8-4.479l3.439,0.58
        c-0.56,3.899-1.14,7.79-1.58,11.689c-0.26,3.891-0.26,7.79-0.26,11.67l-4.34,1.61c-0.3-5.33-1.02-13.87-10.67-13.87h-23.65v76.74
        c0,11.12,5.051,12.391,11.95,12.391h2.75v4.35c-5.62,0-15.729-0.57-23.5-0.57c-8.649,0-18.76,0.57-24.39,0.57v-4.35h2.75
        c7.95,0,11.97-0.711,11.97-12.091v-77.04H879.449L879.449,329.02z"/>
      <path fill="#211E1F" d="M936.301,423.111c-5.681,0-15.771-0.58-23.521-0.58c-8.64,0-18.729,0.58-24.39,0.58h-0.6v-0.61v-4.97h0.6
        h2.75c7.95-0.19,11.149-0.29,11.33-11.471v-76.409H879.45v-0.631v-0.64h24.271v77.68c0,11.57-4.66,12.74-12.58,12.75h-2.12v3.04
        c5.69-0.029,15.39-0.55,23.76-0.55c7.521,0,17.16,0.521,22.86,0.55v-3.04h-2.11c-6.97-0.01-12.58-1.72-12.58-13.05v-77.38h24.28
        c9.68,0.04,10.94,8.27,11.26,13.62l3.11-1.15c0-3.76,0.02-7.53,0.28-11.33c0.42-3.71,0.95-7.39,1.49-11.07l-2.201-0.37
        c-0.669,4.2-4.72,4.41-8.35,4.37h-74.37h-0.75c-3.39,0-7.1-0.16-8.39-4.189h-2.38c-0.021,3.99-0.301,7.86-0.851,11.699
        c-0.42,3.961-1.08,7.771-1.62,11.581h3.091c1.899-10.051,3.14-13.311,13.899-13.16v0.64v0.63c-10.66,0.19-10.439,1.99-12.79,12.65
        l-0.109,0.49h-0.5H861l0.08-0.75c0.58-4.04,1.311-8.061,1.74-12.261c0.6-4,0.88-8,0.88-12.14v-0.63h0.61h3.96l0.1,0.45
        c0.99,3.64,3.66,3.66,7.33,3.72h0.75h74.37c4.021-0.06,6.94-0.12,7.19-3.891l0.06-0.68l0.65,0.14l4.07,0.641l-0.091,0.63
        c-0.58,3.86-1.149,7.76-1.569,11.63c-0.29,3.84-0.29,7.74-0.29,11.63v0.45l-0.4,0.16l-5.11,1.859l-0.039-0.84
        c-0.381-5.42-0.951-13.26-10.061-13.26h-23.02v76.11c0.13,10.88,4.449,11.63,11.319,11.77h3.38v0.62v4.96L936.301,423.111
        L936.301,423.111z"/>
      <path fill="#211E1F" d="M966.691,418.15h2.03c5.181,0,10.669-0.699,10.669-8.21v-75.56c0-7.521-5.488-8.23-10.669-8.23h-2.03v-4.33
        c8.78,0,23.801,0.57,35.889,0.57c12.141,0,27.111-0.57,36.91-0.57c-0.238,6.19-0.109,15.73,0.32,22.061l-4.35,1.159
        c-0.689-9.369-2.42-16.859-17.57-16.859h-20.029v37.77h17.141c8.648,0,10.539-4.89,11.389-12.699h4.32
        c-0.279,5.649-0.43,11.27-0.43,16.89c0,5.49,0.15,10.96,0.43,16.44l-4.32,0.859c-0.85-8.649-1.289-14.27-11.25-14.27h-17.279v33.59
        c0,9.39,8.33,9.39,17.57,9.39c17.309,0,24.939-1.17,29.27-17.59l4.041,0.99c-1.891,7.66-3.611,15.29-4.891,22.95
        c-9.24,0-25.83-0.57-38.791-0.57c-13,0-30.148,0.57-38.37,0.57V418.15L966.691,418.15z"/>
      <path fill="#211E1F" d="M1043.838,423.111c-9.26,0-25.84-0.591-38.789-0.591c-12.99,0-30.131,0.591-38.361,0.591h-0.609v-0.61
        v-4.35v-0.62h0.609h2.021c5.229-0.08,9.969-0.54,10.04-7.59V334.38c-0.07-7.04-4.811-7.51-10.04-7.62h-2.63v-0.609v-4.95h0.609
        c8.8,0,23.8,0.55,35.89,0.55c12.129,0,27.09-0.55,36.91-0.55h0.65l-0.031,0.64c-0.1,2.17-0.139,4.729-0.139,7.45
        c0,4.989,0.139,10.439,0.43,14.55l0.02,0.52l-0.48,0.141l-5.07,1.32l-0.029-0.74c-0.85-9.36-2.1-16.15-16.949-16.29h-19.43
        l-0.021,36.51h16.561c8.301-0.08,9.789-4.33,10.77-12.1l0.051-0.57h0.559h4.971l-0.01,0.649c-0.279,5.62-0.461,11.24-0.461,16.86
        c0,5.46,0.182,10.93,0.461,16.42l0.01,0.511l-0.52,0.119l-5.01,1l-0.051-0.68c-0.99-8.8-1.061-13.62-10.641-13.729l-16.67-0.011
        v32.99c0.012,8.76,7.57,8.71,16.971,8.76c17.359-0.1,24.32-0.939,28.67-17.14l0.141-0.58l0.609,0.11l4.621,1.189l-0.141,0.601
        c-1.859,7.64-3.59,15.26-4.881,22.899l-0.119,0.511H1043.838L1043.838,423.111z M1043.309,421.851L1043.309,421.851
        c1.25-7.271,2.898-14.57,4.67-21.831l-2.85-0.72c-4.32,16.141-12.682,17.58-29.701,17.471c-9.08,0-18.18,0-18.221-10.011v-34.22
        h17.922c10.068-0.11,11.1,5.97,11.809,14.18l3.121-0.649c-0.281-5.311-0.41-10.641-0.41-15.931c0-5.43,0.129-10.829,0.41-16.26
        h-3.121c-0.799,7.51-3.15,12.79-11.939,12.69h-17.791v-39.04h20.682c15-0.101,17.488,7.64,18.129,16.71l3.111-0.84
        c-0.25-4.07-0.422-9.29-0.422-14.11c0-2.47,0.061-4.8,0.141-6.84c-9.799,0.04-24.4,0.56-36.27,0.56
        c-11.85,0-26.439-0.52-35.27-0.56v3.06h1.399c5.14,0,11.281,0.9,11.3,8.87v75.561c-0.02,7.95-6.16,8.83-11.3,8.87h-1.399v3.04
        c8.411-0.011,25.071-0.55,37.739-0.55C1017.768,421.301,1034.008,421.84,1043.309,421.851L1043.309,421.851z"/>
      <path fill="#211E1F" d="M1068.202,337.1c0-10.52-5.76-10.95-10.25-10.95h-2.59v-4.34c4.619,0,13.549,0.58,22.35,0.58
        c8.65,0,15.58-0.58,23.211-0.58c18.158,0,34.33,4.91,34.33,25.41c0,12.95-8.65,20.89-20.041,25.38l24.65,36.9
        c4.039,6.1,6.91,7.81,13.99,8.649v4.351c-4.76,0-9.381-0.57-14.131-0.57c-4.469,0-9.1,0.57-13.551,0.57
        c-11.1-14.57-20.639-30.15-30.01-46.75h-9.488v30.88c0,11.12,5.17,11.52,11.799,11.52h2.6v4.351c-8.24,0-16.568-0.57-24.799-0.57
        c-6.93,0-13.711,0.57-20.91,0.57v-4.351h2.59c5.359,0,10.25-2.42,10.25-7.77V337.1L1068.202,337.1z M1086.67,370.56L1086.67,370.56
        h7.041c14.43,0,22.199-5.479,22.199-22.5c0-12.82-8.209-21.05-21.059-21.05c-4.33,0-6.17,0.45-8.182,0.58V370.56z"/>
      <path fill="#211E1F" d="M1153.852,423.111c-4.83,0-9.42-0.58-14.16-0.58c-4.4,0-9,0.58-14.029,0.34
        c-11.061-14.51-20.541-30-29.861-46.48h-8.52v30.221c0.15,10.85,4.51,10.76,11.18,10.92h3.23v0.62v4.96h-0.641
        c-8.24,0-16.609-0.58-24.799-0.58c-6.891,0-13.65,0.58-20.891,0.58h-0.631v-0.62v-4.96h0.631h2.59c5.199-0.03,9.58-2.29,9.6-7.15
        v-73.279c-0.109-10.24-5.119-10.181-9.6-10.33h-3.221v-0.62v-4.97h0.631c4.67,0,13.57,0.569,22.35,0.569
        c8.609,0,15.541-0.569,23.221-0.569c18.17,0.04,34.91,5.06,34.959,26c0,13.03-8.609,21.159-19.74,25.7l24.23,36.279
        c4.031,5.98,6.541,7.471,13.561,8.37l0.529,0.08v0.54v4.96H1153.852L1153.852,423.111z M1086.653,375.13L1086.653,375.13h9.859
        l0.17,0.32c9.4,16.57,18.869,32.13,29.49,46.43c4.4,0,9.029-0.59,13.52-0.59c4.609,0,9.049,0.5,13.539,0.57v-3.16
        c-6.77-0.84-9.939-2.86-13.879-8.85l-25.09-37.551l0.709-0.29c11.281-4.439,19.631-12.149,19.641-24.83
        c-0.01-20.01-15.551-24.649-33.68-24.729c-7.611,0-14.531,0.57-23.221,0.57c-8.469,0-17.02-0.53-21.74-0.57v3.06h1.98
        c4.48,0.011,10.859,0.75,10.859,11.591v73.279c0,5.79-5.43,8.43-10.859,8.44h-1.98v3.039c6.941-0.02,13.51-0.569,20.281-0.569
        c8.068,0,16.199,0.55,24.18,0.569v-3.039h-1.971c-6.58-0.011-12.439-0.83-12.439-12.21v-31.48h0.629H1086.653z M1086.653,371.17
        L1086.653,371.17h-0.631v-44.16l0.549-0.05c1.971-0.149,3.922-0.56,8.281-0.56c13.141,0,21.68,8.54,21.699,21.689
        c-0.039,17.22-8.299,23.07-22.84,23.08H1086.653L1086.653,371.17z M1093.711,369.931L1093.711,369.931
        c14.279-0.121,21.461-5.08,21.611-21.841c-0.08-12.6-7.91-20.42-20.471-20.47c-3.9,0-5.73,0.36-7.57,0.521v41.79H1093.711
        L1093.711,369.931z"/>
      <path fill="#211E1F" d="M1251.762,394.07l0.26-0.28V339.71c0-11.84-8.209-13.56-12.529-13.56h-3.16v-4.331
        c6.77,0,13.391,0.57,20.18,0.57c5.92,0,11.811-0.57,17.76-0.57v4.331h-2.17c-6.059,0-12.84,1.149-12.84,18.31v65.64
        c0,5.041,0.141,10.08,0.85,14.551h-5.469l-74.26-82.79v59.43c0,12.55,2.449,16.86,13.549,16.86h2.451v4.35
        c-6.191,0-12.4-0.57-18.59-0.57c-6.512,0-13.141,0.57-19.621,0.57v-4.35h2c9.961,0,12.99-6.761,12.99-18.29v-60.75
        c0-8.07-6.631-12.96-13.109-12.96h-1.881v-4.33c5.461,0,11.111,0.569,16.58,0.569c4.301,0,8.5-0.569,12.83-0.569L1251.762,394.07
        L1251.762,394.07z"/>
      <path fill="#211E1F" d="M1260.118,425.27l-5.939-0.2l-73.189-81.579v57.79c0.17,12.55,2.07,16.109,12.949,16.25h3.051v0.62v4.96
        h-0.631c-6.238,0-12.42-0.591-18.6-0.591c-6.439,0-13.1,0.591-19.59,0.591h-0.65v-0.61v-4.97h0.65h2
        c9.52-0.04,12.25-6.17,12.34-17.71v-60.71c-0.01-7.681-6.299-12.34-12.459-12.351h-2.531v-0.609v-4.97h0.65
        c5.5,0,11.141,0.569,16.58,0.569c4.24,0,8.42-0.569,13.26-0.37l63.391,71.381V339.7c-0.041-11.46-7.721-12.88-11.91-12.939h-3.811
        v-0.61v-4.97h0.631c6.82,0,13.459,0.569,20.199,0.569c5.881,0,11.791-0.569,17.73-0.569h0.629v0.65v4.93h-0.629h-2.141
        c-5.949,0.16-12.08,0.689-12.23,17.7v65.629c0,5.04,0.131,10.04,0.861,14.48l0.08,0.7L1260.118,425.27L1260.118,425.27z
        M1254.639,424.01L1254.639,424.01h4.74c-0.631-4.33-0.771-9.13-0.771-13.92v-65.63c0.01-17.311,7.311-18.91,13.49-18.96h1.51
        v-3.05c-5.66,0.04-11.369,0.56-17.1,0.56c-6.619,0-13.051-0.52-19.58-0.56v3.05h2.561c4.439,0.05,13.18,1.99,13.18,14.2
        l-0.199,54.52l-0.281,0.3l-0.439,0.46l-64.18-72.529c-4.281,0-8.461,0.56-12.82,0.56c-5.34,0-10.73-0.52-15.98-0.56v3.05h1.279
        c6.771,0.05,13.721,5.16,13.721,13.61v60.709c0,11.58-3.26,18.95-13.6,18.99l-1.4-0.01v3.05c6.23-0.03,12.66-0.55,18.99-0.55
        c6.051,0,12.041,0.52,18,0.55v-3.04h-1.82c-11.359-0.01-14.199-4.979-14.219-17.53v-61.02L1254.639,424.01L1254.639,424.01z
        M1251.758,394.06L1251.758,394.06l0.439-0.41L1251.758,394.06z M1251.399,393.79L1251.399,393.79v-0.051l-0.111-0.109
        L1251.399,393.79z"/>
      <path fill="#211E1F" d="M1297.461,401.87c-1.459,4.89-3.199,8.67-3.199,11.24c0,4.34,6.07,5.04,10.811,5.04h1.609v4.35
        c-5.779-0.311-11.67-0.57-17.48-0.57c-5.189,0-10.35,0.261-15.549,0.57v-4.35h0.869c5.619,0,10.391-3.311,12.52-9.38l23.1-66.181
        c1.861-5.34,4.48-12.55,5.352-17.899c4.59-1.57,10.369-4.45,13.1-6.19c0.449-0.149,0.699-0.3,1.15-0.3c0.43,0,0.709,0,1.029,0.45
        c0.42,1.14,0.84,2.45,1.301,3.6l26.529,75.44c1.73,5.04,3.439,10.37,5.311,14.71c1.74,4.04,4.779,5.75,9.549,5.75h0.85v4.35
        c-6.488-0.31-12.988-0.569-19.889-0.569c-7.07,0-14.301,0.26-21.65,0.569v-4.35h1.6c3.301,0,8.941-0.56,8.941-4.17
        c0-1.87-1.301-5.76-2.91-10.39l-5.611-16.73h-32.729L1297.461,401.87L1297.461,401.87z M1318.502,337.97L1318.502,337.97h-0.291
        l-13.41,40.82h26.951L1318.502,337.97z"/>
      <path fill="#211E1F" d="M1374.272,423.111c-6.49-0.29-12.98-0.591-19.85-0.591c-7.07,0-14.25,0.301-21.631,0.591l-0.65,0.04v-0.65
        v-4.99h0.631h1.59c3.34,0,8.299-0.76,8.299-3.529c0.041-1.641-1.26-5.601-2.85-10.19l-5.49-16.31h-31.809l-4.48,14.569
        c-1.461,4.92-3.189,8.73-3.18,11.08c0.049,3.521,5.439,4.38,10.219,4.38h2.221v0.65v4.99l-0.65-0.04
        c-5.77-0.29-11.66-0.591-17.41-0.591c-5.17,0-10.369,0.301-15.539,0.591l-0.67,0.04v-0.65v-4.99h0.629h0.861
        c5.369-0.02,9.85-3.069,11.93-8.939l23.09-66.19c1.891-5.35,4.49-12.54,5.74-18.29c4.52-1.53,10.309-4.43,13.09-6.19
        c0.4-0.13,0.801-0.33,1.391-0.33c0.35-0.01,1.129,0.08,1.59,0.841c0.41,1.189,0.859,2.47,1.299,3.64l26.561,75.431
        c1.701,5.06,3.42,10.39,5.301,14.649c1.67,3.851,4.32,5.36,8.959,5.38h1.471v0.65v4.99L1374.272,423.111L1374.272,423.111z
        M1333.401,421.821L1333.401,421.821c7.141-0.25,14.131-0.53,21.021-0.53c6.699,0,12.969,0.28,19.238,0.53v-3.011h-0.199
        c-4.939,0.03-8.35-1.909-10.121-6.159c-1.879-4.38-3.639-9.73-5.328-14.78l-26.551-75.42c-0.439-1.15-0.859-2.46-1.24-3.48
        c-0.119-0.14-0.09-0.14-0.209-0.14h-0.262c-0.299,0-0.469,0.09-0.84,0.19c-2.779,1.81-8.568,4.64-12.84,5.77
        c-0.889,5.46-3.479,12.66-5.359,18l-23.08,66.2c-2.199,6.26-7.25,9.83-13.119,9.819h-0.23v3.011c4.939-0.25,9.939-0.53,14.949-0.53
        c5.57,0,11.27,0.28,16.77,0.53v-3.011h-0.93c-4.689-0.06-11.25-0.59-11.43-5.68c0.01-2.88,1.781-6.569,3.189-11.439l0.631,0.189
        l-0.631-0.21l4.75-15.42h33.621l5.789,17.141c1.621,4.63,2.93,8.47,2.93,10.59c-0.199,4.43-6.289,4.74-9.559,4.83h-0.961V421.821
        L1333.401,421.821z M1303.922,379.41L1303.922,379.41l13.809-42.07h0.48h0.301v0.63l-0.16,0.03l0.16-0.03v-0.63h0.43l13.689,42.07
        H1303.922z M1305.651,378.16L1305.651,378.16h25.24l-12.551-38.65L1305.651,378.16z M1317.881,338.151L1317.881,338.151l0.33-0.11
        L1317.881,338.151z"/>
      <path fill="#211E1F" d="M1380.653,329.02c-10.82,0-11.25,2.601-13.422,13.12h-4.33c0.57-4.03,1.301-8.06,1.752-12.26
        c0.578-4.04,0.84-8.061,0.84-12.24h3.479c1.15,4.33,4.771,4.18,8.641,4.18h74.43c3.871,0,7.471-0.14,7.771-4.479l3.449,0.58
        c-0.551,3.899-1.119,7.79-1.561,11.689c-0.309,3.891-0.309,7.79-0.309,11.67l-4.32,1.61c-0.271-5.33-0.99-13.87-10.66-13.87h-23.65
        v76.74c0,11.12,5.061,12.391,11.961,12.391h2.738v4.35c-5.619,0-15.699-0.57-23.5-0.57c-8.639,0-18.75,0.57-24.369,0.57v-4.35h2.73
        c7.949,0,11.99-0.711,11.99-12.091v-77.04H1380.653L1380.653,329.02z"/>
      <path fill="#211E1F" d="M1437.463,423.111c-5.66,0-15.76-0.58-23.5-0.58c-8.621,0-18.721,0.58-24.371,0.58h-0.639v-0.61v-4.97
        h0.639h2.73c7.949-0.19,11.141-0.29,11.34-11.471l-0.02-76.409h-22.99v-0.631v-0.64h24.26v77.68c0,11.57-4.67,12.71-12.59,12.74
        h-2.119v3.08c5.709-0.061,15.389-0.58,23.76-0.58c7.529,0,17.17,0.521,22.869,0.58v-3.08h-2.129
        c-6.932-0.03-12.551-1.7-12.57-13.04v-77.38h24.279c9.68,0.04,10.949,8.27,11.221,13.62l3.15-1.15c0-3.76,0.01-7.53,0.289-11.31
        c0.4-3.71,0.939-7.41,1.471-11.091l-2.18-0.37c-0.66,4.2-4.73,4.431-8.32,4.37h-74.432h-0.729c-3.4,0.04-7.08-0.16-8.391-4.21
        h-2.359c-0.041,4-0.311,7.881-0.881,11.721c-0.379,3.97-1.09,7.79-1.629,11.58h3.09c1.91-10.051,3.16-13.311,13.939-13.16v0.64
        v0.63c-10.689,0.181-10.449,1.99-12.811,12.65l-0.109,0.49h-0.5h-5.061l0.09-0.721c0.6-4.069,1.32-8.09,1.74-12.26
        c0.59-4.03,0.871-8.03,0.871-12.17v-0.63h0.619h3.939l0.121,0.45c1.01,3.64,3.639,3.66,7.33,3.72l0.729,0.02h74.432
        c3.98-0.079,6.889-0.14,7.139-3.899l0.041-0.69l0.68,0.141l4.09,0.64l-0.109,0.63c-0.59,3.86-1.141,7.76-1.58,11.63
        c-0.291,3.84-0.291,7.75-0.291,11.63v0.45l-0.408,0.16l-5.111,1.86l-0.029-0.841c-0.371-5.419-0.941-13.26-10.051-13.26h-23.029
        v76.11c0.15,10.88,4.459,11.63,11.32,11.77h3.379v0.62v4.96L1437.463,423.111L1437.463,423.111z"/>
      <path fill="#211E1F" d="M1468.588,418.15h2.021c5.209,0,10.658-0.699,10.658-8.21v-75.56c0-7.521-5.449-8.23-10.658-8.23h-2.021
        v-4.33c5.631,0,14.271,0.57,21.32,0.57c7.24,0,15.891-0.57,22.67-0.57v4.33h-2.02c-5.189,0-10.689,0.71-10.689,8.23v75.56
        c0,7.511,5.5,8.21,10.689,8.21h2.02v4.351c-6.93,0-15.59-0.57-22.779-0.57c-7.08,0-15.58,0.57-21.211,0.57V418.15z"/>
      <path fill="#211E1F" d="M1512.583,423.111c-6.969,0-15.6-0.591-22.789-0.591c-7.051,0-15.57,0.591-21.201,0.591h-0.629v-0.61v-4.35
        v-0.62h0.629h2.021c5.209-0.08,9.99-0.53,10.01-7.59V334.38c-0.02-7.04-4.801-7.521-10.01-7.62h-2.65v-0.609v-4.95h0.629
        c5.631,0,14.291,0.55,21.32,0.55c7.191,0,15.84-0.55,22.67-0.55h0.611v0.619v4.94h-0.611h-2.02c-5.27,0.1-10,0.58-10.07,7.62
        v75.561c0.07,7.06,4.801,7.51,10.07,7.59h2.631v0.62v4.96H1512.583L1512.583,423.111z M1511.934,421.851L1511.934,421.851V418.8
        h-1.371c-5.17,0-11.289-0.909-11.289-8.859V334.38c0-7.97,6.119-8.87,11.289-8.87h1.371v-3.06c-6.66,0.04-14.99,0.56-22.021,0.56
        c-6.83,0-15.1-0.52-20.689-0.56v3.06h1.391c5.129,0,11.27,0.9,11.289,8.87v75.561c-0.02,7.949-6.16,8.859-11.289,8.859h-1.391
        v3.051c5.561-0.061,13.721-0.551,20.57-0.551c6.99,0,15.34,0.521,22.139,0.551H1511.934z"/>
      <path fill="#211E1F" d="M1570.088,319.66c30.74,0,55.24,19.06,55.24,49.77c0,33.181-23.791,55.23-54.49,55.23
        c-30.6,0-53.939-20.771-53.939-51.78C1516.899,342.89,1540.098,319.66,1570.088,319.66L1570.088,319.66z M1572.268,418.31
        L1572.268,418.31c27.98,0,32.85-24.68,32.85-45.71c0-21.08-11.359-46.6-35.309-46.6c-25.24,0-32.73,22.5-32.73,41.81
        C1537.079,393.63,1548.899,418.31,1572.268,418.31L1572.268,418.31z"/>
      <path fill="#211E1F" d="M1516.252,372.88c0.061-30.34,23.541-53.81,53.83-53.85v0.63v0.609c-29.639,0-52.58,22.931-52.609,52.61
        c0.07,30.66,23.08,51.12,53.361,51.13c30.398-0.01,53.85-21.75,53.898-54.609c-0.029-30.32-24.16-49.091-54.648-49.131v-0.609
        v-0.63c30.979,0.02,55.809,19.27,55.869,50.37c-0.029,33.529-24.131,55.81-55.119,55.869c-30.842-0.06-54.521-21.04-54.58-52.39
        H1516.252z M1536.454,367.81L1536.454,367.81c0.039-19.399,7.619-42.46,33.359-42.46c24.48,0.061,35.91,26.061,35.949,47.25
        c-0.039,21.03-4.988,46.311-33.488,46.311v-0.6v-0.621c27.42-0.039,32.17-24.06,32.238-45.09c0-20.909-11.26-45.939-34.699-45.97
        c-24.74,0.03-32.061,21.97-32.109,41.18c0.02,25.69,11.73,49.82,34.57,49.88v0.621v0.6
        C1548.333,418.88,1536.493,393.781,1536.454,367.81L1536.454,367.81z"/>
      <path fill="#211E1F" d="M1722.508,394.07l0.291-0.28V339.71c0-11.84-8.24-13.56-12.57-13.56h-3.121v-4.331
        c6.76,0,13.391,0.57,20.15,0.57c5.93,0,11.84-0.57,17.76-0.57v4.331h-2.18c-6.041,0-12.83,1.149-12.83,18.31v65.64
        c0,5.041,0.141,10.08,0.871,14.551h-5.471l-74.281-82.79v59.43c0,12.55,2.441,16.86,13.541,16.86h2.469v4.35
        c-6.209,0-12.398-0.57-18.6-0.57c-6.49,0-13.139,0.57-19.629,0.57v-4.35h2.029c9.971,0,12.961-6.761,12.961-18.29v-60.75
        c0-8.07-6.602-12.96-13.111-12.96h-1.879v-4.33c5.479,0,11.109,0.569,16.58,0.569c4.33,0,8.5-0.569,12.84-0.569L1722.508,394.07
        L1722.508,394.07z"/>
      <path fill="#211E1F" d="M1730.889,425.27l-5.969-0.21l-73.17-81.57v57.801c0.158,12.54,2.068,16.09,12.898,16.22h3.121v0.65v4.95
        h-0.631c-6.25,0-12.439-0.58-18.6-0.58c-6.471,0-13.09,0.58-19.641,0.58h-0.6v-0.62v-4.98h0.6h2.041
        c9.51-0.029,12.24-6.149,12.359-17.65v-60.75c-0.02-7.68-6.311-12.34-12.51-12.35h-2.49v-0.61v-4.95h0.6
        c5.531,0,11.15,0.551,16.59,0.551c4.281,0,8.441-0.551,13.32-0.34l63.361,71.35v-53.04c-0.041-11.479-7.721-12.86-11.941-12.96
        h-3.789v-0.609v-4.95h0.65c6.789,0,13.439,0.55,20.148,0.55c5.92,0,11.801-0.55,17.781-0.55h0.619v0.619v4.94h-0.619h-2.182
        c-5.93,0.17-12.068,0.71-12.189,17.7v65.63c0,5.04,0.109,10.069,0.811,14.479l0.119,0.7H1730.889L1730.889,425.27z
        M1725.411,424.01L1725.411,424.01h4.719c-0.629-4.33-0.74-9.13-0.74-13.92v-65.63c0-17.34,7.271-18.91,13.451-18.96h1.559v-3.05
        c-5.689,0.04-11.389,0.56-17.158,0.56c-6.561,0-13.012-0.52-19.541-0.56v3.05h2.529c4.471,0.05,13.17,2.021,13.17,14.22
        l-0.158,54.5l-0.271,0.301l-0.459,0.459l-64.18-72.529c-4.25,0-8.461,0.56-12.84,0.56c-5.311,0-10.721-0.52-15.971-0.56v3.05h1.27
        c6.771,0.05,13.74,5.16,13.74,13.61v60.75c0,11.53-3.219,18.91-13.59,18.95l-1.42-0.011v3.051c6.26-0.03,12.68-0.55,19.02-0.55
        c6.01,0,11.98,0.52,17.971,0.55v-3.04h-1.861c-11.318-0.011-14.148-4.98-14.148-17.521v-61.05L1725.411,424.01L1725.411,424.01z
        M1722.51,394.06L1722.51,394.06l0.459-0.41L1722.51,394.06z M1722.17,393.79L1722.17,393.79v-0.051l-0.121-0.109L1722.17,393.79z"
        />
      <path fill="#211E1F" d="M1768.192,401.87c-1.41,4.89-3.16,8.67-3.16,11.24c0,4.34,6.07,5.04,10.801,5.04h1.609v4.35
        c-5.77-0.311-11.689-0.57-17.459-0.57c-5.211,0-10.381,0.261-15.551,0.57v-4.35h0.82c5.65,0,10.43-3.311,12.561-9.38l23.1-66.181
        c1.859-5.34,4.469-12.55,5.311-17.899c4.619-1.57,10.379-4.45,13.148-6.19c0.41-0.149,0.701-0.3,1.141-0.3
        c0.43,0,0.699,0,0.99,0.45c0.439,1.14,0.891,2.45,1.32,3.6l26.52,75.44c1.73,5.04,3.451,10.37,5.35,14.71
        c1.73,4.04,4.77,5.75,9.51,5.75h0.881v4.35c-6.5-0.31-12.99-0.569-19.92-0.569c-7.051,0-14.27,0.26-21.631,0.569v-4.35h1.602
        c3.289,0,8.949-0.56,8.949-4.17c0-1.87-1.311-5.76-2.92-10.39l-5.6-16.73h-32.74L1768.192,401.87L1768.192,401.87z
        M1789.272,337.97L1789.272,337.97h-0.289l-13.43,40.82h26.988L1789.272,337.97z"/>
      <path fill="#211E1F" d="M1845.022,423.111c-6.49-0.26-12.969-0.58-19.859-0.58c-7.031,0-14.25,0.32-21.611,0.58l-0.639,0.04v-0.66
        v-4.96h0.619h1.57c3.359,0,8.33-0.78,8.34-3.55c0.029-1.641-1.27-5.57-2.879-10.19l-5.48-16.31h-31.83l-4.461,14.569
        c-1.439,4.94-3.16,8.73-3.129,11.061c0,3.54,5.398,4.42,10.17,4.42h2.199v0.62v5l-0.639-0.04c-5.771-0.26-11.672-0.58-17.41-0.58
        c-5.17,0-10.352,0.32-15.551,0.58l-0.631,0.04v-0.66v-4.96h0.631h0.82c5.379-0.021,9.879-3.11,11.98-8.96l23.08-66.19
        c1.84-5.35,4.439-12.54,5.719-18.27c4.531-1.57,10.32-4.45,13.121-6.211c0.379-0.13,0.77-0.3,1.359-0.3
        c0.381-0.04,1.119,0.05,1.58,0.84c0.43,1.131,0.85,2.44,1.33,3.61l26.52,75.431c1.721,5.06,3.451,10.39,5.32,14.68
        c1.689,3.82,4.32,5.33,8.92,5.37h1.5v0.62v5L1845.022,423.111L1845.022,423.111z M1804.153,421.84L1804.153,421.84
        c7.129-0.27,14.15-0.55,21.01-0.55c6.709,0,13,0.28,19.279,0.53l-0.02-3.011h-0.24c-4.881,0.011-8.289-1.909-10.08-6.159
        c-1.9-4.38-3.619-9.73-5.34-14.761l-26.541-75.439c-0.43-1.15-0.869-2.46-1.219-3.44c-0.121-0.18-0.109-0.18-0.221-0.18h-0.27
        c-0.299,0-0.461,0.1-0.811,0.2c-2.809,1.77-8.59,4.649-12.859,5.76c-0.891,5.46-3.51,12.65-5.369,18l-23.09,66.2
        c-2.191,6.26-7.23,9.83-13.131,9.819h-0.211v3.011c4.961-0.25,9.92-0.53,14.941-0.53c5.59,0,11.279,0.28,16.83,0.53v-3.011h-0.98
        c-4.689-0.06-11.27-0.569-11.439-5.699c0.029-2.86,1.818-6.53,3.209-11.42l0.59,0.189l-0.59-0.21l4.75-15.42h33.631l5.779,17.14
        c1.59,4.641,2.9,8.471,2.9,10.591c-0.211,4.43-6.26,4.739-9.561,4.829h-0.949V421.84L1804.153,421.84z M1774.692,379.401
        L1774.692,379.401l13.83-42.061h0.439h0.311v0.63l-0.15,0.03l0.15-0.03v-0.63h0.451l13.629,42.061H1774.692z M1776.422,378.16
        L1776.422,378.16h25.221l-12.541-38.63L1776.422,378.16L1776.422,378.16z M1788.672,338.151L1788.672,338.151l0.289-0.11
        L1788.672,338.151z"/>
      <path fill="#211E1F" d="M1881.42,408.36c0,5.771,4,7.49,8.621,8.08c5.91,0.44,12.4,0.44,19.061-0.29
        c6.039-0.729,11.24-4.189,13.818-7.79c2.301-3.18,3.602-7.22,4.471-10.39h4.18c-1.58,8.22-3.6,16.32-5.34,24.53
        c-12.66,0-25.379-0.57-38.051-0.57c-12.709,0-25.379,0.57-38.068,0.57v-4.351h1.979c5.221,0,10.861-0.699,10.861-9.649v-74.12
        c0-7.521-5.641-8.23-10.861-8.23h-1.979v-4.33c7.619,0,15.129,0.57,22.76,0.57c7.379,0,14.58-0.57,21.939-0.57v4.33h-3.631
        c-5.459,0-9.76,0.16-9.76,7.78V408.36L1881.42,408.36z"/>
      <path fill="#211E1F" d="M1926.231,423.111c-12.709,0-25.398-0.58-38.049-0.58c-12.701,0-25.391,0.58-38.1,0.58h-0.611v-0.62v-4.96
        h0.611h2.01c5.23-0.12,10.17-0.48,10.23-9.03v-74.149c-0.061-7.01-4.971-7.49-10.23-7.591h-2.621v-0.609v-4.95h0.611
        c7.67,0,15.18,0.55,22.799,0.55c7.32,0,14.521-0.55,21.93-0.55h0.592v0.62v4.939h-0.592h-3.619c-5.59,0.16-9.07-0.1-9.18,7.171
        v74.43c0.039,5.37,3.561,6.82,8.061,7.45c2.549,0.18,5.219,0.29,8,0.29c3.529,0,7.199-0.17,10.92-0.57
        c5.879-0.689,10.939-4.08,13.42-7.52c2.219-3.08,3.5-7.04,4.359-10.19l0.131-0.479h0.479h4.951l-0.131,0.76
        c-1.629,8.25-3.609,16.31-5.359,24.52l-0.119,0.49h-0.49H1926.231z M1925.711,421.851L1925.711,421.851
        c1.67-7.82,3.561-15.471,5.111-23.271h-2.961c-0.9,3.14-2.18,7.01-4.449,10.16c-2.691,3.74-8.031,7.26-14.281,8.03
        c-3.779,0.39-7.52,0.59-11.059,0.59c-2.791,0-5.5-0.13-8.111-0.311c-4.689-0.52-9.24-2.52-9.219-8.689V333.93
        c0-8.01,5.068-8.42,10.449-8.42h2.98v-3.06c-7.109,0.04-14.109,0.569-21.291,0.569c-7.469,0-14.77-0.529-22.17-0.569v3.06h1.381
        c5.15,0,11.449,0.9,11.449,8.84v74.15c0,9.33-6.27,10.3-11.449,10.3h-1.381v3.05c12.471-0.01,24.941-0.55,37.471-0.55
        S1913.233,421.84,1925.711,421.851L1925.711,421.851z"/>
      <path fill="#211E1F" d="M1929.821,317.72c8.689,0,15.18,6.68,15.18,15.24c0,8.52-6.49,15.14-15.18,15.14
        c-8.691,0-15.191-6.62-15.191-15.14C1914.629,324.401,1921.129,317.72,1929.821,317.72z M1929.821,345.27L1929.821,345.27
        c6.789,0,12.01-5.8,12.01-12.31c0-6.55-5.141-12.4-12.01-12.4c-6.83,0-12.051,5.851-12.051,12.4
        C1917.77,339.47,1922.991,345.27,1929.821,345.27z M1922.26,340.96L1922.26,340.96v-0.75c1.869-0.26,2.209-0.2,2.209-1.36v-11.24
        c0-1.579-0.17-2.119-2.139-2.04v-0.77h7.77c2.68,0,5.129,1.27,5.129,4.03c0,2.26-1.5,3.93-3.59,4.58l2.49,3.479
        c1.17,1.58,2.48,3.061,3.35,3.58v0.49h-2.959c-1.42,0-2.66-2.99-5.461-7h-1.68v5.05c0,1,0.35,0.94,2.221,1.2v0.75H1922.26
        L1922.26,340.96z M1927.379,332.96L1927.379,332.96h1.791c1.959,0,2.879-1.49,2.879-3.88c0-2.42-1.42-3.271-2.979-3.271h-1.691
        V332.96z"/>
      <path fill="#0079BE" d="M372.69,504c137.75,0.659,263.48-112.341,263.48-249.81c0-150.33-125.73-254.24-263.48-254.19h-118.55
        c-139.4-0.05-254.14,103.891-254.14,254.19c0,137.499,114.74,250.47,254.14,249.81H372.69z"/>
      <path fill="#FFFFFF" d="M254.701,20.83c-127.38,0.04-230.6,103.29-230.63,230.721C24.101,378.96,127.32,482.2,254.701,482.24
        C382.111,482.2,485.352,378.96,485.37,251.551C485.351,124.12,382.111,20.87,254.701,20.83z M108.511,251.551L108.511,251.551
        c0.12-62.27,39.01-115.37,93.85-136.471v272.91C147.521,366.901,108.63,313.83,108.511,251.551z M307.021,388.05L307.021,388.05
        V115.071c54.86,21.05,93.81,74.18,93.91,136.48C400.831,313.87,361.881,366.96,307.021,388.05z"/>
      <path fill="#211E1F" d="M716.953,108.431c0-23.841-12.431-22.271-24.351-22.53v-6.89c10.33,0.51,20.92,0.51,31.271,0.51
        c11.13,0,26.24-0.51,45.859-0.51c68.62,0,105.99,45.84,105.99,92.779c0,26.25-15.359,92.24-109.18,92.24
        c-13.51,0-25.98-0.521-38.43-0.521c-11.92,0-23.59,0.261-35.511,0.521v-6.88c15.891-1.601,23.591-2.13,24.351-20.16V108.431
        L716.953,108.431z M742.933,232.76L742.933,232.76c0,20.41,14.59,22.79,27.57,22.79c57.26,0,76.06-43.21,76.06-82.71
        c0-49.55-31.81-85.33-82.949-85.33c-10.88,0-15.88,0.78-20.68,1.061L742.933,232.76L742.933,232.76z"/>
      <path fill="#211E1F" d="M885.022,257.151h5.02c7.41,0,12.721,0,12.721-8.771v-71.819c0-11.649-3.971-13.27-13.78-18.54v-4.25
        c12.45-3.74,27.311-8.74,28.35-9.54c1.87-1.06,3.45-1.34,4.78-1.34c1.311,0,1.86,1.6,1.86,3.73V248.38
        c0,8.771,5.83,8.771,13.25,8.771h4.5v6.89c-9.021,0-18.3-0.529-27.82-0.529c-9.54,0-19.09,0.26-28.88,0.529V257.151
        L885.022,257.151z M913.372,102.08L913.372,102.08c-6.899,0-12.979-6.359-12.979-13.25c0-6.64,6.36-12.75,12.979-12.75
        c6.87,0,12.99,5.591,12.99,12.75C926.362,95.99,920.513,102.08,913.372,102.08z"/>
      <path fill="#211E1F" d="M966.901,178.141c0-9.8-2.931-12.44-15.36-17.48v-5.029c11.39-3.71,22.241-7.16,34.969-12.74
        c0.791,0,1.57,0.54,1.57,2.65v17.239c15.131-10.859,28.121-19.89,45.9-19.89c22.5,0,30.449,16.439,30.449,37.109v68.381
        c0,8.77,5.83,8.77,13.26,8.77h4.771v6.89c-9.301,0-18.57-0.529-28.09-0.529c-9.551,0-19.102,0.26-28.631,0.529v-6.89h4.76
        c7.439,0,12.711,0,12.711-8.77V179.75c0-15.13-9.23-22.54-24.361-22.54c-8.469,0-21.99,6.891-30.77,12.73v78.439
        c0,8.771,5.859,8.771,13.291,8.771h4.76v6.89c-9.271,0-18.561-0.53-28.1-0.53c-9.531,0-19.09,0.261-28.621,0.53v-6.89h4.78
        c7.42,0,12.71,0,12.71-8.771V178.141L966.901,178.141z"/>
      <path fill="#211E1F" d="M1102.61,190.88c-0.551,2.391-0.551,6.36,0,15.38c1.561,25.17,17.77,45.841,38.939,45.841
        c14.59,0,26.01-7.95,35.801-17.75l3.699,3.72c-12.199,16.16-27.301,29.939-49.02,29.939c-42.15,0-50.631-40.83-50.631-57.779
        c0-51.961,34.98-67.341,53.52-67.341c21.48,0,44.551,13.511,44.801,41.61c0,1.61,0,3.18-0.25,4.79l-2.4,1.59H1102.61
        L1102.61,190.88z M1149.53,182.391L1149.53,182.391c6.609,0,7.391-3.45,7.391-6.62c0-13.521-8.211-24.391-23.061-24.391
        c-16.15,0-27.281,11.91-30.461,31.011H1149.53L1149.53,182.391z"/>
      <path fill="#211E1F" d="M1185.821,257.151h7.16c7.398,0,12.699,0,12.699-8.771v-74.47c0-8.21-9.789-9.81-13.779-11.93v-3.96
        c19.35-8.23,29.959-15.13,32.369-15.13c1.57,0,2.35,0.8,2.35,3.46v23.85h0.561c6.609-10.33,17.76-27.31,33.91-27.31
        c6.629,0,15.1,4.5,15.1,14.05c0,7.16-5.02,13.54-12.439,13.54c-8.25,0-8.25-6.38-17.51-6.38c-4.51,0-19.34,6.1-19.34,22.01v62.27
        c0,8.77,5.289,8.77,12.719,8.77h14.83v6.891c-14.58-0.271-25.67-0.53-37.09-0.53c-10.859,0-22,0.26-31.539,0.53V257.151
        L1185.821,257.151z"/>
      <path fill="#211E1F" d="M1287.86,227.18c3.451,17.5,14.041,32.351,33.4,32.351c15.6,0,21.439-9.54,21.439-18.82
        c0-31.28-57.76-21.21-57.76-63.88c0-14.85,11.939-33.94,41.08-33.94c8.471,0,19.859,2.4,30.189,7.71l1.881,27.011h-6.109
        c-2.641-16.681-11.91-26.23-28.891-26.23c-10.6,0-20.66,6.101-20.66,17.49c0,31.04,61.48,21.47,61.48,63.08
        c0,17.49-14.051,36.06-45.59,36.06c-10.6,0-23.051-3.71-32.32-9l-2.92-30.489L1287.86,227.18L1287.86,227.18z"/>
      <path fill="#211E1F" d="M1603.221,126.99h-6.611c-5.039-31-27.039-43.47-56.709-43.47c-30.5,0-74.76,20.399-74.76,84.01
        c0,53.58,38.189,91.999,78.99,91.999c26.229,0,47.979-18.02,53.279-45.859l6.08,1.58l-6.08,38.699
        c-11.131,6.91-41.08,14.061-58.59,14.061c-62,0-101.211-40.029-101.211-99.67c0-54.34,48.49-93.32,100.43-93.32
        c21.461,0,42.131,6.92,62.541,14.08L1603.221,126.99L1603.221,126.99z"/>
      <path fill="#211E1F" d="M1612.782,257.151h5.02c7.43,0,12.75,0,12.75-8.771V100.761c0-17.24-3.98-17.771-14.061-20.681v-4.24
        c10.6-3.439,21.73-8.22,27.301-11.409c2.889-1.58,5.029-2.921,5.809-2.921c1.621,0,2.15,1.601,2.15,3.73v183.14
        c0,8.771,5.82,8.771,13.25,8.771h4.471v6.89c-8.971,0-18.25-0.53-27.801-0.53c-9.529,0-19.07,0.261-28.891,0.53v-6.89H1612.782z"/>
      <path fill="#211E1F" d="M1782.948,249.441c0,4.79,2.9,5.05,7.4,5.05c3.189,0,7.15-0.26,10.609-0.26v5.58
        c-11.408,1.05-33.139,6.62-38.18,8.2l-1.33-0.801v-21.449c-15.879,12.979-28.09,22.25-46.92,22.25
        c-14.309,0-29.148-9.271-29.148-31.521v-67.88c0-6.89-1.051-13.521-15.871-14.84v-5.04c9.551-0.26,30.711-1.851,34.17-1.851
        c2.941,0,2.941,1.851,2.941,7.681v68.369c0,7.971,0,30.76,23.039,30.76c9.01,0,20.93-6.89,32.051-16.14v-71.34
        c0-5.28-12.711-8.19-22.23-10.851v-4.77c23.82-1.6,38.689-3.71,41.32-3.71c2.148,0,2.148,1.85,2.148,4.78V249.441L1782.948,249.441
        z"/>
      <path fill="#211E1F" d="M1835.682,161.981c10.59-9.011,24.898-19.09,39.488-19.09c30.75,0,49.281,26.8,49.281,55.669
        c0,34.721-25.43,69.45-63.352,69.45c-19.6,0-29.93-6.37-36.83-9.271l-7.939,6.08l-5.549-2.899c2.35-15.64,3.699-31.02,3.699-47.18
        V100.76c0-17.239-4-17.77-14.061-20.68v-4.24c10.631-3.439,21.73-8.22,27.301-11.41c2.92-1.58,5.029-2.92,5.85-2.92
        c1.58,0,2.109,1.601,2.109,3.73v96.74H1835.682z M1835.682,234.071L1835.682,234.071c0,10.08,9.529,27.06,27.289,27.06
        c28.359,0,40.279-27.85,40.279-51.449c0-28.62-21.709-52.47-42.389-52.47c-9.83,0-18.031,6.37-25.18,12.479V234.071
        L1835.682,234.071z"/>
      <path fill="#211E1F" d="M692.299,418.15h2.03c5.18,0,10.66-0.699,10.66-8.21v-75.56c0-7.521-5.48-8.23-10.66-8.23h-2.03v-4.33
        c5.63,0,14.28,0.57,21.37,0.57c7.2,0,15.84-0.57,22.62-0.57v4.33h-2.03c-5.17,0-10.659,0.71-10.659,8.23v75.56
        c0,7.511,5.489,8.21,10.659,8.21h2.03v4.351c-6.92,0-15.59-0.57-22.78-0.57c-7.069,0-15.58,0.57-21.21,0.57V418.15L692.299,418.15z
        "/>
      <path fill="#211E1F" d="M736.293,423.111c-6.97,0-15.609-0.58-22.79-0.58c-7.05,0-15.529,0.58-21.2,0.58h-0.619v-0.62v-4.33v-0.63
        h0.619h2.021c5.229-0.12,9.99-0.54,10.04-7.59V334.38c-0.05-7.05-4.81-7.521-10.04-7.62h-2.64v-0.609v-4.971h0.619
        c5.671,0,14.311,0.57,21.36,0.57c7.18,0,15.811-0.57,22.63-0.57h0.641v0.66v4.92h-0.641h-2.02c-5.23,0.1-10.021,0.57-10.05,7.62
        v75.561c0.029,7.05,4.819,7.47,10.05,7.59h2.66v0.63v4.95H736.293L736.293,423.111z M735.673,421.88L735.673,421.88v-3.08h-1.399
        c-5.15,0-11.28-0.89-11.311-8.859V334.38c0.03-7.97,6.16-8.87,11.311-8.87h1.399v-3.06c-6.66,0-15.01,0.56-22.01,0.56
        c-6.85,0-15.14-0.52-20.72-0.56v3.06h1.38c5.14,0,11.29,0.9,11.29,8.87v75.561c0,7.97-6.15,8.859-11.29,8.859h-1.38v3.08
        c5.58-0.06,13.729-0.58,20.56-0.58C720.523,421.3,728.873,421.84,735.673,421.88L735.673,421.88z"/>
      <path fill="#211E1F" d="M835.363,394.07l0.289-0.28V339.71c0-11.84-8.229-13.56-12.549-13.56h-3.181v-4.331
        c6.79,0,13.42,0.57,20.19,0.57c5.909,0,11.85-0.57,17.75-0.57v4.331h-2.16c-6.07,0-12.85,1.149-12.85,18.31v65.64
        c0,5.041,0.149,10.08,0.859,14.551h-5.489l-74.25-82.79v59.43c0,12.55,2.43,16.86,13.55,16.86h2.439v4.35
        c-6.189,0-12.38-0.57-18.59-0.57c-6.47,0-13.109,0.57-19.609,0.57v-4.35h2.02c9.95,0,12.971-6.761,12.971-18.29v-60.75
        c0-8.07-6.65-12.96-13.11-12.96h-1.88v-4.33c5.479,0,11.1,0.569,16.57,0.569c4.329,0,8.52-0.569,12.839-0.569L835.363,394.07
        L835.363,394.07z"/>
      <path fill="#211E1F" d="M843.708,425.281l-5.949-0.221l-73.181-81.569v57.8c0.17,12.54,2.08,16.101,12.94,16.24h3.09v0.62v4.96
        h-0.64c-6.24,0-12.45-0.58-18.601-0.58c-6.46,0-13.08,0.58-19.62,0.58h-0.63v-0.62v-4.96h0.63h2.03
        c9.53-0.05,12.25-6.17,12.36-17.67v-60.74c-0.021-7.68-6.32-12.34-12.5-12.36h-2.521v-0.64v-4.92h0.63
        c5.511,0,11.16,0.55,16.57,0.55c4.29,0,8.471-0.55,13.33-0.34l63.38,71.351v-53.04c-0.08-11.48-7.729-12.86-11.93-12.961h-3.82
        v-0.64v-4.92h0.64c6.811,0,13.45,0.55,20.19,0.55c5.87,0,11.78-0.55,17.74-0.55h0.63v0.62v4.939h-0.63h-2.15
        c-5.95,0.171-12.06,0.69-12.229,17.7v65.63c0,5.04,0.149,10.08,0.85,14.45l0.14,0.74H843.708L843.708,425.281z M838.229,424.01
        L838.229,424.01h4.77c-0.649-4.33-0.76-9.13-0.76-13.92v-65.63c0-17.31,7.25-18.949,13.46-18.949h1.52v-3.061
        c-5.68,0.04-11.38,0.56-17.109,0.56c-6.6,0-13.02-0.52-19.55-0.56l-0.01,3.061h2.55c4.43,0,13.18,1.979,13.18,14.21l-0.2,54.499
        l-0.29,0.301l-0.489,0.45l-64.131-72.521c-4.279,0-8.46,0.56-12.85,0.56c-5.29,0-10.7-0.52-15.93-0.56l-0.03,3.06h1.28
        c6.77,0,13.72,5.17,13.72,13.61v60.74c0,11.529-3.21,18.909-13.58,18.949l-1.39-0.04v3.11c6.25-0.06,12.67-0.58,18.979-0.58
        c6.021,0,12.011,0.521,17.97,0.58v-3.07h-1.819c-11.351-0.04-14.17-4.979-14.181-17.52v-61.05L838.229,424.01L838.229,424.01z
        M835.358,394.06L835.358,394.06l0.46-0.42L835.358,394.06z M835.028,393.781L835.028,393.781v-0.05l-0.12-0.101L835.028,393.781z"
        />
      <path fill="#211E1F" d="M879.449,329.02c-10.83,0-11.24,2.601-13.4,13.12h-4.33c0.57-4.03,1.29-8.06,1.73-12.26
        c0.579-4.04,0.859-8.061,0.859-12.24h3.47c1.16,4.33,4.761,4.18,8.671,4.18h74.39c3.899,0,7.5-0.14,7.8-4.479l3.439,0.58
        c-0.56,3.899-1.14,7.79-1.58,11.689c-0.26,3.891-0.26,7.79-0.26,11.67l-4.34,1.61c-0.3-5.33-1.02-13.87-10.67-13.87h-23.65v76.74
        c0,11.12,5.051,12.391,11.95,12.391h2.75v4.35c-5.62,0-15.729-0.57-23.5-0.57c-8.649,0-18.76,0.57-24.39,0.57v-4.35h2.75
        c7.95,0,11.97-0.711,11.97-12.091v-77.04H879.449L879.449,329.02z"/>
      <path fill="#211E1F" d="M936.301,423.111c-5.681,0-15.771-0.58-23.521-0.58c-8.64,0-18.729,0.58-24.39,0.58h-0.6v-0.61v-4.97h0.6
        h2.75c7.95-0.19,11.149-0.29,11.33-11.471v-76.409H879.45v-0.631v-0.64h24.271v77.68c0,11.57-4.66,12.74-12.58,12.75h-2.12v3.04
        c5.69-0.029,15.39-0.55,23.76-0.55c7.521,0,17.16,0.521,22.86,0.55v-3.04h-2.11c-6.97-0.01-12.58-1.72-12.58-13.05v-77.38h24.28
        c9.68,0.04,10.94,8.27,11.26,13.62l3.11-1.15c0-3.76,0.02-7.53,0.28-11.33c0.42-3.71,0.95-7.39,1.49-11.07l-2.201-0.37
        c-0.669,4.2-4.72,4.41-8.35,4.37h-74.37h-0.75c-3.39,0-7.1-0.16-8.39-4.189h-2.38c-0.021,3.99-0.301,7.86-0.851,11.699
        c-0.42,3.961-1.08,7.771-1.62,11.581h3.091c1.899-10.051,3.14-13.311,13.899-13.16v0.64v0.63c-10.66,0.19-10.439,1.99-12.79,12.65
        l-0.109,0.49h-0.5H861l0.08-0.75c0.58-4.04,1.311-8.061,1.74-12.261c0.6-4,0.88-8,0.88-12.14v-0.63h0.61h3.96l0.1,0.45
        c0.99,3.64,3.66,3.66,7.33,3.72h0.75h74.37c4.021-0.06,6.94-0.12,7.19-3.891l0.06-0.68l0.65,0.14l4.07,0.641l-0.091,0.63
        c-0.58,3.86-1.149,7.76-1.569,11.63c-0.29,3.84-0.29,7.74-0.29,11.63v0.45l-0.4,0.16l-5.11,1.859l-0.039-0.84
        c-0.381-5.42-0.951-13.26-10.061-13.26h-23.02v76.11c0.13,10.88,4.449,11.63,11.319,11.77h3.38v0.62v4.96L936.301,423.111
        L936.301,423.111z"/>
      <path fill="#211E1F" d="M966.691,418.15h2.03c5.181,0,10.669-0.699,10.669-8.21v-75.56c0-7.521-5.488-8.23-10.669-8.23h-2.03v-4.33
        c8.78,0,23.801,0.57,35.889,0.57c12.141,0,27.111-0.57,36.91-0.57c-0.238,6.19-0.109,15.73,0.32,22.061l-4.35,1.159
        c-0.689-9.369-2.42-16.859-17.57-16.859h-20.029v37.77h17.141c8.648,0,10.539-4.89,11.389-12.699h4.32
        c-0.279,5.649-0.43,11.27-0.43,16.89c0,5.49,0.15,10.96,0.43,16.44l-4.32,0.859c-0.85-8.649-1.289-14.27-11.25-14.27h-17.279v33.59
        c0,9.39,8.33,9.39,17.57,9.39c17.309,0,24.939-1.17,29.27-17.59l4.041,0.99c-1.891,7.66-3.611,15.29-4.891,22.95
        c-9.24,0-25.83-0.57-38.791-0.57c-13,0-30.148,0.57-38.37,0.57V418.15L966.691,418.15z"/>
      <path fill="#211E1F" d="M1043.838,423.111c-9.26,0-25.84-0.591-38.789-0.591c-12.99,0-30.131,0.591-38.361,0.591h-0.609v-0.61
        v-4.35v-0.62h0.609h2.021c5.229-0.08,9.969-0.54,10.04-7.59V334.38c-0.07-7.04-4.811-7.51-10.04-7.62h-2.63v-0.609v-4.95h0.609
        c8.8,0,23.8,0.55,35.89,0.55c12.129,0,27.09-0.55,36.91-0.55h0.65l-0.031,0.64c-0.1,2.17-0.139,4.729-0.139,7.45
        c0,4.989,0.139,10.439,0.43,14.55l0.02,0.52l-0.48,0.141l-5.07,1.32l-0.029-0.74c-0.85-9.36-2.1-16.15-16.949-16.29h-19.43
        l-0.021,36.51h16.561c8.301-0.08,9.789-4.33,10.77-12.1l0.051-0.57h0.559h4.971l-0.01,0.649c-0.279,5.62-0.461,11.24-0.461,16.86
        c0,5.46,0.182,10.93,0.461,16.42l0.01,0.511l-0.52,0.119l-5.01,1l-0.051-0.68c-0.99-8.8-1.061-13.62-10.641-13.729l-16.67-0.011
        v32.99c0.012,8.76,7.57,8.71,16.971,8.76c17.359-0.1,24.32-0.939,28.67-17.14l0.141-0.58l0.609,0.11l4.621,1.189l-0.141,0.601
        c-1.859,7.64-3.59,15.26-4.881,22.899l-0.119,0.511H1043.838L1043.838,423.111z M1043.309,421.851L1043.309,421.851
        c1.25-7.271,2.898-14.57,4.67-21.831l-2.85-0.72c-4.32,16.141-12.682,17.58-29.701,17.471c-9.08,0-18.18,0-18.221-10.011v-34.22
        h17.922c10.068-0.11,11.1,5.97,11.809,14.18l3.121-0.649c-0.281-5.311-0.41-10.641-0.41-15.931c0-5.43,0.129-10.829,0.41-16.26
        h-3.121c-0.799,7.51-3.15,12.79-11.939,12.69h-17.791v-39.04h20.682c15-0.101,17.488,7.64,18.129,16.71l3.111-0.84
        c-0.25-4.07-0.422-9.29-0.422-14.11c0-2.47,0.061-4.8,0.141-6.84c-9.799,0.04-24.4,0.56-36.27,0.56
        c-11.85,0-26.439-0.52-35.27-0.56v3.06h1.399c5.14,0,11.281,0.9,11.3,8.87v75.561c-0.02,7.95-6.16,8.83-11.3,8.87h-1.399v3.04
        c8.411-0.011,25.071-0.55,37.739-0.55C1017.768,421.301,1034.008,421.84,1043.309,421.851L1043.309,421.851z"/>
      <path fill="#211E1F" d="M1068.202,337.1c0-10.52-5.76-10.95-10.25-10.95h-2.59v-4.34c4.619,0,13.549,0.58,22.35,0.58
        c8.65,0,15.58-0.58,23.211-0.58c18.158,0,34.33,4.91,34.33,25.41c0,12.95-8.65,20.89-20.041,25.38l24.65,36.9
        c4.039,6.1,6.91,7.81,13.99,8.649v4.351c-4.76,0-9.381-0.57-14.131-0.57c-4.469,0-9.1,0.57-13.551,0.57
        c-11.1-14.57-20.639-30.15-30.01-46.75h-9.488v30.88c0,11.12,5.17,11.52,11.799,11.52h2.6v4.351c-8.24,0-16.568-0.57-24.799-0.57
        c-6.93,0-13.711,0.57-20.91,0.57v-4.351h2.59c5.359,0,10.25-2.42,10.25-7.77V337.1L1068.202,337.1z M1086.67,370.56L1086.67,370.56
        h7.041c14.43,0,22.199-5.479,22.199-22.5c0-12.82-8.209-21.05-21.059-21.05c-4.33,0-6.17,0.45-8.182,0.58V370.56z"/>
      <path fill="#211E1F" d="M1153.852,423.111c-4.83,0-9.42-0.58-14.16-0.58c-4.4,0-9,0.58-14.029,0.34
        c-11.061-14.51-20.541-30-29.861-46.48h-8.52v30.221c0.15,10.85,4.51,10.76,11.18,10.92h3.23v0.62v4.96h-0.641
        c-8.24,0-16.609-0.58-24.799-0.58c-6.891,0-13.65,0.58-20.891,0.58h-0.631v-0.62v-4.96h0.631h2.59c5.199-0.03,9.58-2.29,9.6-7.15
        v-73.279c-0.109-10.24-5.119-10.181-9.6-10.33h-3.221v-0.62v-4.97h0.631c4.67,0,13.57,0.569,22.35,0.569
        c8.609,0,15.541-0.569,23.221-0.569c18.17,0.04,34.91,5.06,34.959,26c0,13.03-8.609,21.159-19.74,25.7l24.23,36.279
        c4.031,5.98,6.541,7.471,13.561,8.37l0.529,0.08v0.54v4.96H1153.852L1153.852,423.111z M1086.653,375.13L1086.653,375.13h9.859
        l0.17,0.32c9.4,16.57,18.869,32.13,29.49,46.43c4.4,0,9.029-0.59,13.52-0.59c4.609,0,9.049,0.5,13.539,0.57v-3.16
        c-6.77-0.84-9.939-2.86-13.879-8.85l-25.09-37.551l0.709-0.29c11.281-4.439,19.631-12.149,19.641-24.83
        c-0.01-20.01-15.551-24.649-33.68-24.729c-7.611,0-14.531,0.57-23.221,0.57c-8.469,0-17.02-0.53-21.74-0.57v3.06h1.98
        c4.48,0.011,10.859,0.75,10.859,11.591v73.279c0,5.79-5.43,8.43-10.859,8.44h-1.98v3.039c6.941-0.02,13.51-0.569,20.281-0.569
        c8.068,0,16.199,0.55,24.18,0.569v-3.039h-1.971c-6.58-0.011-12.439-0.83-12.439-12.21v-31.48h0.629H1086.653z M1086.653,371.17
        L1086.653,371.17h-0.631v-44.16l0.549-0.05c1.971-0.149,3.922-0.56,8.281-0.56c13.141,0,21.68,8.54,21.699,21.689
        c-0.039,17.22-8.299,23.07-22.84,23.08H1086.653L1086.653,371.17z M1093.711,369.931L1093.711,369.931
        c14.279-0.121,21.461-5.08,21.611-21.841c-0.08-12.6-7.91-20.42-20.471-20.47c-3.9,0-5.73,0.36-7.57,0.521v41.79H1093.711
        L1093.711,369.931z"/>
      <path fill="#211E1F" d="M1251.762,394.07l0.26-0.28V339.71c0-11.84-8.209-13.56-12.529-13.56h-3.16v-4.331
        c6.77,0,13.391,0.57,20.18,0.57c5.92,0,11.811-0.57,17.76-0.57v4.331h-2.17c-6.059,0-12.84,1.149-12.84,18.31v65.64
        c0,5.041,0.141,10.08,0.85,14.551h-5.469l-74.26-82.79v59.43c0,12.55,2.449,16.86,13.549,16.86h2.451v4.35
        c-6.191,0-12.4-0.57-18.59-0.57c-6.512,0-13.141,0.57-19.621,0.57v-4.35h2c9.961,0,12.99-6.761,12.99-18.29v-60.75
        c0-8.07-6.631-12.96-13.109-12.96h-1.881v-4.33c5.461,0,11.111,0.569,16.58,0.569c4.301,0,8.5-0.569,12.83-0.569L1251.762,394.07
        L1251.762,394.07z"/>
      <path fill="#211E1F" d="M1260.118,425.27l-5.939-0.2l-73.189-81.579v57.79c0.17,12.55,2.07,16.109,12.949,16.25h3.051v0.62v4.96
        h-0.631c-6.238,0-12.42-0.591-18.6-0.591c-6.439,0-13.1,0.591-19.59,0.591h-0.65v-0.61v-4.97h0.65h2
        c9.52-0.04,12.25-6.17,12.34-17.71v-60.71c-0.01-7.681-6.299-12.34-12.459-12.351h-2.531v-0.609v-4.97h0.65
        c5.5,0,11.141,0.569,16.58,0.569c4.24,0,8.42-0.569,13.26-0.37l63.391,71.381V339.7c-0.041-11.46-7.721-12.88-11.91-12.939h-3.811
        v-0.61v-4.97h0.631c6.82,0,13.459,0.569,20.199,0.569c5.881,0,11.791-0.569,17.73-0.569h0.629v0.65v4.93h-0.629h-2.141
        c-5.949,0.16-12.08,0.689-12.23,17.7v65.629c0,5.04,0.131,10.04,0.861,14.48l0.08,0.7L1260.118,425.27L1260.118,425.27z
        M1254.639,424.01L1254.639,424.01h4.74c-0.631-4.33-0.771-9.13-0.771-13.92v-65.63c0.01-17.311,7.311-18.91,13.49-18.96h1.51
        v-3.05c-5.66,0.04-11.369,0.56-17.1,0.56c-6.619,0-13.051-0.52-19.58-0.56v3.05h2.561c4.439,0.05,13.18,1.99,13.18,14.2
        l-0.199,54.52l-0.281,0.3l-0.439,0.46l-64.18-72.529c-4.281,0-8.461,0.56-12.82,0.56c-5.34,0-10.73-0.52-15.98-0.56v3.05h1.279
        c6.771,0.05,13.721,5.16,13.721,13.61v60.709c0,11.58-3.26,18.95-13.6,18.99l-1.4-0.01v3.05c6.23-0.03,12.66-0.55,18.99-0.55
        c6.051,0,12.041,0.52,18,0.55v-3.04h-1.82c-11.359-0.01-14.199-4.979-14.219-17.53v-61.02L1254.639,424.01L1254.639,424.01z
        M1251.758,394.06L1251.758,394.06l0.439-0.41L1251.758,394.06z M1251.399,393.79L1251.399,393.79v-0.051l-0.111-0.109
        L1251.399,393.79z"/>
      <path fill="#211E1F" d="M1297.461,401.87c-1.459,4.89-3.199,8.67-3.199,11.24c0,4.34,6.07,5.04,10.811,5.04h1.609v4.35
        c-5.779-0.311-11.67-0.57-17.48-0.57c-5.189,0-10.35,0.261-15.549,0.57v-4.35h0.869c5.619,0,10.391-3.311,12.52-9.38l23.1-66.181
        c1.861-5.34,4.48-12.55,5.352-17.899c4.59-1.57,10.369-4.45,13.1-6.19c0.449-0.149,0.699-0.3,1.15-0.3c0.43,0,0.709,0,1.029,0.45
        c0.42,1.14,0.84,2.45,1.301,3.6l26.529,75.44c1.73,5.04,3.439,10.37,5.311,14.71c1.74,4.04,4.779,5.75,9.549,5.75h0.85v4.35
        c-6.488-0.31-12.988-0.569-19.889-0.569c-7.07,0-14.301,0.26-21.65,0.569v-4.35h1.6c3.301,0,8.941-0.56,8.941-4.17
        c0-1.87-1.301-5.76-2.91-10.39l-5.611-16.73h-32.729L1297.461,401.87L1297.461,401.87z M1318.502,337.97L1318.502,337.97h-0.291
        l-13.41,40.82h26.951L1318.502,337.97z"/>
      <path fill="#211E1F" d="M1374.272,423.111c-6.49-0.29-12.98-0.591-19.85-0.591c-7.07,0-14.25,0.301-21.631,0.591l-0.65,0.04v-0.65
        v-4.99h0.631h1.59c3.34,0,8.299-0.76,8.299-3.529c0.041-1.641-1.26-5.601-2.85-10.19l-5.49-16.31h-31.809l-4.48,14.569
        c-1.461,4.92-3.189,8.73-3.18,11.08c0.049,3.521,5.439,4.38,10.219,4.38h2.221v0.65v4.99l-0.65-0.04
        c-5.77-0.29-11.66-0.591-17.41-0.591c-5.17,0-10.369,0.301-15.539,0.591l-0.67,0.04v-0.65v-4.99h0.629h0.861
        c5.369-0.02,9.85-3.069,11.93-8.939l23.09-66.19c1.891-5.35,4.49-12.54,5.74-18.29c4.52-1.53,10.309-4.43,13.09-6.19
        c0.4-0.13,0.801-0.33,1.391-0.33c0.35-0.01,1.129,0.08,1.59,0.841c0.41,1.189,0.859,2.47,1.299,3.64l26.561,75.431
        c1.701,5.06,3.42,10.39,5.301,14.649c1.67,3.851,4.32,5.36,8.959,5.38h1.471v0.65v4.99L1374.272,423.111L1374.272,423.111z
        M1333.401,421.821L1333.401,421.821c7.141-0.25,14.131-0.53,21.021-0.53c6.699,0,12.969,0.28,19.238,0.53v-3.011h-0.199
        c-4.939,0.03-8.35-1.909-10.121-6.159c-1.879-4.38-3.639-9.73-5.328-14.78l-26.551-75.42c-0.439-1.15-0.859-2.46-1.24-3.48
        c-0.119-0.14-0.09-0.14-0.209-0.14h-0.262c-0.299,0-0.469,0.09-0.84,0.19c-2.779,1.81-8.568,4.64-12.84,5.77
        c-0.889,5.46-3.479,12.66-5.359,18l-23.08,66.2c-2.199,6.26-7.25,9.83-13.119,9.819h-0.23v3.011c4.939-0.25,9.939-0.53,14.949-0.53
        c5.57,0,11.27,0.28,16.77,0.53v-3.011h-0.93c-4.689-0.06-11.25-0.59-11.43-5.68c0.01-2.88,1.781-6.569,3.189-11.439l0.631,0.189
        l-0.631-0.21l4.75-15.42h33.621l5.789,17.141c1.621,4.63,2.93,8.47,2.93,10.59c-0.199,4.43-6.289,4.74-9.559,4.83h-0.961V421.821
        L1333.401,421.821z M1303.922,379.41L1303.922,379.41l13.809-42.07h0.48h0.301v0.63l-0.16,0.03l0.16-0.03v-0.63h0.43l13.689,42.07
        H1303.922z M1305.651,378.16L1305.651,378.16h25.24l-12.551-38.65L1305.651,378.16z M1317.881,338.151L1317.881,338.151l0.33-0.11
        L1317.881,338.151z"/>
      <path fill="#211E1F" d="M1380.653,329.02c-10.82,0-11.25,2.601-13.422,13.12h-4.33c0.57-4.03,1.301-8.06,1.752-12.26
        c0.578-4.04,0.84-8.061,0.84-12.24h3.479c1.15,4.33,4.771,4.18,8.641,4.18h74.43c3.871,0,7.471-0.14,7.771-4.479l3.449,0.58
        c-0.551,3.899-1.119,7.79-1.561,11.689c-0.309,3.891-0.309,7.79-0.309,11.67l-4.32,1.61c-0.271-5.33-0.99-13.87-10.66-13.87h-23.65
        v76.74c0,11.12,5.061,12.391,11.961,12.391h2.738v4.35c-5.619,0-15.699-0.57-23.5-0.57c-8.639,0-18.75,0.57-24.369,0.57v-4.35h2.73
        c7.949,0,11.99-0.711,11.99-12.091v-77.04H1380.653L1380.653,329.02z"/>
      <path fill="#211E1F" d="M1437.463,423.111c-5.66,0-15.76-0.58-23.5-0.58c-8.621,0-18.721,0.58-24.371,0.58h-0.639v-0.61v-4.97
        h0.639h2.73c7.949-0.19,11.141-0.29,11.34-11.471l-0.02-76.409h-22.99v-0.631v-0.64h24.26v77.68c0,11.57-4.67,12.71-12.59,12.74
        h-2.119v3.08c5.709-0.061,15.389-0.58,23.76-0.58c7.529,0,17.17,0.521,22.869,0.58v-3.08h-2.129
        c-6.932-0.03-12.551-1.7-12.57-13.04v-77.38h24.279c9.68,0.04,10.949,8.27,11.221,13.62l3.15-1.15c0-3.76,0.01-7.53,0.289-11.31
        c0.4-3.71,0.939-7.41,1.471-11.091l-2.18-0.37c-0.66,4.2-4.73,4.431-8.32,4.37h-74.432h-0.729c-3.4,0.04-7.08-0.16-8.391-4.21
        h-2.359c-0.041,4-0.311,7.881-0.881,11.721c-0.379,3.97-1.09,7.79-1.629,11.58h3.09c1.91-10.051,3.16-13.311,13.939-13.16v0.64
        v0.63c-10.689,0.181-10.449,1.99-12.811,12.65l-0.109,0.49h-0.5h-5.061l0.09-0.721c0.6-4.069,1.32-8.09,1.74-12.26
        c0.59-4.03,0.871-8.03,0.871-12.17v-0.63h0.619h3.939l0.121,0.45c1.01,3.64,3.639,3.66,7.33,3.72l0.729,0.02h74.432
        c3.98-0.079,6.889-0.14,7.139-3.899l0.041-0.69l0.68,0.141l4.09,0.64l-0.109,0.63c-0.59,3.86-1.141,7.76-1.58,11.63
        c-0.291,3.84-0.291,7.75-0.291,11.63v0.45l-0.408,0.16l-5.111,1.86l-0.029-0.841c-0.371-5.419-0.941-13.26-10.051-13.26h-23.029
        v76.11c0.15,10.88,4.459,11.63,11.32,11.77h3.379v0.62v4.96L1437.463,423.111L1437.463,423.111z"/>
      <path fill="#211E1F" d="M1468.588,418.15h2.021c5.209,0,10.658-0.699,10.658-8.21v-75.56c0-7.521-5.449-8.23-10.658-8.23h-2.021
        v-4.33c5.631,0,14.271,0.57,21.32,0.57c7.24,0,15.891-0.57,22.67-0.57v4.33h-2.02c-5.189,0-10.689,0.71-10.689,8.23v75.56
        c0,7.511,5.5,8.21,10.689,8.21h2.02v4.351c-6.93,0-15.59-0.57-22.779-0.57c-7.08,0-15.58,0.57-21.211,0.57V418.15z"/>
      <path fill="#211E1F" d="M1512.583,423.111c-6.969,0-15.6-0.591-22.789-0.591c-7.051,0-15.57,0.591-21.201,0.591h-0.629v-0.61v-4.35
        v-0.62h0.629h2.021c5.209-0.08,9.99-0.53,10.01-7.59V334.38c-0.02-7.04-4.801-7.521-10.01-7.62h-2.65v-0.609v-4.95h0.629
        c5.631,0,14.291,0.55,21.32,0.55c7.191,0,15.84-0.55,22.67-0.55h0.611v0.619v4.94h-0.611h-2.02c-5.27,0.1-10,0.58-10.07,7.62
        v75.561c0.07,7.06,4.801,7.51,10.07,7.59h2.631v0.62v4.96H1512.583L1512.583,423.111z M1511.934,421.851L1511.934,421.851V418.8
        h-1.371c-5.17,0-11.289-0.909-11.289-8.859V334.38c0-7.97,6.119-8.87,11.289-8.87h1.371v-3.06c-6.66,0.04-14.99,0.56-22.021,0.56
        c-6.83,0-15.1-0.52-20.689-0.56v3.06h1.391c5.129,0,11.27,0.9,11.289,8.87v75.561c-0.02,7.949-6.16,8.859-11.289,8.859h-1.391
        v3.051c5.561-0.061,13.721-0.551,20.57-0.551c6.99,0,15.34,0.521,22.139,0.551H1511.934z"/>
      <path fill="#211E1F" d="M1570.088,319.66c30.74,0,55.24,19.06,55.24,49.77c0,33.181-23.791,55.23-54.49,55.23
        c-30.6,0-53.939-20.771-53.939-51.78C1516.899,342.89,1540.098,319.66,1570.088,319.66L1570.088,319.66z M1572.268,418.31
        L1572.268,418.31c27.98,0,32.85-24.68,32.85-45.71c0-21.08-11.359-46.6-35.309-46.6c-25.24,0-32.73,22.5-32.73,41.81
        C1537.079,393.63,1548.899,418.31,1572.268,418.31L1572.268,418.31z"/>
      <path fill="#211E1F" d="M1516.252,372.88c0.061-30.34,23.541-53.81,53.83-53.85v0.63v0.609c-29.639,0-52.58,22.931-52.609,52.61
        c0.07,30.66,23.08,51.12,53.361,51.13c30.398-0.01,53.85-21.75,53.898-54.609c-0.029-30.32-24.16-49.091-54.648-49.131v-0.609
        v-0.63c30.979,0.02,55.809,19.27,55.869,50.37c-0.029,33.529-24.131,55.81-55.119,55.869c-30.842-0.06-54.521-21.04-54.58-52.39
        H1516.252z M1536.454,367.81L1536.454,367.81c0.039-19.399,7.619-42.46,33.359-42.46c24.48,0.061,35.91,26.061,35.949,47.25
        c-0.039,21.03-4.988,46.311-33.488,46.311v-0.6v-0.621c27.42-0.039,32.17-24.06,32.238-45.09c0-20.909-11.26-45.939-34.699-45.97
        c-24.74,0.03-32.061,21.97-32.109,41.18c0.02,25.69,11.73,49.82,34.57,49.88v0.621v0.6
        C1548.333,418.88,1536.493,393.781,1536.454,367.81L1536.454,367.81z"/>
      <path fill="#211E1F" d="M1722.508,394.07l0.291-0.28V339.71c0-11.84-8.24-13.56-12.57-13.56h-3.121v-4.331
        c6.76,0,13.391,0.57,20.15,0.57c5.93,0,11.84-0.57,17.76-0.57v4.331h-2.18c-6.041,0-12.83,1.149-12.83,18.31v65.64
        c0,5.041,0.141,10.08,0.871,14.551h-5.471l-74.281-82.79v59.43c0,12.55,2.441,16.86,13.541,16.86h2.469v4.35
        c-6.209,0-12.398-0.57-18.6-0.57c-6.49,0-13.139,0.57-19.629,0.57v-4.35h2.029c9.971,0,12.961-6.761,12.961-18.29v-60.75
        c0-8.07-6.602-12.96-13.111-12.96h-1.879v-4.33c5.479,0,11.109,0.569,16.58,0.569c4.33,0,8.5-0.569,12.84-0.569L1722.508,394.07
        L1722.508,394.07z"/>
      <path fill="#211E1F" d="M1730.889,425.27l-5.969-0.21l-73.17-81.57v57.801c0.158,12.54,2.068,16.09,12.898,16.22h3.121v0.65v4.95
        h-0.631c-6.25,0-12.439-0.58-18.6-0.58c-6.471,0-13.09,0.58-19.641,0.58h-0.6v-0.62v-4.98h0.6h2.041
        c9.51-0.029,12.24-6.149,12.359-17.65v-60.75c-0.02-7.68-6.311-12.34-12.51-12.35h-2.49v-0.61v-4.95h0.6
        c5.531,0,11.15,0.551,16.59,0.551c4.281,0,8.441-0.551,13.32-0.34l63.361,71.35v-53.04c-0.041-11.479-7.721-12.86-11.941-12.96
        h-3.789v-0.609v-4.95h0.65c6.789,0,13.439,0.55,20.148,0.55c5.92,0,11.801-0.55,17.781-0.55h0.619v0.619v4.94h-0.619h-2.182
        c-5.93,0.17-12.068,0.71-12.189,17.7v65.63c0,5.04,0.109,10.069,0.811,14.479l0.119,0.7H1730.889L1730.889,425.27z
        M1725.411,424.01L1725.411,424.01h4.719c-0.629-4.33-0.74-9.13-0.74-13.92v-65.63c0-17.34,7.271-18.91,13.451-18.96h1.559v-3.05
        c-5.689,0.04-11.389,0.56-17.158,0.56c-6.561,0-13.012-0.52-19.541-0.56v3.05h2.529c4.471,0.05,13.17,2.021,13.17,14.22
        l-0.158,54.5l-0.271,0.301l-0.459,0.459l-64.18-72.529c-4.25,0-8.461,0.56-12.84,0.56c-5.311,0-10.721-0.52-15.971-0.56v3.05h1.27
        c6.771,0.05,13.74,5.16,13.74,13.61v60.75c0,11.53-3.219,18.91-13.59,18.95l-1.42-0.011v3.051c6.26-0.03,12.68-0.55,19.02-0.55
        c6.01,0,11.98,0.52,17.971,0.55v-3.04h-1.861c-11.318-0.011-14.148-4.98-14.148-17.521v-61.05L1725.411,424.01L1725.411,424.01z
        M1722.51,394.06L1722.51,394.06l0.459-0.41L1722.51,394.06z M1722.17,393.79L1722.17,393.79v-0.051l-0.121-0.109L1722.17,393.79z"
        />
      <path fill="#211E1F" d="M1768.192,401.87c-1.41,4.89-3.16,8.67-3.16,11.24c0,4.34,6.07,5.04,10.801,5.04h1.609v4.35
        c-5.77-0.311-11.689-0.57-17.459-0.57c-5.211,0-10.381,0.261-15.551,0.57v-4.35h0.82c5.65,0,10.43-3.311,12.561-9.38l23.1-66.181
        c1.859-5.34,4.469-12.55,5.311-17.899c4.619-1.57,10.379-4.45,13.148-6.19c0.41-0.149,0.701-0.3,1.141-0.3
        c0.43,0,0.699,0,0.99,0.45c0.439,1.14,0.891,2.45,1.32,3.6l26.52,75.44c1.73,5.04,3.451,10.37,5.35,14.71
        c1.73,4.04,4.77,5.75,9.51,5.75h0.881v4.35c-6.5-0.31-12.99-0.569-19.92-0.569c-7.051,0-14.27,0.26-21.631,0.569v-4.35h1.602
        c3.289,0,8.949-0.56,8.949-4.17c0-1.87-1.311-5.76-2.92-10.39l-5.6-16.73h-32.74L1768.192,401.87L1768.192,401.87z
        M1789.272,337.97L1789.272,337.97h-0.289l-13.43,40.82h26.988L1789.272,337.97z"/>
      <path fill="#211E1F" d="M1845.022,423.111c-6.49-0.26-12.969-0.58-19.859-0.58c-7.031,0-14.25,0.32-21.611,0.58l-0.639,0.04v-0.66
        v-4.96h0.619h1.57c3.359,0,8.33-0.78,8.34-3.55c0.029-1.641-1.27-5.57-2.879-10.19l-5.48-16.31h-31.83l-4.461,14.569
        c-1.439,4.94-3.16,8.73-3.129,11.061c0,3.54,5.398,4.42,10.17,4.42h2.199v0.62v5l-0.639-0.04c-5.771-0.26-11.672-0.58-17.41-0.58
        c-5.17,0-10.352,0.32-15.551,0.58l-0.631,0.04v-0.66v-4.96h0.631h0.82c5.379-0.021,9.879-3.11,11.98-8.96l23.08-66.19
        c1.84-5.35,4.439-12.54,5.719-18.27c4.531-1.57,10.32-4.45,13.121-6.211c0.379-0.13,0.77-0.3,1.359-0.3
        c0.381-0.04,1.119,0.05,1.58,0.84c0.43,1.131,0.85,2.44,1.33,3.61l26.52,75.431c1.721,5.06,3.451,10.39,5.32,14.68
        c1.689,3.82,4.32,5.33,8.92,5.37h1.5v0.62v5L1845.022,423.111L1845.022,423.111z M1804.153,421.84L1804.153,421.84
        c7.129-0.27,14.15-0.55,21.01-0.55c6.709,0,13,0.28,19.279,0.53l-0.02-3.011h-0.24c-4.881,0.011-8.289-1.909-10.08-6.159
        c-1.9-4.38-3.619-9.73-5.34-14.761l-26.541-75.439c-0.43-1.15-0.869-2.46-1.219-3.44c-0.121-0.18-0.109-0.18-0.221-0.18h-0.27
        c-0.299,0-0.461,0.1-0.811,0.2c-2.809,1.77-8.59,4.649-12.859,5.76c-0.891,5.46-3.51,12.65-5.369,18l-23.09,66.2
        c-2.191,6.26-7.23,9.83-13.131,9.819h-0.211v3.011c4.961-0.25,9.92-0.53,14.941-0.53c5.59,0,11.279,0.28,16.83,0.53v-3.011h-0.98
        c-4.689-0.06-11.27-0.569-11.439-5.699c0.029-2.86,1.818-6.53,3.209-11.42l0.59,0.189l-0.59-0.21l4.75-15.42h33.631l5.779,17.14
        c1.59,4.641,2.9,8.471,2.9,10.591c-0.211,4.43-6.26,4.739-9.561,4.829h-0.949V421.84L1804.153,421.84z M1774.692,379.401
        L1774.692,379.401l13.83-42.061h0.439h0.311v0.63l-0.15,0.03l0.15-0.03v-0.63h0.451l13.629,42.061H1774.692z M1776.422,378.16
        L1776.422,378.16h25.221l-12.541-38.63L1776.422,378.16L1776.422,378.16z M1788.672,338.151L1788.672,338.151l0.289-0.11
        L1788.672,338.151z"/>
      <path fill="#211E1F" d="M1881.42,408.36c0,5.771,4,7.49,8.621,8.08c5.91,0.44,12.4,0.44,19.061-0.29
        c6.039-0.729,11.24-4.189,13.818-7.79c2.301-3.18,3.602-7.22,4.471-10.39h4.18c-1.58,8.22-3.6,16.32-5.34,24.53
        c-12.66,0-25.379-0.57-38.051-0.57c-12.709,0-25.379,0.57-38.068,0.57v-4.351h1.979c5.221,0,10.861-0.699,10.861-9.649v-74.12
        c0-7.521-5.641-8.23-10.861-8.23h-1.979v-4.33c7.619,0,15.129,0.57,22.76,0.57c7.379,0,14.58-0.57,21.939-0.57v4.33h-3.631
        c-5.459,0-9.76,0.16-9.76,7.78V408.36L1881.42,408.36z"/>
      <path fill="#211E1F" d="M1926.231,423.111c-12.709,0-25.398-0.58-38.049-0.58c-12.701,0-25.391,0.58-38.1,0.58h-0.611v-0.62v-4.96
        h0.611h2.01c5.23-0.12,10.17-0.48,10.23-9.03v-74.149c-0.061-7.01-4.971-7.49-10.23-7.591h-2.621v-0.609v-4.95h0.611
        c7.67,0,15.18,0.55,22.799,0.55c7.32,0,14.521-0.55,21.93-0.55h0.592v0.62v4.939h-0.592h-3.619c-5.59,0.16-9.07-0.1-9.18,7.171
        v74.43c0.039,5.37,3.561,6.82,8.061,7.45c2.549,0.18,5.219,0.29,8,0.29c3.529,0,7.199-0.17,10.92-0.57
        c5.879-0.689,10.939-4.08,13.42-7.52c2.219-3.08,3.5-7.04,4.359-10.19l0.131-0.479h0.479h4.951l-0.131,0.76
        c-1.629,8.25-3.609,16.31-5.359,24.52l-0.119,0.49h-0.49H1926.231z M1925.711,421.851L1925.711,421.851
        c1.67-7.82,3.561-15.471,5.111-23.271h-2.961c-0.9,3.14-2.18,7.01-4.449,10.16c-2.691,3.74-8.031,7.26-14.281,8.03
        c-3.779,0.39-7.52,0.59-11.059,0.59c-2.791,0-5.5-0.13-8.111-0.311c-4.689-0.52-9.24-2.52-9.219-8.689V333.93
        c0-8.01,5.068-8.42,10.449-8.42h2.98v-3.06c-7.109,0.04-14.109,0.569-21.291,0.569c-7.469,0-14.77-0.529-22.17-0.569v3.06h1.381
        c5.15,0,11.449,0.9,11.449,8.84v74.15c0,9.33-6.27,10.3-11.449,10.3h-1.381v3.05c12.471-0.01,24.941-0.55,37.471-0.55
        S1913.233,421.84,1925.711,421.851L1925.711,421.851z"/>
      <path fill="#211E1F" d="M1929.821,317.72c8.689,0,15.18,6.68,15.18,15.24c0,8.52-6.49,15.14-15.18,15.14
        c-8.691,0-15.191-6.62-15.191-15.14C1914.629,324.401,1921.129,317.72,1929.821,317.72z M1929.821,345.27L1929.821,345.27
        c6.789,0,12.01-5.8,12.01-12.31c0-6.55-5.141-12.4-12.01-12.4c-6.83,0-12.051,5.851-12.051,12.4
        C1917.77,339.47,1922.991,345.27,1929.821,345.27z M1922.26,340.96L1922.26,340.96v-0.75c1.869-0.26,2.209-0.2,2.209-1.36v-11.24
        c0-1.579-0.17-2.119-2.139-2.04v-0.77h7.77c2.68,0,5.129,1.27,5.129,4.03c0,2.26-1.5,3.93-3.59,4.58l2.49,3.479
        c1.17,1.58,2.48,3.061,3.35,3.58v0.49h-2.959c-1.42,0-2.66-2.99-5.461-7h-1.68v5.05c0,1,0.35,0.94,2.221,1.2v0.75H1922.26
        L1922.26,340.96z M1927.379,332.96L1927.379,332.96h1.791c1.959,0,2.879-1.49,2.879-3.88c0-2.42-1.42-3.271-2.979-3.271h-1.691
        V332.96z"/>
    </g>
  </svg>
</template>
