<template>
  <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.3333 8.99996C17.3333 4.39996 13.6 0.666626 8.99996 0.666626C4.39996 0.666626 0.666626 4.39996 0.666626 8.99996C0.666626 13.0333 3.53329 16.3916 7.33329 17.1666V11.5H5.66663V8.99996H7.33329V6.91663C7.33329 5.30829 8.64163 3.99996 10.25 3.99996H12.3333V6.49996H10.6666C10.2083 6.49996 9.83329 6.87496 9.83329 7.33329V8.99996H12.3333V11.5H9.83329V17.2916C14.0416 16.875 17.3333 13.325 17.3333 8.99996Z"/>
  </svg>
</template>
