<template>
  <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M21.2801 10.4914V10.2549H21.2137L21.137 10.4172L21.0607 10.2549H20.9942V10.4914H21.0413V10.3132L21.113 10.4669H21.1618L21.2336 10.3128V10.4914H21.2803H21.2801ZM20.8593 10.4914V10.2954H20.9442V10.2555H20.7273V10.2954H20.8122V10.4914H20.8589H20.8593Z" fill="#F79410"/>
    <path d="M13.7418 11.5055H8.00232V1.92725H13.7419L13.7418 11.5055Z" fill="#FF5F00"/>
    <path d="M8.36618 6.71656C8.36618 4.77361 9.34586 3.04282 10.8714 1.92743C9.71664 1.08189 8.28838 0.622989 6.81781 0.625007C3.19528 0.625007 0.258789 3.35225 0.258789 6.71656C0.258789 10.0809 3.19528 12.8081 6.81781 12.8081C8.28842 12.8101 9.71672 12.3512 10.8715 11.5057C9.34607 10.3905 8.36618 8.6596 8.36618 6.71656Z" fill="#EB001B"/>
    <path d="M21.485 6.71656C21.485 10.0809 18.5485 12.8081 14.9259 12.8081C13.4552 12.8101 12.0267 12.3512 10.8717 11.5057C12.3977 10.3903 13.3774 8.6596 13.3774 6.71656C13.3774 4.77351 12.3977 3.04282 10.8717 1.92743C12.0267 1.08192 13.4551 0.623024 14.9258 0.625006C18.5484 0.625006 21.4848 3.35225 21.4848 6.71656" fill="#F79E1B"/>
  </svg>
</template>
