<template>
  <svg width="21" height="20" viewBox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.8947 16.6667V17.7778C19.8947 19 18.9 20 17.6842 20H2.21053C0.983684 20 0 19 0 17.7778V2.22222C0 1 0.983684 0 2.21053 0H17.6842C18.9 0 19.8947 1 19.8947 2.22222V3.33333H9.94737C8.72053 3.33333 7.73684 4.33333 7.73684 5.55556V14.4444C7.73684 15.6667 8.72053 16.6667 9.94737 16.6667H19.8947ZM9.94737 14.4444H21V5.55556H9.94737V14.4444ZM14.3684 11.6667C13.4511 11.6667 12.7105 10.9222 12.7105 10C12.7105 9.07778 13.4511 8.33333 14.3684 8.33333C15.2858 8.33333 16.0263 9.07778 16.0263 10C16.0263 10.9222 15.2858 11.6667 14.3684 11.6667Z" />
  </svg>
</template>
