<template>
  <svg width="12" height="18" viewBox="0 0 12 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.99996 0.666656C2.77496 0.666656 0.166626 3.27499 0.166626 6.49999C0.166626 10.875 5.99996 17.3333 5.99996 17.3333C5.99996 17.3333 11.8333 10.875 11.8333 6.49999C11.8333 3.27499 9.22496 0.666656 5.99996 0.666656ZM5.99996 8.58332C4.84996 8.58332 3.91663 7.64999 3.91663 6.49999C3.91663 5.34999 4.84996 4.41666 5.99996 4.41666C7.14996 4.41666 8.08329 5.34999 8.08329 6.49999C8.08329 7.64999 7.14996 8.58332 5.99996 8.58332Z"/>
  </svg>
</template>
