<template>
  <svg width="23" height="20" viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M23 17.5L20.4444 17.5L20.4444 15L23 15L23 5L20.4444 5L20.4444 2.5L23 2.5L23 0L0 -1.00536e-06L-1.09278e-07 2.5L2.55556 2.5L2.55556 5L-2.18557e-07 5L-6.55671e-07 15L2.55555 15L2.55555 17.5L-7.64949e-07 17.5L-8.74228e-07 20L23 20L23 17.5ZM5.11111 5L5.11111 2.5L7.66667 2.5L7.66667 5L5.11111 5ZM10.2222 5L10.2222 2.5L12.7778 2.5L12.7778 5L10.2222 5ZM15.3333 5L15.3333 2.5L17.8889 2.5L17.8889 5L15.3333 5ZM5.11111 17.5L5.11111 15L7.66667 15L7.66667 17.5L5.11111 17.5ZM10.2222 17.5L10.2222 15L12.7778 15L12.7778 17.5L10.2222 17.5ZM15.3333 17.5L15.3333 15L17.8889 15L17.8889 17.5L15.3333 17.5Z" />
  </svg>
</template>
