<template>
  <svg width="22" height="23" viewBox="0 0 22 23"  xmlns="http://www.w3.org/2000/svg">
    <path d="M11 0.666626C5.01996 0.666626 0.166626 5.51996 0.166626 11.5C0.166626 17.48 5.01996 22.3333 11 22.3333C16.98 22.3333 21.8333 17.48 21.8333 11.5C21.8333 5.51996 16.98 0.666626 11 0.666626ZM11 3.91663C12.7983 3.91663 14.25 5.36829 14.25 7.16663C14.25 8.96496 12.7983 10.4166 11 10.4166C9.20163 10.4166 7.74996 8.96496 7.74996 7.16663C7.74996 5.36829 9.20163 3.91663 11 3.91663ZM11 19.3C8.29163 19.3 5.89746 17.9133 4.49996 15.8116C4.53246 13.6558 8.83329 12.475 11 12.475C13.1558 12.475 17.4675 13.6558 17.5 15.8116C16.1025 17.9133 13.7083 19.3 11 19.3Z"/>
  </svg>
</template>
