<template>
  <svg width="35" height="10" viewBox="0 0 35 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.3136 9.74667L14.03 0.438232H16.7753L15.0577 9.74667H12.3136Z" fill="white"/>
    <path d="M24.9761 0.638999C24.4323 0.450418 23.58 0.248047 22.5156 0.248047C19.8029 0.248047 17.8921 1.51053 17.8758 3.31994C17.8605 4.65746 19.2399 5.40361 20.2813 5.84886C21.3499 6.30519 21.7092 6.59615 21.704 7.0035C21.6972 7.6275 20.8507 7.91246 20.0615 7.91246C18.9628 7.91246 18.379 7.77138 17.4774 7.42394L17.1235 7.27596L16.7383 9.35973C17.3795 9.61963 18.5652 9.84469 19.7964 9.85638C22.6823 9.85638 24.5557 8.6083 24.577 6.67608C24.5873 5.61715 23.8559 4.81138 22.272 4.14701C21.3124 3.71641 20.7248 3.42906 20.731 2.99303C20.731 2.60612 21.2284 2.1924 22.3033 2.1924C23.2009 2.17951 23.8513 2.36044 24.358 2.54902L24.604 2.65643L24.9761 0.638999Z" fill="white"/>
    <path d="M32.0408 0.438232H29.9194C29.2623 0.438232 28.7704 0.60399 28.4818 1.21015L24.4047 9.74063H27.2875C27.2875 9.74063 27.7588 8.59369 27.8654 8.34182C28.1804 8.34182 30.981 8.34582 31.3814 8.34582C31.4635 8.67172 31.7154 9.74063 31.7154 9.74063H34.2628L32.0408 0.438232ZM28.675 6.44887C28.9021 5.91256 29.7688 3.84677 29.7688 3.84677C29.7527 3.87155 29.9942 3.30785 30.1328 2.95836L30.3184 3.7609C30.3184 3.7609 30.8441 5.98284 30.9539 6.44873H28.675V6.44887Z" fill="white"/>
    <path d="M0.360511 0.438232L0.325439 0.631867C1.41069 0.874655 2.37998 1.22606 3.2286 1.66319L5.66458 9.73175L8.56925 9.72878L12.8913 0.438232H9.98305L7.29534 6.78591L7.00904 5.49585C6.99563 5.45599 6.98105 5.41607 6.96613 5.37605L6.03177 1.2241C5.86564 0.634676 5.38367 0.458774 4.78741 0.438232H0.360511Z" fill="white"/>
  </svg>
</template>
