<template>
  <nav>
<div>
</div>
    <Link as="div" href="/home">
      <img src="../../../img/logo-plataforma.png" />
    </Link>
    <div @click="openCloseMenu">
      <img src="../../../img/login-icon.png" />
    </div>
  </nav>
</template>
<script>
import { Link } from "@inertiajs/inertia-vue3";
import PagesDropdown from "@/Components/Dropdowns/PagesDropdown.vue";

export default {
  data() {
    return {
      menuOpen: false
    }
  },
  methods: {
    openCloseMenu: () => {
      if ( document
          .querySelector(".menu-user-control").classList.contains("openned")) {
        document
          .querySelector(".menu-user-control")
          .classList.remove("openned");
      } else {
        document.querySelector(".menu-user-control").classList.add("openned");
      }
    },
  },
  components: {
    PagesDropdown,
    Link,
  },
};
</script>
<style scoped>
nav {
  background: #172cc1;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
</style>
