<template>
  <EventInput
    :name="`name`"
    type="text"
    placeholder="Nome completo"
  />
</template>

<script>
import EventInput from "@/Components/Forms/Input.vue";
export default {
  setup() {

  },
  components: {
    EventInput
  }
}
</script>
