<template>
  <Layout>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            Página: Criar novo Evento
          </div>
          <div class="mt-6">Errors: {{ errors }}</div>
          <div class="mt-6">eventAddressList: {{ eventAddressList }}</div>
          <div class="mt-6">subjectList: {{ subjectList }}</div>
          <div class="mt-6">categoryList: {{ categoryList }}</div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import { watch } from 'vue';
import Layout from '@/Layouts/Include.vue';
import { Inertia } from '@inertiajs/inertia'

export default {
  layout: (h, page) => h(Layout, () => child),

  // Using the shorthand
  layout: Layout,

  setup(props) {
    watch(() => props.errors, (NewErrors, prevErrors) => {
      console.log(NewErrors);
      setErrors(NewErrors);
    })

    function send() {
      const data = {
        name: '',
      };
      Inertia.get('/organizador/meus-eventos', data);
    }

    return {
      send
    }
  },

  props: {
    errors: Object,
    eventAddressList: Object,
    subjectList: Object,
    categoryList: Object
  },

  components: {
  }
}
</script>
