<template>
  <Layout>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            Página: Painel do Evento
          </div>
          <div class="mt-6">Errors: {{ errors }}</div>
          <div class="mt-6">event: {{ event }}</div>
          <div class="mt-6">ticketTypes: {{ ticketTypes }}</div>
          <div class="mt-6">soldTickets: {{ soldTickets }}</div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import { watch } from 'vue';
import Layout from '@/Layouts/Include.vue';

export default {
  layout: (h, page) => h(Layout, () => child),

  // Using the shorthand
  layout: Layout,

  setup(props) {
    watch(() => props.errors, (NewErrors, prevErrors) => {
      console.log(NewErrors);
      setErrors(NewErrors);
    })


    return {}
  },

  props: {
    errors: Object,
    event: Object,
    ticketTypes: Object,
    soldTickets: Object,
  },

  components: {
  }
}
</script>
