<template>
  <div class="boleto-card">
    <installment-carne :carne="boleto.transactions[0]"></installment-carne>
  </div>
</template>
<script>
import InstallmentCarne from "@/Components/Order/InstallmentCarne.vue";


import moment from "moment";
 
export default {
  setup(props) {
    return {
      boleto: props.boleto,
    };
  },
  data() {
    return {};
  },
  computed: {
    dueDate() {
      return moment(this.order.transactions[0].due_date).format("DD/MM/YYYY [-] HH:mm");
    },
  },
  props: {
    boleto: Object,
  },
  methods: {},
  components: {
 InstallmentCarne
  },
};
</script>
<style lang="scss" scoped>

</style>