<template>
  <div class="credit-card">
    <div class="info-credit">
      <div class="credicard">
        <img src="../../../img/creditCard.png" />
      </div>
      <div class="creditTitle">Cartão de Credito</div>
      <div class="creditNumber">**000</div>
    </div>
    <hr />

    <div class="infoCredit">
      Estamos aguardando a confirmação do pagamento por parte da operadora do
      cartão.
      <br />

      Se tudo der certo os seus ingressos serão enviados por e-mail.
    </div>
  </div>
</template>
<script>


export default {
  setup(props) {
    return {
      order: props.order,
    };
  },
  data() {
    return {};
  },
  computed: {
  },
  props: {
    order: Object,
  },
  methods: {},
  components: {

  },
};
</script>
<style lang="scss" scoped>
.info-credit{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 1rem 2rem;
}

hr{
        margin-bottom: 2rem;
}

.infoCredit {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

</style>