<template>
  <div class="ticket-card">
    <InfoEvent :event="event"></InfoEvent>
    <div class="order-status">Aguardando Pagamento</div>
    <Pix :order="order" v-if="order.payment_method === 'pix'"></Pix>
    <Carne
      :order="order"
      :disabledWaitingLabel="true"
      v-else-if="order.payment_method === 'payment_book'"
    ></Carne>
    <Boleto
      :boleto="order"
      v-else-if="order.payment_method === 'invoice'"
    ></Boleto>
    <credit-card :order="order"  v-else-if="order.payment_method === 'credit_card'"></credit-card>
  </div>
</template>
<script>
import InfoEvent from "@/Components/Headers/InfoEvent.vue";
import Pix from "@/Components/Payments/Pix.vue";
import Carne from "@/Components/Order/CarneCard.vue";
import Boleto from "@/Components/Payments/Boleto.vue";
import CreditCard from "@/Components/Payments/CreditCard.vue";


export default {
  setup(props) {
    return {
      order: props.order,
      event: props.event,
    };
  },
  data() {
    return {};
  },
  props: {
    order: Object,
    event: Object,
  },
  methods: {},
  components: {
    InfoEvent,
    Pix,
    Carne,
    Boleto,
    CreditCard
  },
};
</script>
<style scoped>
.ticket-card {
  border: 1px solid rgba(39, 48, 62, 0.31);
  padding: 20px;
  border-radius: 5px;
}
.order-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #172cc1;
  border: 1px solid #172cc1;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
</style>