<template>
  <div class="pix-card">
    <div class="qr-code"><img :src="order.infoPix.qrcode" /></div>
    <div class="cod-pix">
      {{ order.infoPix.emv }}
    </div>
    <div class="favorecido">
      <div class="favorecido-title">Favorecido:</div>
      <div>{{ order.infoPix.description }}</div>
    </div>
    <div class="pague">
      <div>Faça o Pagamento até</div>
      <div class="data-final">{{ dueDate }}</div>
    </div>

    <copy-button :copyText="order.infoPix.emv"></copy-button>
  </div>
</template>
<script>
import InfoEvent from "@/Components/Headers/InfoEvent.vue";
import CopyButton from "@/Components/Forms/CopyButton.vue";

import moment from "moment";
 
export default {
  setup(props) {
    return {
      order: props.order,
    };
  },
  data() {
    return {};
  },
  computed: {
    dueDate() {
      return moment(this.order.transactions[0].due_date).format("DD/MM/YYYY [-] HH:mm");
    },
  },
  props: {
    order: Object,
  },
  methods: {},
  components: {
    InfoEvent,
    CopyButton
  },
};
</script>
<style lang="scss" scoped>
.order-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #172cc1;
  border: 1px solid #172cc1;
  padding: 10px;
  border-radius: 5px;
}

.pix-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .qr-code {
    width: 50%;
    margin-bottom: 1rem;
  }

  .cod-pix {
    word-break: break-all;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .favorecido-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .data-final {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .favorecido {
    margin: 1rem 0;
    text-align: center;
  }
  .pague {
    text-align: center;
  }
}
</style>