<template>
<div>
    <PageDefault>
      <template v-slot:pageTitle>
        <UserInfo :title="'Nosso Samba | Montes Claros'">
            <ThreeInfosButton></ThreeInfosButton>

        </UserInfo>
      </template>
      <template v-slot:content>
            <CarneCard></CarneCard>

      </template>
    </PageDefault>
  </div>

</template>
<script>
import PageDefault from "@/Layouts/PageDefault.vue";
import UserInfo from "@/Components/Headers/UserInfo.vue";
import CarneCard from "@/Components/Order/CarneCard.vue";
import ThreeInfosButton from "@/Components/Headers/ThreeInfosButton.vue";


export default {
  data() {
    return {};
  },
  props: {
    order: Object,
  },
  components: {
    CarneCard,
    PageDefault,
    UserInfo,
    ThreeInfosButton
  },
};
</script>
<style scoped>
</style>