<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <UserInfo :title="'Meus Pedidos'"></UserInfo>
      </template>
      <template v-slot:content>
        <div v-for="(item, index) in orders" :key="index">
          <OrderCard :order="item"></OrderCard>
        </div>
      </template>
    </PageDefault>
  </div>
</template>
<script>
import PageDefault from "@/Layouts/PageDefault.vue";
import UserInfo from "@/Components/Headers/UserInfo.vue";
import OrderCard from "@/Components/Order/OrderCard.vue";

export default {
  data() {
    return {
      orders: [
         { status: "Aprovado", route: "order-info" },
        { status: "Aguardando Pagamento", route: "carne" },
        { status: "Cancelado", route: "meus-pedidos" },
      ],
    };
  },
  components: {
    PageDefault,
    UserInfo,
    OrderCard,
  },
  props: {
    errors: Object,
  },
};
</script>
<style scoped>
</style>