<template>
  <div>
    <PageDefault>
      <template v-slot:pageTitle>
        <UserInfo :title="'Nosso Samba | Montes Claros'">
          <ThreeInfosButton></ThreeInfosButton>
        </UserInfo>
      </template>
      <template v-slot:content>
        <div class="ticket-up">
          <TicketCard></TicketCard>
        </div>
        <div class="ticket-up">
          <TicketCard></TicketCard>
        </div>
      </template>
    </PageDefault>
  </div>
</template>
<script>
import PageDefault from "@/Layouts/PageDefault.vue";
import UserInfo from "@/Components/Headers/UserInfo.vue";
import ThreeInfosButton from "@/Components/Headers/ThreeInfosButton.vue";
import TicketCard from "@/Components/Order/TicketCard.vue";

export default {
  data() {
    return {
      orders: [
        { status: "Aprovado", route: "/order-info" },
        { status: "Aguardando Pagamento", route: "/carne" },
        { status: "Cancelado", route: "" },
      ],
    };
  },
  components: {
    PageDefault,
    UserInfo,
    ThreeInfosButton,
    TicketCard,
  },
  props: {
    errors: Object,
  },
};
</script>
<style scoped>

.ticket-up{
  margin-top: 10px;
}
</style>