<template>
  <button
    class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
    :type="type"
  >
    <slot />
  </button>
</template>

<script>
export default {
  setup() {

  },
  props: {
    type: {
        type: String,
        default: 'submit',
    },
  }
}
</script>

<style scoped>
button{
  background: #172CC1;
}
</style>