<template>
  <label class="inline-flex items-center cursor-pointer">
    <input
      :name="name"
      type="checkbox"
      :value="inputValue"
      class="form-checkbox border-0 rounded text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150"
    />
    <span class="ml-2 text-sm font-semibold text-blueGray-600">
      <slot/>
    </span>
  </label>
  <EventErrorMessage :error="errorMessage" class="block"/>
</template>

<script>
import { toRef } from "vue";
import { useField } from "vee-validate";
import EventErrorMessage from "@/Components/Forms/ErrorMessage.vue";

export default {
  setup(props) {
    const name = toRef(props, "name");

    const {
      value: inputValue,
      errorMessage,
      handleBlur,
      handleChange,
      meta,
    } = useField(name, undefined, {
      initialValue: props.value,
      validateOnValueUpdate: true,
    }, );

    function eventBlur() {
      handleChange();
    }

    return {
      handleChange,
      handleBlur,
      errorMessage,
      inputValue,
      meta,

      eventBlur,
    };
  },
  emits: [
    'update:value'
  ],
  props: {
    name: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
  },
  components: {
    EventErrorMessage
  }
}
</script>
