
<template>
  <div class="button-ticket">
    <button @click="copyToClipBoard">Copiar Código <img src="../../../img/copy.png" /></button>
  </div>
</template>
<script>
export default {
    setup(props) {
    return {
      copyText: props.copyText
    };
  },
  data() {
    return {};
  },
  methods: {
    copyToClipBoard() {
      navigator.clipboard.writeText(this.copyText);
    },
  },
  props: {
    copyText: String,
  },
};
</script>
<style scoped>
.button-ticket {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
      width: 100%;
}

button img {
  margin-left: 10px;
}

button {
  background: #172cc1;
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>