<template>
  <span v-if="error" class="text-red-600 text-xs">{{ error }}</span>
</template>

<script>
export default {
  setup() {


  },
  props: {
    error: {
      type: String,
      default: ''
    }
  }
}
</script>
