<template>
  <input
    :name="name"
    type="hidden"
    :value="value"
  />
</template>

<script>
import { toRef } from "vue";
import { useField } from "vee-validate";

export default {
  setup(props) {
    const name = toRef(props, "name");

    useField(name, undefined, {
      initialValue: props.value,
      validateOnValueUpdate: false,
    }, );

    return {
    };
  },
  props: {
    name: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
  },
}
</script>
