<template>
<div class="input-padding">
    <input
    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
    :name="name"
    :type="type"
    :value="inputValue"
    :placeholder="placeholder"
    :disabled="disabled"
    v-model="inputValue"
    v-mask="getmask"
    @blur="eventBlur"
    @focus="eventFocus"
    @input="$emit('update:modelValue', $event.target.value)"
  />
  <div class="input-search">
    <img src="../../../img/search.png" />
  </div>
    <EventErrorMessage :error="errorMessage" />

</div>

</template>

<script>
import { toRef } from "vue";
import { useField } from "vee-validate";
import EventErrorMessage from "@/Components/Forms/ErrorMessage.vue";
import {mask} from 'vue-the-mask'

export default {
  setup(props) {
    const name = toRef(props, "name");

    const {
      value: inputValue,
      errorMessage,
      resetField,
      handleBlur,
      handleChange,
      meta,
    } = useField(name, undefined, {
      initialValue: props.value,
      validateOnValueUpdate: false,
    }, );

    function eventBlur() {
      handleChange(this.inputValue);
    }

    function eventFocus() {
      resetField({
        value: this.inputValue,
      });
    }

    return {
      handleChange,
      handleBlur,
      errorMessage,
      inputValue,
      meta,

      eventBlur,
      eventFocus
    };
  },
  emits: [
    'update:modelValue'
  ],
  props: {
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    modelValue: {
      type: String,
      default: ''
    },
    mask: {
      type: [String, Object],
      default: ''
    }
  },
  computed: {
    getmask: function () {
      return this.mask
    }
  },
  components: {
    EventErrorMessage
  },
  directives: {
    mask: (el, binding) => {
      if (!binding.value) return;
      mask(el, binding);
    }
  }
}
</script>
<style scoped>
.input-padding{
position: relative;
}
.input-search{
  position: absolute;
    top: 13px;
    left: 10px;
}
input{
  padding-left: 40px;
}
</style>