
<template>
  <div class="button-ticket">
    <a :href="urlDownload" class="baixarPdf" target="_blank">Baixar PDF</a>
  </div>
</template>
<script>
export default {
  setup(props) {
    return {
      urlDownload: props.urlDownload,
    };
  },
  data() {
    return {};
  },
  methods: {},
  props: {
    urlDownload: String,
  },
};
</script>
<style scoped>
.baixarPdf {
  background: none;
  color: #172cc1;
  border: 1px solid #172cc1;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>