<template>
<div class="input-padding">

  <select
    class="disabled:bg-slate-200 border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
    :name="name"
    :disabled="disabled"
    v-model="inputValue"
    @blur="eventBlur"
    @focus="eventFocus"
    @change="$emit('update:modelValue', $event.target.value)"
  >
    <option v-show="placeholder" value="" disabled>{{placeholder}}</option>
    <option v-for="option in options" v-bind:value="option.value">
      {{ option.text }}
    </option>
  </select>
  <div class="select-location">
    <img src="../../../img/location.png" />
  </div>
  <EventErrorMessage :error="errorMessage" />
  </div>
</template>

<script>
import { toRef } from "vue";
import { useField } from "vee-validate";
import EventErrorMessage from "@/Components/Forms/ErrorMessage.vue";

export default {
  setup(props) {
    const name = toRef(props, "name");

    const {
      value: inputValue,
      errorMessage,
      resetField,
      handleBlur,
      handleChange,
      meta,
    } = useField(name, undefined, {
      initialValue: props.value,
      validateOnValueUpdate: false,
    });

    function eventBlur() {
      handleChange(this.inputValue);
    }

    function eventFocus() {
      resetField({
        value: this.inputValue,
      });
    }

    return {
      handleChange,
      handleBlur,
      errorMessage,
      inputValue,
      meta,

      eventBlur,
      eventFocus
    };
  },
  emits: [
    'update:modelValue'
  ],
  props: {
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    modelValue: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default: []
    }
  },
  components: {
    EventErrorMessage
  },
}
</script>
<style scoped>
.input-padding{
  position: relative;
}
.select-location{
      top: 10px;
    position: absolute;
    left: 10px;

}

select{
      padding: 10px 40px;
}
</style>