<template>
  <div @click="closeMenu">
    <div class="background-modal menu-user-control"></div>

    <div class="modal-item">
      <Link as="div"
      :href="'/' + menu.route"
        v-for="(menu, index) in menuItems.items"
        :key="index"
        class="items-menu"
      >
       
          <div class="imagem">
            <img :src="'../../../../images/' + menu.icon" />
          </div>

          <div class="title-menu">{{ menu.title }}</div>
        </Link>
      <hr />
      <button class="centralOrganizador">Central do Organizador</button>
    </div>
  </div>
</template>

<script>
import menuItem from "./menuItem";
import { Link } from '@inertiajs/inertia-vue3';


export default {
  setup() {},
  data() {
    return {
      menuItems: menuItem,
    };
  },
  props: {
    event: {
      type: String,
    },
    status: {
      type: Boolean,
    },
  },
  components: {
    Link
  },
  methods:{
    closeMenu() {
            document
          .querySelector(".menu-user-control")
          .classList.remove("openned");
    }
  }
};
</script>
<style scoped>
.background-modal {
  position: absolute;
  left: 0;
  right: 0;
  background: #00000063;
  height: 100%;
  top: 0;
  bottom: 0;
}
.modal-item {
  top: 0;
  z-index: 99999999;
  width: 60%;
  background: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.items-menu {
  display: flex;
  align-items: center;
  padding: 20px;
}

.imagem {
  margin-right: 10px;
}

.title-menu {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

button {
  border: 1px solid #7c09b2;
  color: #7c09b2;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  font-size: 12px;
}

.menu-user-control {
  display: none;
}

.modal-item {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.menu-user-control.openned + .modal-item {
  max-height: 800px;
}

.menu-user-control.openned {
  display: block;
}
</style>
