<template>
  <div>
    <navbar />
    <main>
      <slot />
    </main>
    <footer-component />
  </div>
</template>
<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";

export default{
  setup() {

  },
  components: {
    Navbar,
    FooterComponent,
  }
}
</script>
