<template>
  <div class="page">
    <navbar />
    <div class="page-interior">
      <div class="title-page" v-if="!disableTitlePage">
        <slot name="pageTitle"></slot>
      </div>

      <main class="page-container" :class="disablePadding && 'noPadding'">
        <slot name="content"></slot>
      </main>
      <div >
        <MenuUser></MenuUser>
      </div>
    </div>
          <footer-component />

  </div>
</template>
<script>
import Navbar from "@/Components/Navbars/AuthNavbar.vue";
import FooterComponent from "@/Components/Footers/Footer.vue";
import MenuUser from "@/Components/Menus/MenuUser.vue"


export default {
  data() {
    return {
      isMenuOpen: false
    };
  },
  components: {
    Navbar,
    FooterComponent,
        MenuUser

  },
  methods: {


  },
  props: {
    errors: Object,
    disableTitlePage: Boolean,
    disablePadding: Boolean
  },
};
</script>
<style scoped>
.page{
      min-height: 100vh;
    position: relative;
    padding-bottom: 10rem;
}
footer{
  position: absolute;
    bottom: 0;
    /* height: 25%; */
    height: 10em;

}
.page-interior{
  position: relative;

    min-height: 75vh;

}
.title-page {
  background: #172cc1;
  padding: 20px;
  min-height: 152px;
      display: flex;
    align-items: center;
        justify-content: center;

}

.page-container {
  padding: 20px;
}


.noPadding{
  padding: 0;
}

</style>