<template>
  <footer>
    <div class="info-pagamento text-default">
      <div>
        <div>REDES SOCIAIS</div>
        <div class="footer-items">
          <a href="https://www.instagram.com/seupassaportedigital" target="_blank">
            <img src="../../../img/Instagram.png" />
          </a>
          <div>
            <a href="https://www.instagram.com/seupassaportedigital" target="_blank">
              <img src="../../../img/facebook-icon.png" />
            </a>
          </div>
        </div>
      </div>
      <div>
        <div>PAGUE COM</div>

        <div class="footer-items">
          <div>
            <img src="../../../img/visa-icon.png" />
          </div>
          <div>
            <img src="../../../img/diner-club-icon.png" />
          </div>
          <div>
            <img src="../../../img/mastercard-icon.png" />
          </div>
          <div>
            <img src="../../../img/pix-icon.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="text-default copiright">
      Passaporte Digital - Todos os Direitos Reservados
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      date: new Date().getFullYear(),
    };
  },
};
</script>
<style scoped t>
footer {
  background: #172cc1;
      padding: 20px 9%;
  width: 100%;

}

.info-pagamento {
  display: flex;
  justify-content: space-between;
}

.text-default{
  font-size: 12px;
  color: #fff;
}

.footer-items{
  display: flex;
  align-items: center;
  height: 47px;
      flex-wrap: wrap;
}
.footer-items >a{
  margin-right: 9px;
}

.copiright{
  margin-top: 1rem;
}
</style>