<template>
  <div>
    <main>
      <section class="relative w-full h-full py-40 min-h-screen">
        <div
          class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
        ></div>
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
              >
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-blueGray-400 text-center mb-3 mt-3 font-bold">
                    <small>Esqueceu sua senha? informe-nos seu e-mail</small>
                  </div>
                  <form>
                    <div class="relative w-full mb-3">
                      <EventLabel for="email" value="E-mail" />
                      <EventInput
                        name="email"
                        type="email"
                        placeholder="E-mail"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                        {{ status }}
                      </div>
                    </div>
                    <div class="text-center mt-6">
                      <EventButton type="button" @click="send">
                        Enviar link
                      </EventButton>
                    </div>
                  </form>
                </div>
              </div>
              <div class="flex flex-wrap mt-6 relative">
                <div class="w-1/2">
                  <Link :href="route('login')" class="text-blueGray-200">
                    <small>Ir para Login</small>
                  </Link>
                </div>
                <div class="w-1/2 text-right">
                  <Link href="/register" class="text-blueGray-200">
                    <small>Criar uma nova conta</small>
                  </Link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer-small absolute />
      </section>
    </main>
  </div>
</template>
<script>
import { watch } from 'vue'
import { Link } from '@inertiajs/inertia-vue3';
import EventInput from "@/Components/Forms/Input.vue";
import EventLabel from "@/Components/Forms/Label.vue";
import EventButton from "@/Components/Forms/Button.vue";
import FooterSmall from "@/Components/Footers/FooterSmall.vue";
import { Inertia } from '@inertiajs/inertia'
import { useForm } from 'vee-validate';
import rulesValidation from '@/Validations/ForgotPasswordValidation'

export default {
  setup(props) {
    const {values: form, validate: formValidate, setErrors} = useForm({
      validationSchema: rulesValidation,
    });

    watch(() => props.errors, (errors, prevErrors) => {
      let formatedErrors = {};
      for (let [key, value] of Object.entries(errors)) {
        formatedErrors[key] = value;
      }
      setErrors(formatedErrors);
    });

    /**
     * Checks if the form is valid
     */
    async function isValid() {
      const { valid } = await formValidate();
      return valid;
    }

    /**
     * Send the form data to the server
     */
    function send() {
      isValid().then( (valid) => {
        if(! valid ) {
          return;
        }

        Inertia.post(
          route('password.email'),
          form
        );
      });
    }

    return {
      send
    };
  },
  components: {
    EventInput,
    EventLabel,
    EventButton,
    FooterSmall,
    Link
  },
  props: {
    status: String,
  },
};
</script>
