<template>
  <div>
    <main>
      <section class="relative w-full h-full py-40 min-h-screen">
        <div
          class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
        ></div>
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
              >
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-blueGray-400 text-center mb-3 mt-3 font-bold">
                    <small>Informe seus dados para redefinir sua senha</small>
                  </div>
                  <form>
                    <div class="relative w-full mb-3">
                      <EventLabel for="email" value="E-mail" />
                      <EventInput
                        name="email"
                        type="email"
                        :value="email"
                        placeholder="E-mail"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <EventLabel for="email" value="Senha" />
                      <EventInput
                        name="password"
                        type="password"
                        placeholder="Senha"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <EventLabel for="email" value="Confirme sua senha" />
                      <EventInput
                        name="password_confirmation"
                        type="password"
                        placeholder="Confirme sua senha"
                      />
                    </div>
                    <div class="text-center mt-6">
                      <EventButton type="button" @click="send">
                        Alterar
                      </EventButton>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer-small absolute />
      </section>
    </main>
  </div>
</template>
<script>
import { watch } from 'vue'
import { Link } from '@inertiajs/inertia-vue3';
import EventInput from "@/Components/Forms/Input.vue";
import EventLabel from "@/Components/Forms/Label.vue";
import EventButton from "@/Components/Forms/Button.vue";
import FooterSmall from "@/Components/Footers/FooterSmall.vue";
import { Inertia } from '@inertiajs/inertia'
import { useForm } from 'vee-validate';
import rulesValidation from '@/Validations/ResetPasswordValidation'

export default {
  setup(props) {
    const {values: form, validate: formValidate, setErrors} = useForm({
      validationSchema: rulesValidation,
    });

    watch(() => props.errors, (errors, prevErrors) => {
      let formatedErrors = {};
      for (let [key, value] of Object.entries(errors)) {
        formatedErrors[key] = value;
      }
      setErrors(formatedErrors);
    });

    /**
     * Checks if the form is valid
     */
    async function isValid() {
      const { valid } = await formValidate();
      return valid;
    }

    /**
     * Send the form data to the server
     */
    function send() {
      isValid().then( (valid) => {
        if(! valid ) {
          return;
        }

        const data = {
          token: props.token,
          email: form.email,
          password: form.password,
          password_confirmation: form.password_confirmation
        };

        console.log(data);

        Inertia.post(
          route('password.update'),
          data,
          {
            onFinish: () => form.reset('password', 'password_confirmation'),
          }
        );
      });
    }

    return {
      send
    };
  },
  components: {
    EventInput,
    EventLabel,
    EventButton,
    FooterSmall,
    Link
  },
  props: {
    email: String,
    token: String,
    errors: Object,
  },
};
</script>
