<template>
  <div class="description">
    <h2 class="description__subtitle">
      A Gêmeos Produções trará o Rio até Minas com a maior novidade do ano!
    </h2>
    <p class="description__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. A purus, tristique dictumst amet, viverra nunc
      pellentesque. Vehicula mauris pellentesque aliquam eu eget et, in. Sagittis tellus in sed in. Hac ultricies
      consequat libero, dictumst fringilla placerat tristique porta. Pellentesque accumsan pretium, urna nibh nisl.
      Dignissim purus fringilla fusce faucibus semper habitant consequat blandit. Amet ullamcorper eu a, donec.
    </p>

    <h3 class="description__subtitle">Atrações:</h3>
    <ul v-for="(attraction, index) in attractions" :key="index">
      <li class="description__paragraph">{{ attraction }}</li>
    </ul>
    <h3 class="description__subtitle">
      Dicas para o dia do evento:
    </h3>
    <ul v-for="(tip, index) in tips" :key="index">
      <li class="description__paragraph">{{ tip }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      attractions: [
        'Mumuzinho',
        'Thiaguinho',
        'Molejo'
      ],
      tips: [
        'Não esqueça seu documento oficial com foto.',
        'Cartões são práticos, mas tenha sempre um pequeno valor em espécie com você.',
        'Carregue consigo apenas o essencial.',
        'Tenha cuidado com objetos de valor. Se possível, evite levá-los com você.',
        'Tenha em seu celular um aplicativo indicador de serviços de táxi.',
        'Para aproveitar esse dia ao máximo, lembre-se de beber água.',
      ]
    }
  }
};
</script>

<style lang="postcss" scoped>
  .description {
    @apply bg-white py-6 px-8 mb-4 mx-0 shadow-lg rounded-md;

    &__subtitle {
      @apply text-[color:var(--text-dark-color)] font-bold text-sm my-4 mx-0;
    }

    &__paragraph {
      @apply text-[color:var(--text-dark-color)] text-sm;
    }

    ul {
      @apply list-disc ml-4;
    }
  }
</style>
